#triptychContainer {

    margin: 0px;
    overflow: hidden;
    font-family: helvetica neue, helvetica, arial, sans-serif;

    /* IE10 Consumer Preview */
    background-image: -ms-radial-gradient(center, circle farthest-corner, #087BFF 0%, #00142E 100%);

    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(center, circle farthest-corner, #087BFF 0%, #00142E 100%);

    /* Opera */
    background-image: -o-radial-gradient(center, circle farthest-corner, #087BFF 0%, #00142E 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #087BFF), color-stop(1, #00142E));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #087BFF 0%, #00142E 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: radial-gradient(circle farthest-corner at center, #087BFF 0%, #00142E 100%);
}

#details {
    position: absolute;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    bottom: 50px;

    text-align: left;
    padding: 0.5em;
    z-index: 1001;

    border-radius: 10px;
    //color: white;
    color: black;
    background-color: white;

    //background-color: rgba(0, 0, 0, 0.80);

}

table.edgeTable td {
    padding-top: 3px;
    padding-right: 20px;
    padding-bottom: 3px;
    padding-left: 20px;
}

.commonEdge {
    color: rgb(255, 255, 100)
}

.network1Edge {
    color: rgb(255, 100, 100)
}

.network2Edge {
    color: rgb(100, 100, 255)
}

#details ul {
    list-style-type: square;

}

#detailsContent {
    overflow: auto;
    max-height: 400px;

}

/*
#hide_details {
    float: right;
    text-align: right;
}

#expand {
    vertical-align: middle;
}
*/
/*
a:link { color:white; text-decoration:none;}	
a:visited { color:white; text-decoration:none;}	
a:hover { color:yellow; text-decoration:none;}	
a:active { color:gray; text-decoration:none;}	

#controls { 
	position:absolute; 
	width: 60px; 
	right: 10px;
	text-align:right; 
	margin:1em 0 -4.5em 0; 
	z-index:1010; 
	}

#back { 
	position:absolute; 
	color: white;
	left: 10px;
	text-align:left; 
	margin:1em 0 -4.5em 0; 
	z-index:1010; 
	}


	
#logo { 
	float: left;
	padding-left: 10px;
	width: 300px; 
	text-align:left; 
	}

#footer { 
	position:absolute; 
	width: 100%; 
	bottom: 5px;
	text-align:right; 
	z-index:1001; 
	color: white;
	background-color:rgba(0,0,0,0.0);
	}
	
#copyright { 
	float: right;
	width: 300px; 
	right: 10px;
	text-align:right; 
	position:absolute; 
	bottom: 5px;
	}
*/

	

	
	