/******************************************************************************
 * Styling by element
 ******************************************************************************/
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face
{
    font-family: "Helvetica Neue", Helvetica, Geneva, Arial, Verdana, sans-serif;
}

body
{

    margin: 0;
    padding-top: 140px;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right:0;
    color: #333;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 18px;
    -webkit-font-smoothing: subpixel-antialiased;
    height: 100%;
}

a:hover
{
    text-decoration: underline;
}

b, strong
{
    font-weight: bold;
}

fieldset
{
    border: 1px solid #999;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 1.5em;
    padding: 1em;
}

h1, h2, h3, h4, h5, h6
{

    font-weight: 200;
    letter-spacing:1px;
    //margin-bottom: 1em;
}

legend
{
    font-size: 1.5em;
}

label
{
    display: inline-block;
}

input[readonly],
    textarea[readonly]
{
    background: #FFF;
}

input[type="number"]
{
    width: 5em;
}

input[type="search"]
{
    padding-left: 1.5em;
}

section
{
    position: relative;
}

tbody > tr:nth-child(odd)
{
    background: #EEE;
    background: linear-gradient(center top, #F2F2F2, #EEE);
    background: -moz-linear-gradient(center top, #F2F2F2, #EEE);
    background: -ms-linear-gradient(center top, #F2F2F2, #EEE);
    background: -o-linear-gradient(center top, #F2F2F2, #EEE);
    background: -webkit-linear-gradient(top, #F2F2F2, #EEE);
    border-top: 1px solid #DDD;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFF", endColorstr="#DDD");
}

tbody > tr:nth-child(even)
{
    background: #CCC;
    background: linear-gradient(center top, #EEE, #DDD);
    background: -moz-linear-gradient(center top, #EEE, #DDD);
    background: -ms-linear-gradient(center top, #EEE, #DDD);
    background: -o-linear-gradient(center top, #EEE, #DDD);
    background: -webkit-linear-gradient(top, #EEE, #DDD);
    border-top: 1px solid #DDD;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#EEE", endColorstr="#DDD");
}

td
{
    margin: 0;
    padding: 3px 7px;
}

th
{
    font-size: 1.15em;
    //font-weight: bold;
    margin: 0;
    padding: 3px 7px;
}

textarea
{
    resize: none;
}

/******************************************************************************
 * Margins for all views
 ******************************************************************************/

.marginsForNGView {
    margin-left: 65px;
    margin-right: 65px;
    padding-left: 20px;
    padding-right: 20px;
}


/******************************************************************************
 * Styling by class
 ******************************************************************************/
.AlignCenter
{
    text-align: center;
}

.AlignLeft
{
    text-align: left;
}

.AlignRight
{
    text-align: right;
}

.Clear:after
{
    clear: both;
    content: "";
    display: block;
}

.Hand
{
    cursor: pointer;
}

.hero-unit
{
    border: 1px solid;
    font-weight: 100;
    background-color:#FFFFFF;
}

/******************************************************************************
 Home / Sign-in Styles
 ******************************************************************************/

.home-margins
{
    margin: 20px;
    padding: 10px;
}

.home-center
{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.home-box
{
    border-radius: 20px;
    border: 3px solid cornflowerblue;
    /*min-height: 270px;*/
    /*max-width: 250px;*/
}

.home-text
{
    font-size: 18px;
}

.home-advice
{
    font-size: 15px;
}

.home-support
{
    font-size: 11px;
}

.home-support-table
{
    background-color: white;
    border-color: white;

}

.home-support-row
{
    background: white;
    border-top: none;
}

.home-support-table > tbody > tr:nth-child(odd)
{
    background: white;
    border-top: none;
}

.home-support-table > tbody > tr:nth-child(even)
{
    background: white;
    border-top: none;
}

.home-signed-in-user
{
    border-radius: 20px;
    border: 3px solid cornflowerblue;
    min-height: 40px;
    max-width: 250px;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
}

.home-account
{
    margin-top:10px;
    font-size: 22px;
}

/******************************************************************************
 Footer Bar
 ******************************************************************************/

.footer-bar
{
    border-top: 1px solid #CCC;
}

.footer-content
{
    color: rgba(255, 255, 255, 0.8);
    -webkit-tap-highlight-color: red;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    padding-top: 10px;
    padding-bottom: 10px;

}

.footer-content > a:link
{
    color: rgb(2, 114, 201);  /*NDEx blue*/
}

.footer-content > a:visited
{
    color: rgb(2, 114, 201);  /*NDEx blue*/
}


/******************************************************************************
 * Navigation styling
 ******************************************************************************/

.navbar
{
    min-height: 10px;
}

/* styles for the black bars at the top and bottom of the screen - but not the search bar */

.navbar-ndex
{
    background-color: #000;
    border-top-color: white;
}

.navbar-ndex a
{
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Open Sans', sans-serif;

}

/* nav bar links */

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}



/* highlight nav bar links on focus or hover with a lightened black background */
.navbar-nav>li>a:focus
{
    background-color: rgb(38,38,38);
}

.navbar-nav>li>a:hover {
    background-color: rgb(38, 38, 38);
}

/* styles for the top black bar only */

.navbar-ndex-top
{
    font-size: 1.1em;
    vertical-align: top;
    letter-spacing:0px;
    /* margin-bottom is part of the hack to make the content start at the bottom of the nav bar?? */
    /*margin-bottom: 120px;*/
}

/* the color of the collapsed menu bar in the header; this is for NDEX-662 */
.icon-bar {
    background-color: lightgrey !important;
}


/* this makes the header menu "collapse" into a menu button when
max-width of the browser reaches the specified value; this is for NDEX-662 */
/*
@media (max-width: 1210px) {

    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-right {
        margin-left: -15px;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        max-height: 700px;
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
}
*/

.ndex-search-control > a {
    font-size: 14px;
}

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center; /* Optional, to align inner items
                              horizontally inside the column */
}


/*angular ui fix for cursor*/
a { cursor: pointer; }

.cursorpointer {cursor: pointer; }
.cursordefault {cursor: default; }

/* Added by David Welker, September 26, 2014 */
.indent
{
    margin-left: 20px;
}

.network-property-preview
{
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    margin-top: 5px;
    max-height: 250px;
}

.user-tasks-panel
{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.tooltip-inner {
    max-width: 500px;
}

.padded { padding: 5px; }

.small-margin-right { margin-right: 10px;}

.bordered { border: 1px solid;
    border-color: lightgray;}

.spacer {  margin-top: 5px; }



hr {
    border-color: #d3d3d3;
}

.black-border
{
    border: 1px solid black;
}

.red-border
{
    border: 1px solid red;
}

.gold-border
{
    border: 1px solid gold;
}

.lightgrey-border
{
    border: 1px solid lightgrey;
}

.green
{
    background-color: green;
}

.orange
{
    background-color: orange;
}

.red
{
    background-color: red;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.grid-tooltip {
    overflow: visible;
    z-index: 9999999;
    float: left;
    color: blue;
}

.networkGrid
{
    /* specifying width 100% will cause Network table to be distorted
    when switching tabs and resizing browser window.  See NDEX-578 */
    /*width: 100%;*/
    height: 640px;
}

.wrapLongLine {
    word-wrap: break-word;
}

.rowWithTopAndBottomPad {
    padding-top: 1em;
    padding-bottom: 2em;
}

.rowWithTwoLinesTopPad {
    padding-top: 2em;
}

.rowWithOneLineTopPad {
    padding-top: 1em;
}

.rowWithOneLineBottomPad {
    padding-bottom: 1em;
}

.rowWithFourLinesBottomPad {
    padding-bottom: 4em;
}

.ndex-nav-pills {
    font-weight: bold;
    font-size: 1.1em;
}

/* when hovering over li elements of ndex-nav-pills, change colors to the ones specified below */
ul.ndex-nav-pills > li > a:hover {
    background-color: #428bca;  /* default color of Bootstrap primary button */
    color: white;
    border-style: none;
}

/* used to add some space below button -- we use this to separate vertically-stacked buttons on MyAccount,
    Network and Group Pages */
.buttonWithMarginBottom .btn {
    margin-bottom: 5px;
}

/* this sets the width of all vertically-stacked buttons on MyAccount,
    Network and Group Pages to be the same */
.customButtonWidth {
    width: 180px !important;
}

/* this adds some space after <HR> on Network page */
.hrMarginRight {
    margin-right: 15px;
}

.rowWithTwoLinesTopPadAnd15EmFont {
    padding-top: 2em;
    font-size: 1.5em;
}

.rowWithTwoLinesTopPadAnd11EmFont {
    padding-top: 2em;
    font-size: 1.1em;
}

.hideLongLine {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.belNamespaceFileModal {
    white-space: pre;
    word-wrap: break-word;
}

.belNamespaceFileModalSize {
    width: 850px;
}

.my-modal-body-size {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

.ndex-citation-landing-page {
    font-size:18px;
    line-height:2;
    margin:2em;
    text-align: center;
}


/* the following classes (ta-toolbar, ta-toolbar.focussed ) only show textAngular toolbar when a
 * textAngular-edited field (i.e., Description or Reference in Edit Profile Modal) is in focus. */
.ta-toolbar {
    display: none;
}
.ta-toolbar.focussed {
    display: block;
}

.networkViewFrame {
    border-style: solid;
    border-color: #287EC7;
}

.networkViewActionsSectionFrame {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.networkViewPadding {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.networkViewHeaderHeader
{
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    line-height: 1;
}

.networkViewHeaderBody
{
    font-size: 1.3em;
    text-align: center;
    line-height: 1;
}

.networkPropertyName {
    font-size: 1.1em;
    font-weight: bold;
}

.networkPropertiesNameFont {
    font-size: 0.9em;
    font-weight: bold;
}
.networkPropertiesValueFont {
    font-size: 0.9em;
    font-weight: normal;
}
.networkPropertiesNameMargins {

    line-height: 1.5em;
    margin-left: 1em;
}

.networkVisibilityValue {
    color: forestgreen;
}

.cytoscapeCanvas {
    color: #777;
    border: 3px solid #e5e5e5;
    height: 800px;
    background-color: #eee;
}

.networkPropertiesTabset {
    font-size: 1.05em;
    border-style: solid;
    border-color: #287EC7;
}

.networkPropertyValueInTabsetMargins {
    font-size: 1.1em;
    margin-left: 10px;
    margin-right: 10px;
}

.networkActionsSection {
    font-size: 1.3em;
    font-weight: bold;

    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    line-height: 1;
}

.actionsLabel {
    margin-bottom: 10px;
}

.wrappedCell {
    width:100%;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}