/******************************************************************************
 * Styling by element
 ******************************************************************************/
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face
{
    font-family: "Helvetica Neue", Helvetica, Geneva, Arial, Verdana, sans-serif;
}

body
{

    margin: 0;
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right:0;
    color: #333;
    background: #F2F2F2;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 18px;
    -webkit-font-smoothing: subpixel-antialiased;
    height: 100%;
}

a:hover
{
    text-decoration: underline;
}

b, strong
{
    font-weight: bold;
}

fieldset
{
    border: 1px solid #999;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 1.5em;
    padding: 1em;
}



h1, h2, h3, h4, h5, h6
{

    font-weight: 100;
    letter-spacing:1px;
    //margin-bottom: 1em;
}

legend
{
    font-size: 1.5em;
}

label
{
    display: inline-block;
}

input[readonly],
    textarea[readonly]
{
    background: #FFF;
}

input[type="number"]
{
    width: 5em;
}

input[type="search"]
{
    padding-left: 1.5em;
}

nav
{
    margin-bottom: 60px;
}

section
{
    position: relative;
}

tbody > tr:nth-child(odd)
{
    background: #EEE;
    background: linear-gradient(center top, #F2F2F2, #EEE);
    background: -moz-linear-gradient(center top, #F2F2F2, #EEE);
    background: -ms-linear-gradient(center top, #F2F2F2, #EEE);
    background: -o-linear-gradient(center top, #F2F2F2, #EEE);
    background: -webkit-linear-gradient(top, #F2F2F2, #EEE);
    border-top: 1px solid #DDD;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFF", endColorstr="#DDD");
}

tbody > tr:nth-child(even)
{
    background: #CCC;
    background: linear-gradient(center top, #EEE, #DDD);
    background: -moz-linear-gradient(center top, #EEE, #DDD);
    background: -ms-linear-gradient(center top, #EEE, #DDD);
    background: -o-linear-gradient(center top, #EEE, #DDD);
    background: -webkit-linear-gradient(top, #EEE, #DDD);
    border-top: 1px solid #DDD;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#EEE", endColorstr="#DDD");
}

td
{
    margin: 0;
    padding: 3px 7px;
}

th
{
    font-size: 1.15em;
    //font-weight: bold;
    margin: 0;
    padding: 3px 7px;
}

textarea
{
    resize: none;
}

/******************************************************************************
 * Styling by class
 ******************************************************************************/
.AlignCenter
{
    text-align: center;
}

.AlignLeft
{
    text-align: left;
}

.AlignRight
{
    text-align: right;
}

.Clear:after
{
    clear: both;
    content: "";
    display: block;
}

.Hand
{
    cursor: pointer;
}

.hero-unit
{
    border: 1px solid;
    background-color:#FFFFFF;
}

input.Invisible,
    select.Invisible,
    textarea.Invisible
{
    border: 1px solid #FFF;
    box-shadow: 0 0 0 0;
    outline: 0 none;
}

input.Invisible:not([readonly]):hover,
    select.Invisible:not([readonly]):hover,
    textarea.Invisible:not([readonly]):hover
{
    border: 1px dashed #CCC;
}

input.Invisible:not([readonly]):focus,
    select.Invisible:not([readonly]):focus,
    textarea.Invisible:not([readonly]):focus
{
    border: 1px solid #52A8EC;
}

label.Attribute
{
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
    text-align: right;
    //vertical-align: top;
    width: 10em;
}

label.Attribute-Editable
{
    display: inline-block;
    font-weight: bold;
    margin: 0.4em 5px 0 0;
    text-align: right;
    //vertical-align: top;
    width: 10em;
}

select
{
    width: auto;
}

/******************************************************************************
 * wrap and footer styling
 ******************************************************************************/


/* Wrapper for page content to push down footer */
#main {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
    background: #fff;

}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 20px;
    border-top: 1px solid #CCC;
    padding: 10;
}


/******************************************************************************
 * Navigation styling
 ******************************************************************************/
.main-nav
{
    font-size: 1.5em;
    vertical-align: middle;
}

/******************************************************************************
 * Work Surface styling
 ******************************************************************************/
#divSidebar
{
    background: #EEE;
    height: 100%;
    margin: 0;
    padding: 0 0 0 10px;
    position: fixed;
    right: 0px;
    top: 40px;
    width: 0;
    z-index: 2;
}

#divSidebar > a:first-child
{
    left: 0;
    position: absolute;
    top: 0;
}

#divWorkSurface
{
    height: 250px;
    margin: 5px;
    padding-left: 13px;
    overflow-y: auto;
    width: 150px;
}

#divWorkSurface > ul
{
    margin: 0;
}

#divTools
{
    font-size: 0;
    text-align: center;
}

.thumbText
{
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}

.thumbIcon
{
    width: 120px;
    height: 100px;
    background: white;
}

/******************************************************************************
 * Modal styling
 ******************************************************************************/
#divModalBackground
{
    background: #666;
    display: none;
    filter: alpha(opacity=50);
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}

#divModal
{
    background: #FFF;
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: 0 0 8px #999;
    display: none;
    height: auto;
    left: 50%;
    margin-left: -20%;
    overflow: hidden;
    position: fixed;
    top: 15%;
    width: 40%;
    z-index: 5;
}

#divModal > div.Title
{
    background: #0E5177;
    background: linear-gradient(center top, #438EB9, #0E5177);
    background: -moz-linear-gradient(center top, #438EB9, #0E5177);
    background: -ms-linear-gradient(center top, #438EB9, #0E5177);
    background: -o-linear-gradient(center top, #438EB9, #0E5177);
    background: -webkit-linear-gradient(top, #438EB9, #0E5177);
    border-radius: 6px 6px 0 0;
    color: #FFF;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#438EB9", endColorstr="#0E5177");
    font-size: 1.75em;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0.25em 0;
    position: relative;
    text-align: center;
}

#btnCloseModal
{
    position: absolute;
    right: 3px;
    top: 3px;
}

#divModalContent
{
    overflow-y: auto;
    padding: 10px;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

/******************************************************************************
 * Search styling
 ******************************************************************************/
#divSearch
{
    position: relative;
    text-align: center;
}

#divSearch i.icon-search
{
    position: absolute;
    left: 0.4em;
    top: 0.5em;
    z-index: 2;
}

#tblSearchResults
{
    width: 60%;
}

/******************************************************************************
 * Accordion styling
 ******************************************************************************/
dl.Accordion
{
    display: block;
}

dl.Accordion > dt
{
    background: #0E5177;
    background: linear-gradient(center top, #438EB9, #0E5177);
    background: -moz-linear-gradient(center top, #438EB9, #0E5177);
    background: -ms-linear-gradient(center top, #438EB9, #0E5177);
    background: -o-linear-gradient(center top, #438EB9, #0E5177);
    background: -webkit-linear-gradient(top, #438EB9, #0E5177);
    color: #FFF;
    cursor: pointer;
    filter: progid : DXImageTransform . Microsoft . gradient(startColorstr = "#438EB9", endColorstr = "#0E5177");
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing:1px;
    padding: 0.3em 0.6em;
}

dl.Accordion > dt.Expanded
{
    background: #246E98;
    background: linear-gradient(center top, #3CA0D9, #246E98);
    background: -moz-linear-gradient(center top, #3CA0D9, #246E98);
    background: -ms-linear-gradient(center top, #3CA0D9, #246E98);
    background: -o-linear-gradient(center top, #3CA0D9, #246E98);
    background: -webkit-linear-gradient(top, #3CA0D9, #246E98);
    cursor: default;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3CA0D9", endColorstr="#246E98");
}

dl.Accordion > dd
{
    background: #FFF;
    line-height: 1.5em;
    overflow: hidden;
    margin: 0;
    padding: 1em;
}

.accordionButton
{
    font-size: 8;
    vertical-align: middle;
}

/******************************************************************************
 * Login styling
 ******************************************************************************/
#divLogin
{
    margin: 0 auto;
    width: 40%;
}

/******************************************************************************
 * Join styling
 ******************************************************************************/
#divJoin
{
    margin: 0 auto;
    width: 40%;
}

/******************************************************************************
 * Feedback styling
 ******************************************************************************/
#divFeedback
{
    margin: 0 auto;
    width: 340px;
}

#frmFeedback textarea
{
    height: 100px;
    width: 100%;
}

/******************************************************************************
 * User/Group styling
 ******************************************************************************/
#divUser div.dropdown,
#divGroup div.dropdown
{
    position: absolute;
    left: -40px;
    top: 10px;
    width: auto;
    z-index: 3;
}

#divProfileImages
{
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

#imgProfile
{
    width: 15%;
    position: absolute;
    left: 5%;
    top: 15%;
    border-width: 3px;
    border-color: blue;
    z-index: 2;
}

#imgProfileBackground
{
    height: 200px;
    padding: 0;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
}

#divUser h3 > input.Invisible
{
    font-size: 24px;
    width: 40%;
}

#divGroup h3 > input.Invisible
{
    font-size: 24px;
    width: 95%;
}


#divUser #txtPassword,
#divUser #txtConfirmPassword
{
    width: 125px;
}

#divNotifications
{
    background-color: white;
    padding: 0px 0px;
    border: 2px solid #EBEBEB;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#divNotifications > h4
{
    background-color: #F5F5F5;
    font-size: 1.25em;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    text-align: center;
}

#divNotifications > h5
{
    border-bottom: 2px solid #F5F5F5;
    border-top: 2px solid #F5F5F5;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
    padding: 5px;
}

#divNotifications ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

#txtMessage
{
    height: 100px;
    width: 60%;
}

/******************************************************************************
 * Network styling
 ******************************************************************************/
#dlNetwork
{
    background: #fff;
}

#divNetwork ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

#dlNetworkAccordion > dt
{
    //display: none;
}



#dlNetworkAccordion > dd
{
    background: #fff;
    display: block;
    padding: 0;
}

#divNetwork h3 > input.Invisible
{
    font-size: 24px;
    text-align: center;
    width: 100%;
}

#divNetworkProperties
{
    float: left;
    width: 40%;
}

#divNetworkProperties textarea
{
    height: 60px;
    width: 40%;
}

#divMetadata
{
    /*border-left: 1px solid #CCC;  */
    float: right;
    /*min-height: 200px;   */
    padding-left: 3%;
    width: 55%;
}

#divMetadata ul
{
    width: 100%;
}

#divMetadata ul i
{
    position: relative;
    top: -0.35em;
}

#ddSearchNetwork
{
    margin-top: 25px;
    color: #FFF;
}

#ddSearchNetwork ul > li > i
{

    cursor: move;
}

#ddSearchNetwork #divSearch
{
    display: inline-block;
    margin-left: 10%;
    //width: 235px;
}

#ddSearchNetwork dl.Accordion
{
    float: right;
    width: 80%;
}

#ddSearchNetwork ul
{
    border: 1px dashed #C0C0C0;
    height: 8.75em;
    min-width: 200px;
    overflow-y: auto;
}

#ddSearchNetwork ul > li
{
    color: #FFF;
    font-size: 0.8em;
    padding: 1px 3px;
}

#ulFilterableTerms > li,
#ulTraversalTerms > li
{
    background: #555;
    background: linear-gradient(center top, #444, #555);
    background: -moz-linear-gradient(center top, #444, #555);
    background: -ms-linear-gradient(center top, #444, #555);
    background: -o-linear-gradient(center top, #444, #555);
    background: -webkit-linear-gradient(top, #444, #555);
    border-top: 1px solid #333;
    filter: progid : DXImageTransform . Microsoft . gradient(startColorstr = "#444", endColorstr = "#555");
}

#ulTermFunctionsIncluded > li,
#ulStartingTerms > li
{
    background: #005500;
    background: linear-gradient(center top, #004400, #005500);
    background: -moz-linear-gradient(center top, #004400, #005500);
    background: -ms-linear-gradient(center top, #004400, #005500);
    background: -o-linear-gradient(center top, #004400, #005500);
    background: -webkit-linear-gradient(top, #004400, #005500);
    border-top: 1px solid #003300;
    filter: progid : DXImageTransform . Microsoft . gradient(startColorstr = "#004400", endColorstr = "#005500");
}

#ulTermsExcluded > li,
#ulTermFunctionsExcluded > li,
#ulTargetTerms > li
{
    background: #550000;
    background: linear-gradient(center top, #440000, #550000);
    background: -moz-linear-gradient(center top, #440000, #550000);
    background: -ms-linear-gradient(center top, #440000, #550000);
    background: -o-linear-gradient(center top, #440000, #550000);
    background: -webkit-linear-gradient(top, #440000, #550000);
    border-top: 1px solid #330000;
    filter: progid : DXImageTransform . Microsoft . gradient(startColorstr = "#440000", endColorstr = "#550000");
}

#divSubnetwork
{
    OVERFLOW-Y: auto;
}

#ulSubnetwork li
{
    padding: 0.5em 0.25em;
}

#ulSubnetwork li:nth-child(odd)
{
    background: #DDD;
    background: linear-gradient(center top, #FFF, #DDD);
    background: -moz-linear-gradient(center top, #FFF, #DDD);
    background: -ms-linear-gradient(center top, #FFF, #DDD);
    background: -o-linear-gradient(center top, #FFF, #DDD);
    background: -webkit-linear-gradient(top, #FFF, #DDD);
    border-top: 1px solid #666;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFF", endColorstr="#DDD");
}

#ulSubnetwork li:nth-child(even)
{
    background: #BBB;
    background: linear-gradient(center top, #DDD, #BBB);
    background: -moz-linear-gradient(center top, #DDD, #BBB);
    background: -ms-linear-gradient(center top, #DDD, #BBB);
    background: -o-linear-gradient(center top, #DDD, #BBB);
    background: -webkit-linear-gradient(top, #DDD, #BBB);
    border-top: 1px solid #666;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#DDD", endColorstr="#BBB");
}

#ulSubnetwork > li > strong:first-child
{
    display: inline-block;
}

#ulSubnetwork em
{
    display: inline-block;
    padding: 0 0.5em;
}

#ulSubnetwork > li > strong:last-child
{
    display: inline-block;
}

#ulSubnetwork > li.TermAliases
{
    background: #FFF;
    display: none;
    height: 0;
}

/******************************************************************************
 * Windows-like icon styling
 ******************************************************************************/
.win8
{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid #E3E3E3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    padding: 50px;
    position: relative;
    height: 30em;
}

.lightGray
{
    background-color: #D7FCFF;
}

.lightGrayBlue
{
    background-color: #E3F7FF;
}

#mainP
{
    margin-right: 8%;
    position: absolute;
    top: 50%;
}

.win8 h2
{
    text-align: center;
    padding-bottom: 1em;
}

.win8 button
{
    width: 50%;
    position: absolute; /*--setting parent tag to a relative position and target tag to absolute position allows for fixed position to bottom of parent tag.*/
    bottom: 3em;
    right: 25%;
    left: 25%;
}


