/******************************************************************************
 * Styling by element
 ******************************************************************************/
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face
{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

body
{
    display: flex;
    flex-direction: column;


    margin: 0;
    padding-top: 70px;
    /*padding-bottom: 50px;*/
    padding-left: 0;
    padding-right:0;
    color: #333;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 18px;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

a:hover
{
    text-decoration: underline;
}

b, strong
{
    font-weight: bold;
}

fieldset
{
    border: 1px solid #999;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 1.5em;
    padding: 1em;
}

h1, h2, h3, h4, h5, h6
{

    font-weight: 200;
    letter-spacing:1px;
}

legend
{
    font-size: 1.3em;
}

label
{
    display: inline-block;
}

input[readonly],
    textarea[readonly]
{
    background: #FFF;
}

input[type="number"]
{
    width: 5em;
}

input[type="search"]
{
    padding-left: 1.5em;
}

section
{
    position: relative;
}



@media (max-width: 1350px) {
    .hiddenMedium{
        display: none;
    }

    .showMedium{
    }
}

@media (min-width: 1351px) {
    .hiddenMedium{

    }
    .showMedium{
        display: none;
    }
}

tbody > tr:nth-child(odd)
{
    background: #EEE;
    background: linear-gradient(center top, #F2F2F2, #EEE);
    background: -moz-linear-gradient(center top, #F2F2F2, #EEE);
    background: -ms-linear-gradient(center top, #F2F2F2, #EEE);
    background: -o-linear-gradient(center top, #F2F2F2, #EEE);
    background: -webkit-linear-gradient(top, #F2F2F2, #EEE);
    border-top: 1px solid #DDD;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFF", endColorstr="#DDD");
}

tbody > tr:nth-child(even)
{
    background: #CCC;
    background: linear-gradient(center top, #EEE, #DDD);
    background: -moz-linear-gradient(center top, #EEE, #DDD);
    background: -ms-linear-gradient(center top, #EEE, #DDD);
    background: -o-linear-gradient(center top, #EEE, #DDD);
    background: -webkit-linear-gradient(top, #EEE, #DDD);
    border-top: 1px solid #DDD;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#EEE", endColorstr="#DDD");
}

td
{
    margin: 0;
    padding: 3px 7px;
}

th
{
    font-size: 1.15em;
    margin: 0;
    padding: 3px 7px;
}

textarea
{
    resize: none;
}

/******************************************************************************
 * Margins for all views
 ******************************************************************************/

.marginsForNGView {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}


/******************************************************************************
 * Styling by class
 ******************************************************************************/
.AlignCenter
{
    text-align: center;
}

.AlignLeft
{
    text-align: left;
}

.AlignRight
{
    text-align: right;
}

.Clear:after
{
    clear: both;
    content: "";
    display: block;
}

.Hand
{
    cursor: pointer;
}

.hero-unit
{
    border: 1px solid;
    font-weight: 100;
    background-color:#FFFFFF;
}

/******************************************************************************
 Home / Sign-in Styles
 ******************************************************************************/

.home-margins
{
    margin: 20px;
    padding: 10px;
}

.home-center
{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.home-box
{
    border-radius: 20px;
    border: 3px solid cornflowerblue;
    /*min-height: 270px;*/
    /*max-width: 250px;*/
}

.home-text
{
    font-size: 18px;
}

.home-advice
{
    font-size: 15px;
}

.home-support
{
    font-size: 11px;
}

.home-support-table
{
    background-color: white;
    border-color: white;

}

.home-support-row
{
    background: white;
    border-top: none;
}

.home-support-table > tbody > tr:nth-child(odd)
{
    background: white;
    border-top: none;
}

.home-support-table > tbody > tr:nth-child(even)
{
    background: white;
    border-top: none;
}

.home-signed-in-user
{
    border-radius: 20px;
    border: 3px solid cornflowerblue;
    min-height: 40px;
    max-width: 250px;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
}

.home-account
{
    margin-top:10px;
    font-size: 22px;
}

/******************************************************************************
 Footer Bar
 ******************************************************************************/

.footer-bar
{
    border-top: 1px solid #CCC;
}

.footer-content
{
    color: rgba(255, 255, 255, 0.8);
    -webkit-tap-highlight-color: red;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;

}

.footer-content > a:link
{
    color: rgb(2, 114, 201);  /*NDEx blue*/
}

.footer-content > a:visited
{
    color: rgb(2, 114, 201);  /*NDEx blue*/
}


/******************************************************************************
 * Navigation styling
 ******************************************************************************/

.navbar
{
    min-height: 10px;
}

/* styles for the black bars at the top and bottom of the screen - but not the search bar */

.navbar-ndex
{
    background-color: #000;
    border-top-color: white;
}

.navbar-ndex a
{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
}

/* nav bar links */

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*
.navbar-toggle .icon-bar{
    width: 40px !important;
    /*height:3px !important;*
}
*/


/* highlight nav bar links on focus or hover with a lightened black background */
.navbar-nav>li>a:focus
{
    background-color: rgb(38,38,38);
}

.navbar-nav>li>a:hover {
    background-color: rgb(38, 38, 38);
}

/* styles for the top black bar only */

.navbar-ndex-top
{
    font-size: 14px;
    letter-spacing:0px;
}
.navbar-ndex-bottom
{
    font-size: 14px;
    letter-spacing: 0px;
}


.navbar-top-height {
    height: 75px;
}


/* the color of the collapsed menu bar in the header; this is for NDEX-662 */
.icon-bar {
    background-color: lightgrey !important;
}

@media (min-width: 1151px) {
    .login-button {
        margin-right: 45px;
        margin-left: 10px;
        margin-top: 7px;
    }
}


/*
@media (min-width: 1800px) {
    .login-button {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 7px;
    }
    .navbar-ndex-logo-margin {
        margin-left: 0px;
    }
}
*/
.navbar-ndex-logo-margin {
    margin-left: 35px;
}

.ndexServerVersion {
    font-size: 14px;
    color: white;
    /*background-color: blue;*/
}

/* this makes the header menu "collapse" into a menu button when
max-width of the browser reaches the specified value; this is for NDEX-662 */
@media (max-width: 1150px) {

    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-right {
        margin-left: -15px;
    }

    .navbar-toggle {
        display: block;

        /*
        padding: 0;
        margin: 13px 0 0 0;
        */
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        max-height: 800px;
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }

    .login-button {
        margin-right: 5px;
        margin-left: 15px;
        margin-top: 8px;
        margin-bottom: 10px;
    }
}

.ndex-search-control > a {
    font-size: 14px;
}

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center; /* Optional, to align inner items
                              horizontally inside the column */
}


/*angular ui fix for cursor*/
a { cursor: pointer; }

.cursorpointer {cursor: pointer; }
.cursordefault {cursor: default; }

/* Added by David Welker, September 26, 2014 */
.indent
{
    margin-left: 20px;
}

.network-property-preview
{
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    margin-top: 5px;
}

.user-tasks-panel
{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.tooltip-inner {
    max-width: 500px;
}

.padded { padding: 5px; }

.small-margin-right { margin-right: 10px;}

.bordered { border: 1px solid;
    border-color: lightgray;}

.spacer {  margin-top: 5px; }



hr {
    border-color: #d3d3d3;
}

.black-border
{
    border: 1px solid black;
}

.red-border
{
    border: 1px solid red;
}

.gold-border
{
    border: 1px solid gold;
}

.lightgrey-border
{
    border: 1px solid lightgrey;
}

.green
{
    background-color: green;
}

.orange
{
    background-color: orange;
}

.red
{
    background-color: red;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.grid-tooltip {
    overflow: visible;
    z-index: 9999999;
    float: left;
    color: blue;
}

.networkGrid
{
    /* specifying width 100% will cause Network table to be distorted
    when switching tabs and resizing browser window.  See NDEX-578 */
    /*width: 100%;*/
    height: 640px;
}

.wrapLongLine {
    word-wrap: break-word;
}

.rowWithTopAndBottomPad {
    padding-top: 1em;
    padding-bottom: 2em;
}

.rowWithTwoLinesTopPad {
    padding-top: 2em;
}

.rowWithThreeLinesTopPad {
    padding-top: 3em;
}

.rowWithFourLinesTopPad {
    padding-top: 4em;
}

.rowWithOneLineTopPad {
    padding-top: 1em;
}

.rowWithHalfLineBottomPad {
    padding-bottom: 0.5em;
}

.rowWithOneLineBottomPad {
    padding-bottom: 1em;
}

.rowWithTwoLinesBottomPad {
    padding-bottom: 2em;
}
.rowWithThreeLinesBottomPad {
    padding-bottom: 3em;
}

.rowWithFourLinesBottomPad {
    padding-bottom: 4em;
}

.ndex-nav-pills {
    font-weight: bold;
    font-size: 1.1em;
}

/* when hovering over li elements of ndex-nav-pills, change colors to the ones specified below */
ul.ndex-nav-pills > li > a:hover {
    background-color: #428bca;  /* default color of Bootstrap primary button */
    color: white;
    border-style: none;
}

/* used to add some space below button -- we use this to separate vertically-stacked buttons on MyAccount,
    Network and Group Pages */
.buttonWithMarginBottom .btn {
    margin-bottom: 5px;
}

/* this sets the width of all vertically-stacked buttons on MyAccount,
    Network and Group Pages to be the same */
.customButtonWidth {
    width: 195px !important;
}

.customButtonWidthOnSearchPage {
    width: 145px !important;
}

/* this adds some space after <HR> on Network page */
.hrMarginRight {
    margin-right: 15px;
}

.rowWithTwoLinesTopPadAnd15EmFont {
    padding-top: 2em;
    font-size: 1.5em;
}

.rowWithTwoLinesTopPadAnd11EmFont {
    padding-top: 2em;
    font-size: 1.1em;
}

.hideLongLine {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.belNamespaceFileModal {
    white-space: pre;
    word-wrap: break-word;
}

.belNamespaceFileModalSize {
    width: 850px;
}

.my-modal-body-size {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

.ndex-citation-landing-page {
    font-size: 1.1em;
    line-height:1.5;
    /*margin:2em;*/
    text-align: right;
    padding-bottom: 1em;
}

.networkViewActionsSectionFrame {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.networkViewHeader
{
    font-weight: bold;
    font-size: 1.3em;
    text-align: left;
    line-height: 1;
}

.networkPropertyName {
    font-size: 1em;
    font-weight: bold;
}

.networkPropertiesNameFont {
    font-size: 0.9em;
    font-weight: bold;
}
.networkPropertiesValueFont {
    font-size: 0.9em;
    font-weight: normal;
}
.networkPropertiesNameFontTableView {
    font-size: 1em;
    font-weight: bold;
}
.networkPropertiesValueFonTableView {
    font-size: 1em;
    font-weight: normal;
}
.networkPropertiesNameMargins {

    line-height: 1.5em;
    margin-left: 1em;
}


.cytoscapeCanvas {
    color: #777;
    border: 2px solid #e5e5e5;
    margin:0 auto;

    /*height: 90vh;*/
    background-color: #eee;
    position: relative;
}

.networkPropertiesTabset {
    font-size: 1.05em;
    border-style: none;

    border-color: #287EC7;
    overflow: scroll;
}

.networkPropertyValueInTabsetMargins {
    font-size: 1.1em;
    margin-left: 10px;
    margin-right: 10px;
}

.networkActionsSection {
    font-size: 1.1em;
    line-height: 1em;
}

.actionsLabel {
    margin-bottom: 4px;
}

.wrappedCell {
    width:100%;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}

.popup_search_bar_modal .modal-dialog {
    width: 75%;
    min-width: 640px;
}

.selected-navbar-item {
    color: #ffffff !important;
    background: #555;
    font-weight: bold;
}

.nav.navbar-nav.navbar-left li a:hover,
.nav.navbar-nav.navbar-right li a:hover {
    color: #ffffff !important;
    background: #555;
    font-weight: bold;
}

#networkStatusTemplate.ui-grid-cell-contents,
#showCaseTemplate.ui-grid-cell-contents,
#downloadNetworkTemplate.ui-grid-cell-contents,
#networkReferenceTemplate.ui-grid-cell-contents{
    text-align: center;
    vertical-align: middle;
}

.grid-align-cell {
    text-align: center;
}

.btn {
    border-radius: 24px;
    outline:none !important;
}

.download-btn {
    background-color: #18AD31 !important;
    border-color:  #18AD31;
    border: 5px double white;
}
.download-btn:hover, .download-btn:focus, .download-btn:active {
    background-color: #1c8c2e !important;
    border-color: #1c8c2e;
    border: 5px double white;
}

.download-icon {
    color: #18AD31 !important;
}
.download-icon:hover, .download-icon:focus, .download-icon:active {
    color: #1c8c2e !important;
}

.copy-url-button {
    background-color: #18AD31 !important;
    border-color:  #18AD31;

}
.copy-url-button:hover, .copy-url-button:focus, .copy-url-button:active {
    background-color: #1c8c2e !important;
    border-color: #1c8c2e;
}


.dropdown-btn {
    background-color: white  !important;
    color: black;
    width: 100%;
    border: none;
    text-align: left;
    padding-left: 1.5em;
}
.dropdown-btn:hover, .dropdown-btn:focus, .dropdown-btn:active {
    background-color: #428bca  !important;
    color: #ffffff;
    text-align: left;
    padding-left: 1.5em;
    outline: none !important;
}


.actionsLabelDisabled-btn {
    margin-bottom: 4px;
    background-color: #73A4D5;
    border-color: #73A4D5;
    cursor: not-allowed;
}
.actionsLabelDisabled-btn:hover, .actionsLabelDisabled-btn:focus, .actionsLabelDisabled-btn:active {
    background-color: #73A4D5;
    border-color: #73A4D5;
    cursor: not-allowed;
}

.actionsLabelDisabledNoMargin-btn {
    background-color: #73A4D5;
    border-color: #73A4D5;
    cursor: not-allowed;
}

.actionsLabelDisabledNoMargin-btn:hover, .actionsLabelDisabledNoMargin-btn:focus, .actionsLabelDisabledNoMargin-btn:active {
    background-color: #73A4D5;
    border-color: #73A4D5;
    cursor: not-allowed;
}


.actionsLabelDisabled-default-btn {
    opacity: .65;
    border-color: #CCC;
    background-color: #FFF;
    cursor: not-allowed;
}
.actionsLabelDisabled-default-btn:hover, .actionsLabelDisabled-default-btn:focus, .actionsLabelDisabled-default-btn:active {
    opacity: .65;
    background-color: #FFF;
    border-color: #CCC;
    cursor: not-allowed;
}


/* we need this to prevent Chrome issue where, when you scroll down through a long list of networks,
 * it continues to insanely scrolll automatically all the way to the end of the list without user being able to stop
 * the scrolling. */
.ui-grid-viewport {
    overflow-anchor: none;
}

.badge-notify{
    background:red;
    position:relative;
    margin-right: -2em;
    top: -1.5em;
}

span.glyphicon-refresh {
    font-size: 1.15em;
}

.google-sign-in-button {

    align-items: baseline;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 24px;
    border-width: 0;
    width: 100%;
    color: #505F79 ;
    cursor: default;
    /*
    display: -webkit-box;
    display: -moz-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    */
    display: block;
    margin: 0;
    outline: none ;
    pointer-events: auto;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.1s, 0.15s;
    -webkit-transition-duration: 0.1s, 0.15s;
    transition: background 0.1s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
    -webkit-transition: background 0.1s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    white-space: normal;

    background: #FFFFFF ;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2) ;
    /*font-weight: bold;*/
    font-size: 1.2em;
    font-style: normal;
    line-height: 1.5em;

    overflow: hidden;

    height: 220px;
}



.google-sign-in-button-span {
    align-self: center;
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    /*
    display: -webkit-box;
    display: -moz-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
/*
    flex-wrap: nowrap;
    -webkit-box-lines: nowrap;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
*/
    display: block;

    max-width: 100%;
    width: 100%;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;

    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-self: center;
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    flex-shrink: 0;
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
    max-width: 100%;
    overflow: hidden;
    pointer-events: none;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    white-space: normal;
    text-align: center;
}

.google-button button:hover {
    background: #e9e9e9;
}



.minwidth170 {
    min-width: 170px;
}

/* we need this to make sure that places where we use  <text-angular ... > are rendered nicely.
   If we do not do that, then textareas in Create Network Set Modal, Create Group, Edit Personal Info
   will be too big (300px high)
*/
.ta-editor.ta-html {
    min-height: 150px;
    height: 150px;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}
.ta-scroll-window.form-control {
    min-height: 150px;
    height: 150px;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.jsOrCookiesDisabledWarning
{
    border: 5px solid red;
    padding: 1em;
    margin: 2em;
    color:red;
    font-size: 1.5em;
    line-height: 1.7em;
    border-radius: 10px;
    width: 23em;
    margin-top: -2em;
}


.cyButton {
    border: none;
    filter: saturate(75%);
    margin-right: 5px;
    cursor: pointer;
}
.cyButton:hover {
    border: none;
    filter: saturate(100%);
    transform: scale(1.15);
    margin-right: 5px;
}
.cyButtonDisabled {
    border: none;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin-right: 5px;
    cursor: not-allowed
}

.app-modal-window-800 .modal-dialog {
    width: 800px;
}

.fa-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
/* we use this class to still show popup tooltips (titles) on disabled elements */
.showTooltipOnDisabledElement {
    pointer-events: none;
}



/* start: this is for styling Twitter, YouTube and LinkedIn buttons on the bottom of the Front Page */
.social{margin:0 0 0 0;padding:0;list-style:none;}
.social li{display:inline-block;margin:0 12px 0 0;padding:0;list-style-type:none;}
.social li a{color:#fff;display:inline-block;font-size:16px;margin:0;padding:7px 7px 7px 7px;border-radius:50%;}
.social li a:hover i{color:#fff;}
.social .twitter a{font-size:18px;padding:7px 7px 7px 12px;}
.social .twitter a i{margin-left:-2px}
.social .youtube  a{font-size:18px;padding:7px 9px 7px 9px;}
.social .linkedin a{font-size:18px;padding:7px 9px 7px 12px;}

.twitter a{background-color:#1cb7eb;}
.linkedin a{background-color:#1686b0;}
.youtube a{background-color:#ca3737;}
.twitter a:hover{background-color:#0f9de2;}
.linkedin a:hover{background-color:#0c6694;}
.youtube a:hover{background-color:#b52121;}
/* end: this is for styling Twitter, YouTube and LinkedIn buttons on the bottom of the Front Page */


.search-examples-button {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    width: 162px;
}

.login-page-border {
    /*background: #F8F9F8;*/
    border: 1px solid #3576BE;
    border-radius: 20px;
}

.inputHeight {
    height: 30px;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.navbar-brand {
    padding: 15px 0 15px 15px
}


/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav_right */
.sidenav {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 75px;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.3s;
    right: 0
}
.sidenav a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}


@media screen and (max-width:767px) {
    .sidenav a {
        margin-left: 15px;
    }
    .login-button {
        margin-left: 25px;
        margin-top: 8px;
        margin-bottom: 2px;
    }
}




/*
body   { background-color: #F60; }

/* Tablet targetted size *
@media screen and (min-width:768px) and (max-width:1024px) {
    body   { background-color: #0F0 }
}

/* Desktop size *
@media screen and (min-width:1025px) {
    body   { background-color: #06F }
}
*/







.center {
    padding-top: 2em;
    text-align: center;
}
.centerFeaturedCollection {
    text-align: center;
}

.slideImage {
    max-height: 100%;
    max-width: 33% !important;
    float: left;
}

.carousel-inner {
    background-color: white; /*#C1E0FF;*/
    width: 90%;
    margin: auto;
}
.carousel-indicators {
    font-size: 2em;
    bottom: -1em;
    text-align: center;
    text-shadow: none;
}

/* color of carousel indicators/dots */
.carousel-indicators li {
    background: #C1E0FF;
}
.carousel-indicators .active {
    background: #3576BE;
}

a.right.carousel-control {
    position: absolute !important;
    z-index: 2;
    width: 5%;
}
a.left.carousel-control {
    position: absolute !important;
    z-index: 2;
    width: 5%;
}

.carousel-control.left {
    opacity:1 !important;
    color: #3576BE;
    background-image: none;
}
.carousel-control.right {
    opacity:1 !important;
    color: #3576BE;
    background-image: none;
}

/* remove gradient grey from left and right of carousel */
/*
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
*/
.carousel-control.left .glyphicon {
    left: 0;
    margin-left: 0;
    padding-top: 5px;
    font-size: 16px;
}
.carousel-control.right .glyphicon {
    right: 0;
    margin-right: 0;
    padding-top: 5px;
    font-size: 16px;
}


div.featuredCollectionDescriptionArea {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    /*border: 1px solid red;*/
    height: 90%;
    padding-left: 20px;
    font-size: 13px;
}


/*
.mainAreaLandingPage {
    overflow-y: hidden;
    text-overflow: ellipsis;
    text-align: left;
    /*border: 1px solid white;*
}
*/

.mainAreaLandingPage {
    overflow-y: hidden;
    /*overflow-x: hidden;*/
    text-overflow: ellipsis;
    text-align: left;
    overflow-wrap: break-word;
    /*border: 1px solid red;*/
    font-size: 14px;
}
.logosStyle {
    transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75);
    -webkit-transform: scale(0.75, 0.75);
}

#logoContainer {
    margin-top: 10px;
    overflow: hidden;
}


.flexContent {
    flex: 1 0 auto;
}
.ndexFooter {
    flex-shrink: 0;
    background: #000;
}
.ndexFooterProps {
    padding: 20px;
    margin-top: 10px;

    width:100%;
    min-width: 1170px;
}

.footerColor {
    color: #fff;
    background: #000;
}

/* in popup tooltips, make text align on the left. If this is not specified,
 *  text is centered on every line
 */
.tooltip-inner {
    text-align: left;
}

.elementOfDropDownOnNetworkPage {
    padding: 3px 0;
    line-height: 1.3em !important;
}
.disabledElementOfDropDownOnNetworkPage {
    line-height: 1.3em !important;
}

.disabledButtonWithCleanTooltip .tooltip-inner {
    max-width: 200px;
}

.buttonWithTopAndBottomRightCornersRound {
    border-radius: 0 24px 24px 0 !important;
}
.enabledEditNetworkLight {
    color: #3476BE;
}
.disabledEditNetworkLight, .disabledEditNetworkLight:hover, .disabledEditNetworkLight:focus, .disabledEditNetworkLight:active {
    color: #8F9497; /*#6192CB;*/
    cursor: not-allowed;
}