.DS_Store
/node_modules/
/test_db/node_modules/*
account_img/users/foreground/*
account_img/users/background/*
account_img/groups/foreground/*
account_img/groups/background/*
config/rest_config.json
unit_test/node_modules/*
rest.js
.idea/*
.idea
.idea/*/*
views/*~
routes/*~
js/*~
*~