<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="ndexApp">

<head>
    <!-- Load script that may redirect to maint.html -->
    <script src="checkMaintenance.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css"/>

    <link rel="stylesheet" href="css/ndex-angular-site.css"/>
    <link rel="stylesheet" href="css/visualize_network.css"/>

    <!-- Scripts -->

    <!-- Fix for old browsers to support the angular-upload module-->
    <script src="js/nervgh/es5-shim.min.js"></script>
    <script src="js/nervgh//es5-sham.min.js"></script>

    <!-- it is important to load angular *after* jQuery if you want angular to have access
         to full jQuery functionality instead of angular's internal 'lite' version -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Latest version of cytoscape.js for visualization -->
    <script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
    <script src="js/cytoscape/arbor.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-resource.js"></script>

    <!-- angular file upload module -->
    <script src="js/angular-file-upload.min.js"></script>

    <script src="js/ui-bootstrap.js"></script>

    <!-- ndex scripts -->
    <script src="js/ndex-service.js"></script>
    <script src="js/ui-service.js"></script>
    <script src="js/script.js"></script>

    <!-- page controllers -->
    <script src="js/controllers/sign-in-controller.js"></script>
    <script src="js/controllers/network-search-controller.js"></script>
    <script src="js/controllers/network-controller.js"></script>
    <script src="js/controllers/user-controller.js"></script>
    <script src="js/controllers/upload-controller.js"></script>
    <script src="js/controllers/user-search-controller.js"></script>
    <script src="js/controllers/group-controller.js"></script>
    <script src="js/controllers/group-search-controller.js"></script>
    <script src="js/controllers/edit-network-properites-controller.js"></script>

</head>

<!-- define angular controller -->
<body ng-controller="mainController" style="padding-bottom: 120px;">

<!-- the top nav bar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse" ng-click="main.isCollapsed = !main.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="max-height: 40px; padding-top: 0; padding-bottom: 0;"> 
            <div style="
                background-image: url('img/NDEx-horizontal-transparent.png');
                background-repeat: no-repeat;
                background-position: 0px 10px;
                width: 120px;
                height: 40px;
                background-size: 120px 30px;
            "></div>
            </a>
        </div>
        <div class="collapse navbar-collapse" collapse="main.isCollapsed">
            <div class="col-sm-6 col-md-7 col-lg-8">
                <form class="navbar-form navbar-left" style="width:100%" role="search" ng-submit="main.search()">
                    <div class="input-group" >
                        <div class="input-group-btn dropdown">
                          <button type="button" class="btn btn-default dropdown-toggle">
                            {{main.searchType}} <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li>
                            <a class ="dropdown-toggle" ng-click="main.searchType = 'Networks'; main.searchString = ''">
                            Networks</a></li>
                            <li>
                            <a class ="dropdown-toggle" ng-click="main.searchType = 'Users'; main.searchString = ''">
                            Users</a></li>
                            <li>
                            <a class ="dropdown-toggle" ng-click="main.searchType = 'Groups'; main.searchString = ''">
                            Groups</a></li>
                          </ul>
                        </div>
                        <input type="text" class="form-control" placeholder="{{'NDEx '+main.searchType}}" ng-model="main.searchString">
                        <div class="input-group-btn"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></div>
                    </div>
                </form>
            </div>
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="main.getCurrentNetwork() != null"
                ng-class="{active:main.url.url().search('/network') != -1}">
                <a ng-href="{{'#network/' + main.getCurrentNetwork()}}">Network</a></li>
            <li ng-show="main.loggedIn" ng-class="{active:main.url.url().search('/user') != -1}">
                <a ng-href="{{'#user/' + main.getCurrentUser()}}">MyAccount</a></li>
            <li ng-show="main.loggedIn" class="dropdown"><a href class="dropdown-toggle"><span class="caret"></span></a>
                 <ul class="dropdown-menu" role="menu">
                    <li><a ng-href="#upload">Upload</a></li></li>
                    <li class="divider"></li>
                    <li><a ng-href="#" ng-click="main.signout()">Sign out</a></li>
                  </ul>
            </li>
            <!-- Show sign in if no user, sign out otherwise -->
            <li ng-show="!main.loggedIn"
                ng-class="{active:main.url.url() == '/signIn'}">
                <a ng-href="#signIn">Sign in</a>
            </li>
        </ul>
        </div>
    </div>
</nav>
<!-- the footer as a fixed bottom nav bar -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <!-- <span class="pull-right">&copy; Cytoscape Consortium 2014</span>    -->
        <a href="mailto:support@ndexbio.org" class="pull-left">Support</a>
    </div>
</nav>

<div id="main" class="container">
    <!-- angular templating -->
    <!-- this is where content will be injected -->
    <div ng-view></div>
</div>

<footer class="text-center">

</footer>

</body>

</html>
