<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="ndexApp">

<head>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css"/>

    <link rel="stylesheet" href="css/ndex-angular-site.css"/>
    <link rel="stylesheet" href="css/visualize_network.css"/>
    <!-- Scripts -->


    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.gritter.js"></script>

    <!-- it is important to load angular after jQuery if you want angular to have access
         to full jQuery functionality instead of its internal 'lite' version -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <script src="js/ui-bootstrap.js"></script>

    <script src="js/cytoscape.js-2.0.3/cytoscape.min.js"></script>
    <script src="js/cytoscape.js-2.0.3/arbor.js"></script>

    <script src="js/ndex-client.js"></script>
    <script src="js/d3-renderer.js"></script>
    <script src="js/script.js"></script>
    <script src="js/ndex-service.js"></script>
    <script src="js/controllers/sign-in-controller.js"></script>
    <script src="js/controllers/network-search-controller.js"></script>
    <script src="js/controllers/query-controller.js"></script>
    <script src="js/controllers/cytoscapejs-controller.js"></script>
    <script src="js/controllers/user-controller.js"></script>

</head>

<!-- define angular controller -->
<body ng-controller="mainController">

<!-- the top nav bar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse"ng-click="main.isCollapsed = !main.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="max-height: 40px; padding-top: 0; padding-bottom: 0;"> <img src="img/NDEx-horizontal-transparent.png" style="max-width:100%; max-height:100%;"></a>
        </div>
        <div class="collapse navbar-collapse" collapse="main.isCollapsed">
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="main.loggedIn" ng-class="{active:main.url.url().search('/user') != -1}"><a ng-href="{{'#user/' + main.getCurrentUser()}}">MyAccount</a></li>
            <li ng-class="{active:main.url.url() == '/searchNetworks'}"><a ng-href="#searchNetworks">Search</a></li>
            <li ng-class="{active:main.url.url().search('/networkQuery') != -1}"><a ng-href="{{'#networkQuery/' + main.getCurrentNetwork()}}">Current Network</a></li>

            <!-- Show sign in if no user, sign out otherwise -->
            <li ng-show="!main.loggedIn" ng-class="{active:main.url.url() == '/signIn'}">
                <a ng-href="#signIn">Sign in</a>
            </li>
            <li ng-show="main.loggedIn" ng-class="{active:main.url.url() == '/signOut'}">
                <a ng-href="#" ng-click="main.signout()">Sign out</a>
            </li>

            <li ng-class="{active:main.url.url() == '/'}"><a ng-href="#"><i class="fa fa-home"></i> Home</a></li>
        </ul>
        </div>
    </div>
</nav>
<!-- the footer as a fixed bottom nav bar -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <!-- <span class="pull-right">&copy; Cytoscape Consortium 2014</span>    -->
        <a href="mailto:support@ndexbio.org" class="pull-left">Support</a>
    </div>
</nav>

<div id="main" class="container">
    <!-- angular templating -->
    <!-- this is where content will be injected -->
    <div ng-view></div>
</div>

<footer class="text-center">

</footer>

</body>

</html>
