<div class="modal-content">
    <form name="changePasswordForm" class='form-horizontal' role="form" ng-submit="submit()">
        <div class="modal-header">
            <h4 class="modal-title">Change Password</h4>
        </div>

        <div class="modal-body">
            <div class="form-group rowWithOneLineTopPad">
                <label class="col-md-3 control-label">New Password</label>
                <div class='col-md-7'>
                    <input name="password" type="password" class="form-control" ng-model="change.newPassword"
                           placeholder="New Password" required title="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Confirm Password</label>
                <div class='col-md-7'>
                    <input name="confirmPassword" type="password" class="form-control" ng-model="change.newPasswordConfirm"
                           placeholder="Confirm Password" required title="">
                </div>
            </div>

            <div class='text-danger'>
                <strong>
                {{errors}}
                </strong>
            </div>
        </div>

        <div class="modal-footer">
            <a class="btn btn-default" ng-click="cancel()">Cancel</a>
            <button class="btn btn-primary" type ="submit"
                    ng-disabled="errors || !changePasswordForm.password.$valid || !changePasswordForm.confirmPassword.$valid">
                Change</button>
        </div>
    </form>
</div>
