<div class="modal-content">

	<div class="modal-header">
		<h5 class="modal-title"><strong><span ng-bind-html="title"></span></strong></h5>
	</div>

	<div class="modal-body">
		<div class="wrapLongLine">
			<br>
			<span ng-bind-html='message'></span>
		</div>

		<div ng-if="progress">
			<br>
			<strong><span style="color: green; font-size: 1.1em" ng-bind-html="progress"></span></strong>
		</div>

		<div ng-if="progress2">
			<strong><span style="color: green; font-size: 1.1em" ng-bind-html="progress2"></span></strong>
		</div>

		<div ng-if="errors" class='text-danger'>
			<br>
			<strong><span style="font-size: 1.1em" ng-bind-html="errors"></span></strong>
		</div>

		<div id="confirmationSpinnerId"></div>

	</div>

	<div class="modal-footer">
		<button ng-if="cancelButtonLabel"
				ng-class="cancelButtonDisabled ? 'btn btn-default disabled' : 'btn btn-default'"
				ng-click="cancel()">{{cancelButtonLabel}}
		</button>
		<button ng-if="choiceOneButtonLabel"
				ng-class="choiceOneButtonDisabled ? 'btn btn-primary disabled' : 'btn btn-primary' "
				ng-click="choiceOne()">{{choiceOneButtonLabel}}
		</button>
		<button ng-if="choiceTwoButtonLabel"
				ng-class="choiceTwoButtonDisabled ? 'btn btn-primary disabled' : 'btn btn-primary' "
				ng-click="choiceTwo()">{{choiceTwoButtonLabel}}
		</button>
	</div>

</div>