<span ng-click="openMe()" ng-transclude></span>

<script type="text/ng-template" id="edit-network-summary-modal.html">
<div class='modal-content'>
  <form class="form-horizontal" role="form" ng-submit='submit()'>
    <div class="modal-header">
        <h4 class="modal-title">Edit Network Profile</h4>
    </div>
    <div class="modal-body">
        
          <div class="form-group rowWithOneLineTopPad">
            <label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Network Name" ng-model='network.name'>
            </div>
          </div>
          <div class="form-group">
              <label class="col-sm-3 control-label">Description</label>
              <div class="col-sm-8">
                  <text-angular
                      ta-toolbar='[["h3","h4","h5","h6","p","pre"],["bold","italics","underline","clear"],["justifyLeft","justifyCenter"],["html","insertLink"]]'
                      ta-toolbar-class="btn-toolbar"
                      ta-toolbar-group-class="btn-group btn-group-xs"
                      ta-toolbar-button-class="btn btn-default"
                      ta-toolbar-button-active-class="active"
                      ta-default-wrap="div"
                      ng-model='network.description'>
                  </text-angular>
              </div>
          </div>
          <div class="form-group">
              <label class="col-sm-3 control-label">Reference</label>
              <div class="col-sm-8">
                  <text-angular
                        ta-toolbar='[["h3","h4","h5","h6","p","pre"],["bold","italics","underline","clear"],["justifyLeft","justifyCenter"],["html","insertLink"]]'
                        ta-toolbar-class="btn-toolbar"
                        ta-toolbar-group-class="btn-group btn-group-xs"
                        ta-toolbar-button-class="btn btn-default"
                        ta-toolbar-button-active-class="active"
                        ta-default-wrap="div"
                        ng-model='network.reference'>
                  </text-angular>
              </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Version</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="1.0"
                ng-model='network.version'>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Visibility</label>
            <div class="col-sm-4">
                <span ng-if="network.isOwner">
                    <select class="form-control" ng-model='network.visibility'>
                        <option value='PUBLIC' ng-selected='network.visibility ==  "PUBLIC"'>Public</option>
                        <option value='PRIVATE' ng-selected='network.visibility ==  "PRIVATE"'>Private</option>
                    </select>
                </span>
                <span ng-if="!network.isOwner">
                    <select class="form-control" ng-model='network.visibility'
                            title="Only network owners can change network Visibility" disabled>
                        <option value='PUBLIC' ng-selected='network.visibility ==  "PUBLIC"'>Public</option>
                        <option value='PRIVATE' ng-selected='network.visibility ==  "PRIVATE"'>Private</option>
                    </select>
                </span>
            </div>
          </div>

          <div class='text-danger'>
            <strong>
              {{errors}}
            </strong>
          </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-default" type='button' ng-click='cancel()'>Cancel</a>
            <button class="btn btn-primary" type='submit' ng-disabled='isProcessing'>Save</button>
        </div>
  </form>
</div>
</script>