<div class='modal-content'>
  <form name="editPersonalInfo" class="form-horizontal" role="form" ng-submit='submit()'>
    <div class="modal-header">
        <h4 class="modal-title">Edit Personal Info</h4>
    </div>
    <div class="modal-body">
        
          <div class="form-group rowWithOneLineTopPad">
            <label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-4">
              <input type="text" name="firstName" class="form-control" placeholder="First Name" ng-model='user.firstName' required>
            </div>

            <div class="col-sm-4">
              <input type="text" class="form-control" placeholder="Last Name" ng-model='user.lastName' required>
            </div>
          </div>

          <div class="form-group">
              <label class="col-sm-3 control-label">Email <span style="color:red">*</span></label>
              <div class="col-sm-8">
                  <input  type="email" name="userEmail" class="form-control"
                          placeholder="e.g., myemail@yahoo.com" ng-model='user.emailAddress' required>

                  <div ng-show="editPersonalInfo.userEmail.$error.required"
                       style="color:red; font-weight:bold; margin-top: 0.5em">E-mail is required
                  </div>

                  <div ng-show="editPersonalInfo.userEmail.$invalid && !editPersonalInfo.userEmail.$error.required"
                       style="color:red; font-weight:bold; margin-top: 0.5em">Invalid e-mail
                  </div>
              </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Website</label>
            <div class="col-sm-8">
              <input type="url" class="form-control"
                     placeholder="e.g. www.ndexbio.com"
                     name="userWebsite"
                     ng-model='user.website'
                     ng-change='checkLengthOfWebsite()'
                     maxlength="{{maxInputLength}}">

                <div ng-show="websiteTooLongWarning"
                     style="color:red; font-weight:bold; margin-top: 0.5em"
                     ng-bind-html="websiteTooLongWarning">
                </div>

                <div ng-show="editPersonalInfo.userWebsite.$invalid"
                     style="color:red; font-weight:bold; margin-top: 0.5em">Invalid URL
                </div>

            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Image Host</label>
            <div class="col-sm-8">
              <input type="url" class="form-control"
                     placeholder="e.g. http://i.imgur.com/09oVvZg.jpg"
                     name="imageHost"
                     ng-model='user.image'
                     ng-change='checkLengthOfImageHost()'
                     maxlength="{{maxInputLength}}">

                <div ng-show="imageURLTooLongWarning"
                     style="color:red; font-weight:bold; margin-top: 0.5em"
                     ng-bind-html="imageURLTooLongWarning">
                </div>

                <div ng-show="editPersonalInfo.imageHost.$invalid"
                     style="color:red; font-weight:bold; margin-top: 0.5em">Invalid URL
                </div>

            </div>
          </div>

          <div class="form-group">
              <label class="col-sm-3 control-label">Description</label>
              <div class="col-sm-8">
                  <text-angular
                     ta-toolbar='[["h3","h4","h5","h6","p","pre"],["bold","italics","underline","clear"],["justifyLeft","justifyCenter"],["html","insertLink"]]'
                     ta-toolbar-class="btn-toolbar"
                     ta-toolbar-group-class="btn-group btn-group-xs"
                     ta-toolbar-button-class="btn btn-default"
                     ta-toolbar-button-active-class="active"
                     ta-default-wrap="null"
                     ng-model='user.description'>
                  </text-angular>
              </div>
          </div>

          <div class='text-danger'>
            <strong>
              {{errors}}
            </strong>
          </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-default" type='button' ng-click='cancel()'>Cancel</button>
            <button class="btn btn-primary" type='submit' ng-disabled='errors || editPersonalInfo.$invalid'>Save</button>
        </div>

  </form>
</div>
