<div id="networkStatusTemplate" class="ui-grid-cell-contents">

    <span ng-if="row.entity.Status == 'certified'" >
        <img src="images/certifiedNetwork.png" width="20px" height="20px" align="center">
    </span>

    <span ng-if="row.entity.Status == 'success'" >
        <img src="images/success.png" width="20px" height="20px" align="center">
    </span>

    <span ng-if="row.entity.Status == 'warning'">
        <a ng-href="{{$location.path()}}"
           ng-click="grid.appScope.showWarningsOrErrors(row.entity)" title="Click to see warnings">
            <img src="images/warning.png" width="20px" height="20px" align="center">
        </a>
    </span>

    <span ng-if="row.entity.Status == 'failed'" >
        <a ng-href="{{$location.path()}}"
           ng-click="grid.appScope.showWarningsOrErrors(row.entity)" title="Click to see error message">
            <img src="images/failed.png" width="20px" height="20px" align="center">
        </a>
    </span>

    <span ng-if="row.entity.Status == 'processing'">
        <img src="images/hourglass.png" width="20px" height="20px" align="center">
    </span>

    <span ng-if="row.entity.Status == 'collection'">
        <a ng-href="{{$location.path()}}"
           ng-click="grid.appScope.showWarningsOrErrors(row.entity)"
           title="This network is part of a Cytoscape collection and cannot be operated on or edited in NDEx.">
            <img src="images/cytoscape.png" width="20px" height="20px" align="center">
        </a>
    </span>

    <span ng-if="row.entity.Status == 'Set'">
        <a ng-href="{{$location.path()}}"
           ng-click="grid.appScope.showSetInfo(row.entity.externalId)"
           title="Click to see information about this Set">
            <img src="images/folder.png" align="center">
        </a>
    </span>
</div>

