<div id="networkReferenceTemplate" class="ui-grid-cell-contents">

    <span ng-if="row.entity.Reference && row.entity.Reference != ''">
            <a>
               <show-network-reference
                       reference='row.entity.Reference'
                       directive-title={{row.entity.name}}>
                    <img src="img/ref-icon.png" width="20px" height="20px" align="center">
                </show-network-reference>
            </a>
    </span>

    <!--
    <span ng-if="((row.entity.Reference.referenceText.length > 0) && (row.entity.Reference.url && row.entity.Reference.url.length > 0) && (row.entity.Reference.urlCount == 1))">
        <a ng-href="{{row.entity.Reference.url}}" target="_blank">
            <img src="images/ref-icon.png" width="20px" height="20px" align="center">
        </a>
    </span>

    <span ng-if="((row.entity.Reference.referenceText.length > 0) && (row.entity.Reference.urlCount != 1))">
            <a>
               <show-network-reference
                       reference='row.entity.Reference.referenceHTML'
                       directive-title={{row.entity.name}}>
                    <img src="images/ref-icon.png" width="20px" height="20px" align="center">
                </show-network-reference>
            </a>
    </span>
    -->

</div>