<div class="ui-grid-cell-contents" title="{{row.entity.name}} &#x0D;&#x0D; {{row.entity.description}}">
    <a ng-href="#/networkset/{{row.entity.externalId}}">
        {{COL_FIELD}}
    </a>
</div>


<!--
<div id="setNameTemplateId" class="ui-grid-cell-contents">

    <a ng-click="grid.appScope.signClicked(networkSetExpanded, row); networkSetExpanded=!networkSetExpanded">

        <span ng-show="networkSetExpanded" style="font-size:1.3em;"
              title="Click to collapse networks">&ndash;
        </span>

        <span ng-hide="networkSetExpanded" style="font-size:1.4em;"
              title="Click to show networks in this Set">&plus;
        </span>
    </a>

    &nbsp;

    <a ng-href="#/networkset/{{row.entity.externalId}}"
       title="{{row.entity.name}} &#x0D;&#x0D; {{row.entity.description}}">{{COL_FIELD}}
    </a>
</div>
-->