<div id="showCellContentsInNetworkTableId" class="ui-grid-cell-contents" >

    <span ng-if="grid.appScope.getNumEdgeAttributes(COL_FIELD) <= 1">
        <div class="ui-grid-cell-contents hideLongLine" ng-bind-html="grid.appScope.linkify(COL_FIELD)"></div>
    </span>

    <span ng-if="grid.appScope.getNumEdgeAttributes(COL_FIELD) > 1">
        <div class="text-center">
            <a ng-click="grid.appScope.showMoreEdgeAttributes(row, COL_FIELD)">
                {{grid.appScope.getNumEdgeNdexCitations(COL_FIELD)}}
            </a>
        </div>
    </span>

</div>
