<span ng-click="openMe()" ng-transclude></span>

<script type="text/ng-template" id="change-password-modal.html">
    <div class="modal-content">
        <form class='form-horizontal' role="form" ng-submit="submit()">
            <div class="modal-header">
            <h4>Change Password</h4>
            </div>
            
            <div class="modal-body text-center">
                    <!--<div class="form-group">
                        <label class="col-md-3 control-label">Old Password</label>
                        <div class='col-md-7'>
                            <input type="password" class="form-control " ng-model="change.password" 
                                placeholder="Password">
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">New Password</label>
                        <div class='col-md-7'>
                            <input type="password" class="form-control" ng-model="change.newPassword" 
                                placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Confirm Password</label>
                        <div class='col-md-7'>
                            <input type="password" class="form-control" ng-model="change.newPasswordConfirm" 
                                placeholder="New Password">
                        </div>
                    </div>
                
                <div class='text-danger'>
                    <strong>
                    {{errors}}
                    </strong>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" ng-click="cancel()">Cancel</a>
                <button class="btn btn-default" type ="submit" >Sign Up</button>
            </div>
        </form>
    </div>
</script>