<span style='cursor: pointer' ng-click="openMe()" ng-transclude></span>

<script type="text/ng-template" id="create-export-network-task-modal.html">
    <div class='modal-content'>
        <div class='modal-body' ng-hide='false'>

            <h5><strong>
                Network: {{name}}
            </strong></h5>

            <h5><strong>
                File Format:
            <span class="dropdown">
		      <a href class="dropdown-toggle">
                  {{task.format}} <span class="caret"></span>
              </a>
		      <ul class="dropdown-menu">
                  <li>
                      <a class="dropdown-toggle" ng-click='task.format = "XGMML"'><small>XGMML</small></a>
                  </li>
                  <li>
                      <a class="dropdown-toggle" ng-click='task.format = "XBEL"'><small>XBEL</small></a>
                  </li>
              </ul>
		    </span>
            </strong></h5>

            <div ng-show = "task.format == 'XBEL'"><strong style="color:red">XBEL export is only for BEL format networks.
                Be sure this network is in BEL.</strong>
            </div>

            <div ng-show = "task.format == 'XGMML'"><strong style="color:red">XGMML export is only for XGMML format networks.
                Be sure this network is in XGMML.</strong>
            </div>

            <div>This will create a background task to export the network as a file.
                When complete, the task will be displayed on your account home page
                with a link to download the exported file.
            </div>


        </div>

        <div class='modal-footer' ng-hide='false'>
            <button class='btn btn-default' ng-click='close()'>Cancel</button>
            <button class='btn btn-primary' ng-click='createTask()' ng-disabled='isProcessing'>Create Task</button>
        </div>
    </div>
</script>