<div class='modal-content'>
</form>
	<div class='modal-body' ng-hide='false'>

		<h5><strong>
		Ask to join {{request.groupName}}!
		</strong></h5>

		<span class="dropdown">
		  <a href class="dropdown-toggle" data-toggle="dropdown">
			{{request.permissionLabel}} <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
			<li>
			  <a class="dropdown-toggle" ng-click='request.permissionLabel = "Is admin"'><small>Is Admin</small></a>
			</li>
			<li>
			  <a class="dropdown-toggle" ng-click='request.permissionLabel = "Is member"'><small>Is Member</small></a>
			</li>
		  </ul>
		</span>

		<hr>
		<strong>Message</strong>
		<textarea class='form-control' rows='3' placeholder='' ng-model='request.message'></textarea>

		<div class='text-danger text-center'>
			<br>
			<strong>
			{{request.error}}
			</strong>
		</div>
	</div>

	<div class='modal-footer' ng-hide='false'>
		<a class='btn btn-default' ng-click='close()'>Cancel</a>
		<button type='submit' class='btn btn-primary' ng-click='submitRequest()'>Send</button>
	</div>
	</form>
</div>
