<div class='modal-content'>
    <form class="form-horizontal" name="createGroupForm" role="form" ng-submit='submit()'>
        <div class="modal-header">
            <h4 class="modal-title">Create Group</h4>
        </div>
        <div class="modal-body">

            <div class="form-group rowWithOneLineTopPad">
                <label class="col-sm-3 control-label">Group Name</label>
                <div class="col-sm-8">
                    <input type="text"
                           id="groupName"
                           name="groupName"
                           type="groupName"
                           class="form-control"
                           placeholder="Group Name"
                           required="required"
                           ng-model='group.groupName'>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Website</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="e.g. www.ndexbio.com" ng-model='group.website'>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Image Host</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="e.g. http://i.imgur.com/09oVvZg.jpg"
                           ng-model='group.image'>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Description</label>
                <div class="col-sm-8">
                    <text-angular
                            ta-toolbar='[["h3","h4","h5","h6","p","pre"],["bold","italics","underline","clear"],["justifyLeft","justifyCenter"],["html","insertLink"]]'
                            ta-toolbar-class="btn-toolbar"
                            ta-toolbar-group-class="btn-group btn-group-xs"
                            ta-toolbar-button-class="btn btn-default"
                            ta-toolbar-button-active-class="active"
                            ta-default-wrap="div"
                            ng-model='group.description'>
                    </text-angular>
                </div>
            </div>

            <div class='text-danger'>
                <strong>
                    {{errors}}
                </strong>
            </div>
        </div>
        <div class="modal-footer">
            <a type='cancel' class="btn btn-default" ng-click="cancel()">Cancel</a>
            <button type='submit' class="btn btn-primary" ng-click="submit()"
                    ng-disabled="!createGroupForm.groupName.$valid || isProcessing">
                Create</button>
        </div>
    </form>
</div>
