<span ng-click="openMe()">{{text}}</span>

<script type="text/ng-template" id="modal.html">
  <div class="modal-header">
      <h4 class="modal-title">Create a Group</h4>
  </div>
  <form name="createGroupForm" class="form-create-group" role="form" ng-submit='submit()'>
  <div class="modal-body">
    
          <div class="form-group">
              <input name="groupName" type="groupName" class="form-control"
                     placeholder="new group name"
                     ng-model="group.accountName" required>
          </div>
          <div class="form-group">
              <input name="organizationName" type="organizationName" class="form-control"
                     placeholder="organization represented by group "
                     ng-model="group.organizationName" required>
          </div>

          <p class='text-center text-danger'>{{errors}}</p>
      
  </div>
  <div class="modal-footer">
      <a type='cancel' class="btn btn-danger" ng-click="cancel()">Cancel</a>
      <button type='submit' class="btn btn-default" ng-click="submit()"
              ng-disabled="!createGroupForm.groupName.$valid || !createGroupForm.organizationName.$valid || isProcessing">
          Create</button>
  </div>
  </form>

</script>