<span style='cursor: pointer' ng-click="openMe()" ng-transclude></span>

<script type="text/ng-template" id="received-request-modal.html">
	<div class='modal-content wrapLongLine'>
		<div class='modal-body' ng-hide='false'>
			<h5><strong>
				<div class="wrapLongLine">
			       {{request.sourceName}} requests <span class='text-success'>{{request.permission | permissionToLabel}}</span> access to {{request.destinationName}}
			    </div>
			</strong></h5>
			<p><span ng-bind-html="request.message"></span></p>

			<hr>
			<strong>Response Message</strong>
			<textarea class='form-control' rows='3' ng-model='request.responseMessage'></textarea>

			<div class='text-danger'>
				<strong>
					<br>
					{{request.error}}
				</strong>
			</div>
		</div>

		<div class='modal-footer'>
			<button class='btn btn-default' ng-click='close()'>Cancel</button>
			<button class='btn btn-danger' ng-click='decline()'>Decline</button>
			<button class='btn btn-primary' ng-click='accept()'>Accept</button>
		</div>
	</div>
</script>