<span style='cursor: pointer' ng-click="openMe()" ng-transclude></span>

<script type="text/ng-template" id="sent-request-modal.html">
	<div class='modal-content'>
		<div class='modal-body' ng-hide='false'>
			<h5><strong>
			You requested <span class='text-success'>{{request.permission}}</span> access to {{request.destinationName}}
			</strong></h5>
			<p>{{request.message}}</p>
		</div>

		<div class='modal-footer' ng-hide='false'>
			<button class='btn btn-default' ng-click='close()'>Cancel</button>
			<button class='btn btn-danger' ng-click='delete()'>Delete</button>
		</div>
	</div>
</script>