<span style='cursor: pointer' ng-click="openMe()" ng-transclude></span>

<script type="text/ng-template" id="sent-request-modal.html">
	<div class='modal-content'>
		<div class='modal-body' ng-hide='false'>
			<h5>
				<strong>
					<div class="wrapLongLine">
				        You requested <span class='text-success'>{{request.permission | permissionToLabel}}</span>
						access to {{request.destinationName}} for {{request.sourceName}}
				    </div>
				</strong>
				<em class='text-muted' 
					ng-class='{"text-danger":request.response=="DECLINED", "text-success":request.response=="ACCEPTED"}'>
					 - {{request.response | requestStatusToLabel}}
				</em>
			</h5>
			<hr ng-show='request.message'>
			<strong ng-show='request.message'>Message</strong>
			<p>{{request.message}}</p>
			<div ng-hide='request.response == "PENDING"'>
				<hr>
				<h5><strong>Response</strong> - <em>from {{request.responder}}</em></h5>
				<p ng-show='request.responseMessage'>{{request.responseMessage}}</p>
			</div>

			<div class='text-danger' ng-if="request.error">
				<strong>
					<br>
					{{request.error}}
				</strong>
			</div>

		</div>

		<div class='modal-footer' ng-hide='false'>
			<button class='btn btn-default' ng-click='close()'>Cancel</button>
			<button class='btn btn-danger' ng-click='delete()'>Delete</button>
		</div>
	</div>
</script>