<span style='cursor: pointer' ng-click="openMe()" ng-transclude></span>

<script type="text/ng-template" id="show-network-reference-modal.html">
    <div class='modal-content'>

        <form class="form-horizontal" role="form" ng-submit='submit()'>

            <div class="modal-header">
                <h4 class="modal-title" ng-bind-html="network.title"></h4>
            </div>

            <div class="modal-body" style="max-height:520px; overflow:auto;">
                <div class="form-group">
                    <label for="referenceId" class="col-sm-3 control-label">Reference:</label>
                    <span class="col-sm-8">
                        <p class="form-control-static" id="referenceId" ng-bind-html="network.reference"></p>
                    </span>
                </div>
            </div>

            <div class="modal-footer">
                <a class="btn btn-default" type='button' ng-click='close()'>Close</a>
            </div>

        </form>

    </div>
</script>