<span ng-click="openMe()" ng-transclude></span>
<style>
    tbody > tr:nth-child(odd)
    {
        background: #FFFFFF;
    }

    tbody > tr:nth-child(even)
    {
        background: #F0F0F0;
    }
</style>
<script type="text/ng-template" id="show-network-sets-modal.html">
<div class='modal-content'>

  <form class="form-horizontal" role="form">

    <div class="modal-header">
        <h4 class="modal-title">Select Network Sets</h4>
    </div>

    <div class="modal-body">
        <table class="table table-striped table-bordered" style="empty-cells: show; margin-bottom: 0px;">
            <tr ng-repeat="thisSet in loadTheseSets" ng-class="selectedRow==$index ? 'info':''"
                ng-click="thisSet.selected = !thisSet.selected; updateNoOSelectedSets()">
                <td style="width: 35px;">
                    <i ng-show="thisSet.selected" style="color: green;" class="fa fa-check-square fa-lg" aria-hidden="true"></i>
                    <i ng-show="!thisSet.selected" class="fa fa-square-o fa-lg" aria-hidden="true"></i>
                </td>
                <td>
                    <span ng-bind-html="thisSet.name"></span>
                    <!--<span ng-bind-html="thisSet.description"></span> -->
                </td>
            </tr>
            <tr>
                <div ng-if="loadTheseSets.length == 0" style="font-size: 1.2em; text-align: left; padding-top: 1em;">
                    No sets available.  Use <strong>Create Network Set</strong> button to add new sets.
                </div>
            </tr>
        </table>

        <span ng-show="progress">
            <strong><span style="color: green; font-size: 1.3em" ng-bind-html="progress"></span></strong>
        </span>

        <span class='text-danger'>
           <br>
           <strong><span style="font-size: 1.3em" ng-bind-html="errors"></span></strong>
        </span>

    </div>
        
    <div class="modal-footer">
        <a class="btn btn-default" type='button' ng-click='closeModal()'>Cancel</a>

        <button class="btn btn-primary" ng-click="submit()"
                ng-disabled="noSetsSelected() || isProcessing">Add to Selected Sets
        </button>

        <button class="btn btn-primary"
            my-account-controller='myAccountController'
            signal-new-set-creation='true'
            trigger-create-network-set-modal="Create Network Set">
                Create Network Set
        </button>

    </div>
  </form>

</div>

</script>