<script type="text/ng-template" id="show-network-reference-modal.html">

    <div class='modal-content'>

        <form class="form-horizontal" role="form">

            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
            </div>

            <div class="modal-body">

                <div class="rowWithOneLineTopPad">
                    {{text}}
                </div>

                <div class="form-group rowWithTwoLinesTopPad">
                    <label class="col-sm-3 control-label">Reference</label>
                    <div class="col-sm-8">
                        <text-angular
                            ta-toolbar-class="btn-toolbar"
                            ta-toolbar-group-class="btn-group btn-group-xs"
                            ta-toolbar-button-class="btn btn-default"
                            ta-toolbar-button-active-class="active"
                            ta-default-wrap="div"
                            ta-disabled="true"
                            ng-readonly="true"
                            ng-model='network.reference'>
                        </text-angular>
                    </div>
                </div>

                <div class='text-danger'>
                    <strong>{{errors}}</strong>
                </div>
            </div>

            <div class="modal-footer">
                <a class="btn btn-default" type='button' ng-click='close()'>Close</a>
            </div>

        </form>

    </div>

</script>