<span ng-click="openMe()" ng-transclude></span>

<script type="text/ng-template" id="warning-modal.html">


	<div class="modal-content">
		WARNING
	    <div class="modal-header">
	        <h4 class="modal-title">
				<span ng-bind-html="title"></span>
			</h4>
	    </div>

	    <div class="modal-body">
			<div>
				<br>
				<span ng-bind-html="message"></span>
			</div>

		    <div class='text-danger'>
				<strong><span ng-bind-html="errors"></span></strong>
            </div>

            <div class='text-success'>
				<strong><span ng-bind-html="progress"></span></strong>
            </div>
		</div>

		<div class="modal-footer">
			<button class="btn btn-default" ng-click="cancel()" ng-if="!canProceed">OK</button>
			<button class="btn btn-default" ng-click="cancel()" ng-if="canProceed">Cancel</button>
			<button class="btn btn-primary" ng-click="confirm()" ng-disabled="isProcessing" ng-if="canProceed">Confirm</button>
		</div>

	</div>

</script>