<div id="divUserTabs" class="col-md-7">

    <tabset justified="true">
        <tab heading="Network API">
            <div ng-show="api.network">
                <div ng-repeat="networkMethod in api.network">
                    <br/>
                    <div><strong>{{networkMethod.methodName}}</strong> <code>{{networkMethod.path}}</code></div>
                    <div class="indent">Requires Authentication: {{networkMethod.authentication}}</div>
                    <div class="indent">Description: <span ng-bind-html="networkMethod.apiDoc"></span></div>
                </div>
            </div>

            <div ng-show="api.networkApiError">
                {{api.networkApiError}}
            </div>

        </tab>

        <tab heading="User API">
            <div ng-show="api.user">
                <div ng-repeat="userMethod in api.user">
                    <br/>
                    <div><strong>{{userMethod.methodName}}</strong> <code>{{userMethod.path}}</code></div>
                    <div class="indent">Requires Authentication: {{userMethod.authentication}}</div>
                    <div class="indent">Description: <span ng-bind-html="userMethod.apiDoc"></span></div>
                </div>
            </div>

            <div ng-show="api.userApiError">
                {{api.userApiError}}
            </div>
        </tab>

        <tab heading="Group API">
            <div ng-show="api.group">
                <div ng-repeat="groupMethod in api.group">
                    <br/>
                    <div><strong>{{groupMethod.methodName}}</strong> <code>{{groupMethod.path}}</code></div>
                    <div class="indent">Requires Authentication: {{groupMethod.authentication}}</div>
                    <div class="indent">Description: <span ng-bind-html="groupMethod.apiDoc"></span></div>
                </div>
            </div>

            <div ng-show="api.groupApiError">
                {{api.groupApiError}}
            </div>
        </tab>

        <tab heading="Request API">
            <div ng-show="api.request">
                <div ng-repeat="requestMethod in api.request">
                    <br/>
                    <div><strong>{{requestMethod.methodName}}</strong> <code>{{requestMethod.path}}</code></div>
                    <div class="indent">Requires Authentication: {{requestMethod.authentication}}</div>
                    <div class="indent">Description: <span ng-bind-html="requestMethod.apiDoc"></span></div>
                </div>
            </div>

            <div ng-show="api.requestError">
                {{api.requestError}}
            </div>
        </tab>

        <tab heading="Task API">
            <div ng-show="api.task">
                <div ng-repeat="taskMethod in api.task">
                    <br/>
                    <div><strong>{{taskMethod.methodName}}</strong> <code>{{taskMethod.path}}</code></div>
                    <div class="indent">Requires Authentication: {{taskMethod.authentication}}</div>
                    <div class="indent">Description: <span ng-bind-html="taskMethod.apiDoc"></span></div>
                </div>
            </div>

            <div ng-show="api.taskError">
                {{api.taskError}}
            </div>
        </tab>
    </tabset>
</div>

