<div id="compareCanvas"></div>

<!--
<div id="details" ng-hide="showDetails">
    <div id="hide_details" ng-click="showDetails=false"><img src="img/close_icon.png" height=40></div>
    <div id="detailsContent">
        <ul id="ulSubnetwork" ng-repeat="(id, edge) in selectedEdges">

            <li>
                <strong>{{NdexClient.getNodeLabel(getEdgeSubject(edge))}}</strong>
                <em>{{NdexClient.getPredicate(edge).name}}</em>
                <strong>{{NdexClient.getNodeLabel(getEdgeSubject(edge))}}</strong>
            </li>
        </ul>
    </div>
</div>
-->

