<style>
.competeInput {
	border: 2px solid green;
}


@media (min-width: 1599px) {
	.main-area {
		width: 1600px;
        margin-left: auto;
        margin-right: auto;
	}
}

@media (max-width: 1600px) {
	.main-area {
		width: 100%;
	}
}

input[type='radio']:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #eee;/*#d1d3d1;*/
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

input[type='radio']:checked:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #606060;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

</style>
<div class ='row'>
	<div class='col-sm-offset-2 col-sm-8'>
		<p class="alert alert-danger" ng-repeat='error in editor.errors'>
			{{error}}
			<span class="glyphicon glyphicon-remove pull-right"
				style='cursor:pointer'
				ng-click='editor.errors.splice($index,1)'>	
			</span>
		</p>
	</div>
</div>

<div class='row'>
    <div class='col-sm-2'>
        <h4 ng-show='editor.isAdmin || editor.canEdit'>Network Properties Editor</h4>
        <h4 ng-hide='editor.isAdmin || editor.canEdit'>Network Properties</h4>
    </div>
    <div class='col-sm-offset-8 col-sm-2'>
        <div class="btn-group btn-group-xs" role="group" aria-label="...">
            <button type="button" class="btn btn-default disabled"><i class="fa fa-filter" aria-hidden="true"></i></button>

            <button type="button" class="btn" ng-click="updateFieldFilters('MAIN')" ng-class="editor.viewfilter.state == 'DOI' ? 'btn-default': 'btn-primary'">All</button>
            <button type="button" class="btn" ng-click="updateFieldFilters('DOI')" ng-class="editor.viewfilter.state == 'DOI' ? 'btn-primary': 'btn-default'">DOI</button>
        </div>
    </div>
	<hr>
</div>

<div class='row'>
	<div class='col-sm-offset-2 col-sm-2'>
		<h4 style="margin-top:0px;" class="pull-right">NDEx Score {{score}}</h4>
	</div>

	<div class='col-sm-8'>
		<div class="progress" style="width: 500px;">
			<div class="progress-bar progress-bar-striped" ng-class="scoreClass" role="progressbar" style="min-width: 2%;" aria-valuenow="{{score}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( score + '%' ) }">
			</div>
		</div>
	</div>
</div>
<div class='row' ng-show="editor.viewfilter.state === 'DOIX'">
	<div class='col-sm-offset-2 col-sm-2'>
		<h4 style="margin-top:0px;" class="pull-right">DOI Readiness {{score}}</h4>
	</div>

	<div class='col-sm-8'>
		<div class="progress" style="width: 500px;">
			<div class="progress-bar progress-bar-striped" ng-class="scoreClass" role="progressbar" style="min-width: 2%;" aria-valuenow="{{score}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( score + '%' ) }">
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-sm-8'>
<!--
    {{editor.propertyValuePairs}}
-->
	</div>
	<div class='col-sm-4'>
<!--		<button class="btn btn-success" ng-click="updatePointers()">click me</button>-->
	</div>
</div>


<hr style="margin-top:0px;">


<div class='row'>
	<div class='main-area'>
		<div ng-show="editor.viewfilter.state === 'DOI'">
			<ng-include src="'pages/partials/doiNetworkProperties.html'"></ng-include>
		</div>

		<div ng-show="editor.viewfilter.state === 'MAIN'">
			<ng-include src="'pages/partials/mainNetworkProperties.html'"></ng-include>
		</div>
	</div>
</div>



