<div class ='row'>
	<div class='col-sm-offset-2 col-sm-8'>
		<p class="alert alert-danger" ng-repeat='error in editor.errors'>
			{{error}}
			<span class="glyphicon glyphicon-remove pull-right"
				style='cursor:pointer'
				ng-click='editor.errors.splice($index,1)'>	
			</span>
		</p>
	</div>
</div>

<div class='row'>
	<h4 ng-show='editor.isAdmin || editor.canEdit'>Custom Network Properties Editor</h4>
	<h4 ng-hide='editor.isAdmin || editor.canEdit'>Custom Network Properties</h4>
	<p ng-show='editor.isAdmin || editor.canEdit'>
		Borrow from the Open Biomedical Ontologies or any ontology. 
	</p>
	<hr>
</div>



<div class='row'>

	<div class='col-sm-3 well well-lg'>
		<div class='row' >
			<div class='col-sm-12'>
				<h6><strong>Namespaces in This Network</strong></h6>
			</div>

			<div class='panel panel-default'>
				<ul class='list-group'>
					<li class='list-group-item' ng-repeat='namespace in editor.namespaces'> 
						<span>{{namespace.prefix || namespace.uri}}</span>
						<span class="glyphicon glyphicon-remove text-muted pull-right"
							style='cursor:pointer'
							ng-click='editor.removeOntology($index)'
							ng-show='false'>	
						</span>
						
					</li>
				</ul>
		    </div>
		</div>

		<br>

		<div ng-show='editor.isAdmin || editor.canEdit'>
		<h6><strong>Add an Ontology</strong></h6>
		<form class='row' role="form" ng-submit='editor.addNamespace()'>
		  <div class="form-group">
		    <label>Prefix</label>
		    <input type="text" class="form-control input-sm" placeholder='e.g., GO'
		    	ng-model='editor.newPrefix'
		    	typeahead='ontology.prefix for ontology in editor.preloadedOntologies | filter:{prefix:$viewValue} | limitTo:20'
		    	typeahead-on-select='editor.setURI($item, $model, $label)'>
		  </div>
		  <div class="form-group">
		    <label>Reference URI</label>
		    <input type="text" class="form-control input-sm" placeholder="e.g., http://identifiers.org/go/" ng-model='editor.newURI'>
		  </div>
		  <button type="submit" class="btn btn-sm btn-default pull-right">Add</button>
		</form>
		</div>

	</div>

	<div class='col-sm-9'>

		<h5><em ng-show='editor.isAdmin || editor.canEdit'>Editing </em>{{editor.networkName}}</h5>
		<p class='text-info' ng-show='editor.isAdmin || editor.canEdit'>Selected ontologies must be defined. However, they are not required. Select none if you do not wish to use an ontology.</p>
		<br>

		<div class='row'>
			<div class='col-sm-offset-1 col-sm-5'>
				<label>Predicate</label>
			</div>
			<div class='col-sm-5'>
				<label>Value</label>
			</div>
		</div>
		<form class="form-horizontal" role="form" ng-submit='editor.save()'>

		  <div class="form-group" ng-repeat='property in editor.propertyValuePairs'>
		    <div class="col-sm-offset-1 col-sm-5">
		    	<div class='input-group'>
			    	<div class='input-group-btn dropdown'>
			    		<button type='button' class='btn btn-sm btn-default dropdown-toggle' 
			    				ng-disabled='!(editor.isAdmin || editor.canEdit)'>
			    			{{property.predicatePrefix}}:
			    		</button>
			    		<ul class="dropdown-menu" role="menu">
                            <li ng-repeat='namespace in editor.namespaces'>
                            <a class ="dropdown-toggle" ng-click="property.predicatePrefix = namespace.prefix || namespace.uri">
                            {{namespace.prefix || namespace.uri}}
                            </a>
                            </li>
                        </ul>
			    	</div>
					<input class="form-control input-sm" placeholder="Label" 
						ng-model='property.predicateString'
						ng-change='editor.changed($index)'
						ng-readonly='!(editor.isAdmin || editor.canEdit)'
					    onblur="checkPredicateString(this);">
				</div>
		    </div>

		    <div class="col-sm-5">
		    	<div class='input-group'>
		    		<div class='input-group-btn dropdown'>
			    		<button type='button' class='btn btn-sm btn-default dropdown-toggle'
			    				ng-disabled='!(editor.isAdmin || editor.canEdit)'>
			    			{{property.valuePrefix}}:
			    		</button>
			    		<ul class="dropdown-menu" role="menu">
                            <li ng-repeat='namespace in editor.namespaces'>
                            <a class ="dropdown-toggle" ng-click="property.valuePrefix = namespace.prefix || namespace.uri">
                            {{namespace.prefix || namespace.uri}}
                            </a>
                            </li>
                        </ul>
			    	</div>
			        <input class="form-control input-sm" placeholder="Value" 
			      	  ng-model='property.value'
			      	  ng-change='editor.changed($index)'
			      	  ng-readonly='!(editor.isAdmin || editor.canEdit)'>
		      	</div>
		    </div>

		    <div class='' ng-hide='$last || !(editor.isAdmin || editor.canEdit)'>
		    	<button type='button' class='btn btn-link' ng-click='editor.propertyValuePairs.splice($index,1)'>
		    		<span class="glyphicon glyphicon-remove text-muted"></span>
		    	</button>
		    </div>
		  </div>

		  <hr>
		  <div class="row" ng-show='editor.isAdmin || editor.canEdit'>
		  	<div class="pull-right">
		      <button type="button" class="btn btn-sm btn-danger" ng-click='editor.refresh()'>Discard Changes</button>
		      <button type="submit" class="btn btn-sm btn-success">Save Changes</button>
		    </div>
		  </div>
		</form>

	</div>
</div>

