<div class='row'>
	<h4>Custom Network Properties Editor</h4>
	
	<p>
		Borrow from the Open Biomedical Ontologies or any ontology. 
	</p>
	<hr>
</div>



<div class='row'>

	<div class='col-sm-3 well well-lg'>
		<div class='row' >
			<div class='col-sm-12'>
				<h6><strong>Ontologies in This Network</strong></h6>
			</div>

			<div class='panel panel-default'>
				<ul class='list-group'>
					<li class='list-group-item' ng-repeat='namespace in editor.ontologies'> 
						{{namespace.prefix}}
						<span class="glyphicon glyphicon-remove text-muted pull-right"
							style='cursor:pointer'
							ng-click='editor.removeOntology($index)'>	
						</span>
						
					</li>
				</ul>
		</div>
		</div>

		<br>

		<h6><strong>Add an Ontology</strong></h6>
		<form class='row' role="form" ng-submit='editor.addOntology()'>
		  <div class="form-group">
		    <label>Prefix</label>
		    <input type="text" class="form-control input-sm" placeholder='e.g., GO'
		    	ng-model='editor.newPrefix'
		    	typeahead='ontology.prefix for ontology in editor.preloadedOntologies | filter:{prefix:$viewValue} | limitTo:20'
		    	typeahead-on-select='editor.setURI($item, $model, $label)'>
		  </div>
		  <div class="form-group">
		    <label>Reference URI</label>
		    <input type="text" class="form-control input-sm" placeholder="e.g., http://identifiers.org/go/" ng-model='editor.newURI'>
		  </div>
		  <button type="submit" class="btn btn-sm btn-default pull-right">Add</button>
		</form>

	</div>

	<div class='col-sm-9'>

		<h5><em>Editing </em>{{editor.networkName}}</h5>
		<p class='text-info'>Selected ontologies must be defined. However, they are not required. Select none if you do not wish to use an ontology.</p>
		<br>

		<form class="form-horizontal" role="form" ng-submit=''>

		  <div class="form-group" ng-repeat='property in editor.propertyValuePairs'>
		    <div class="col-sm-offset-1 col-sm-4">
		    	<div class='input-group'>
			    	<div class='input-group-btn dropdown'>
			    		<button type='button' class='btn btn-sm btn-default dropdown-toggle'>
			    			{{property.predicatePrefix}}:
			    		</button>
			    		<ul class="dropdown-menu" role="menu">
                            <li ng-repeat='ontology in editor.ontologies'>
                            <a class ="dropdown-toggle" ng-click="property.predicatePrefix = ontology.prefix">
                            {{ontology.prefix}}
                            </a>
                            </li>
                        </ul>
			    	</div>
					<input class="form-control input-sm" placeholder="Label" 
						ng-model='property.predicateString'
						ng-change='editor.changed($index)'>
				</div>
		    </div>

		    <div class="col-sm-4">
		    	<div class='input-group'>
		    		<div class='input-group-btn dropdown'>
			    		<button type='button' class='btn btn-sm btn-default dropdown-toggle'>
			    			{{property.valuePrefix}}:
			    		</button>
			    		<ul class="dropdown-menu" role="menu">
                            <li ng-repeat='ontology in editor.ontologies'>
                            <a class ="dropdown-toggle" ng-click="property.valuePrefix = ontology.prefix">
                            {{ontology.prefix}}
                            </a>
                            </li>
                        </ul>
			    	</div>
			        <input class="form-control input-sm" placeholder="Value" 
			      	  ng-model='property.value'
			      	  ng-change='editor.changed($index)'>
		      	</div>
		    </div>

		    <div class='' ng-hide='$last'>
		    	<button type='button' class='btn btn-link' ng-click='editor.propertyValuePairs.splice($index,1)'>
		    		<span class="glyphicon glyphicon-remove text-muted"></span>
		    	</button>
		    </div>
		  </div>

		  <hr>
		  <div class="row">
		  	<div class="col-sm-offset-6 col-sm-6">
		      <button type="button" class="btn btn-sm btn-danger">Discard Changes</button>
		    
		      <button type="submit" class="btn btn-sm btn-success">Save Changes</button>
		    
		      <button type="button" class="btn btn-sm btn-default">Done</button>
		    </div>
		  </div>
		</form>

	</div>
</div>

