<div class='row'>
	<h4>Custom Network Properties Editor</h4>
	
	<p>
		Borrow from the Open Biomedical Ontologies or any ontology. 
	</p>
	<hr>
</div>



<div class='row'>

	<div class='col-sm-3 well well-lg'>
		<div class='row' >
			<div class='col-sm-12'>
				<h6><strong>Ontologies in This Network</strong></h6>
			</div>

			<div class='panel panel-default'>
				<ul class='list-group'>
					<li class='list-group-item' ng-repeat='namespace in editor.ontologies'> 
						{{namespace.prefix}}
						{{namespace.uri}}
					</li>
				</ul>
		</div>
		</div>

		<br>

		<h6><strong>Add an Ontology</strong></h6>
		<form class='row' role="form">
		  <div class="form-group">
		    <label>Prefix</label>
		    <input type="text" class="form-control input-sm" placeholder="prefix">
		  </div>
		  <div class="form-group">
		    <label>Reference URL</label>
		    <input type="url" class="form-control input-sm" placeholder="link">
		  </div>
		  <button type="submit" class="btn btn-sm btn-default pull-right">Add</button>
		</form>

	</div>

	<div class='col-sm-9'>

		<h5><em>Editing </em>{{editor.networkName}}</h5>
		<p class='text-info'>Selected ontologies must be defined. However, they are not required.</p>
		<br>

		<form class="form-horizontal" role="form" ng-submit='editor.save()'>

		  <div class="form-group" ng-repeat='property in editor.propertyValuePairs'>
		    <div class="col-sm-offset-2 col-sm-4">
		      <input class="form-control input-sm" placeholder="Label" 
		      	ng-model='property.predicateString'
		      	ng-change='editor.changed($index)'
		      	ng-options='editor.existingTerms'
		      	bs-typeahead>
		    </div>
		    <div class="col-sm-4">
		      <input class="form-control input-sm" placeholder="Value" 
		      	ng-model='property.value'
		      	ng-change='editor.changed($index)'>
		    </div>
		    <div class='' ng-hide='$last'>
		    	<button class='btn btn-link' ng-click='editor.propertyValuePairs.splice($index,1)'>
		    		<span class="glyphicon glyphicon-remove text-muted"></span>
		    	</button>
		    </div>
		  </div>

		  <hr>
		  <div class="form-group">
		    <div class="col-sm-offset-10 col-sm-2">
		      <button type="submit" class="btn btn-default">Save</button>
		    </div>
		  </div>
		</form>

	</div>
</div>

