<div id="divGroup" class="row" >

    <div style="margin-bottom: 1em" ng-show="groupController.errors.length > 0">
        <div class="alert alert-danger" style="margin-bottom: 1em; font-size: 1.2em; font-weight: bold" ng-repeat='error in groupController.errors'>
            {{error}}
            <span class="glyphicon glyphicon-remove pull-right"
                  style='cursor:pointer'
                  ng-click='groupController.errors.splice($index,1)'>
            </span>
        </div>
    </div>

    <div class="col-md-2">
        <div class="row">
            <div class='row'>
            <ndex-account-image 
                    ndex-class="'col-md-10'"
                    ndex-src="groupController.displayedGroup.image">
            </ndex-account-image>
            </div>
            <!--
            <h4>
                {{groupController.displayedGroup.userName}}
            </h4>
            -->
            <div class="wrapLongLine">
                <h4>
                    {{groupController.displayedGroup.groupName}}
                </h4>
            </div>
            <div class="wrapLongLine">
                <small>{{groupController.displayedGroup.emailAddress}}</small>
            </div>
            <div class="wrapLongLine">
                <a ng-href="{{groupController.displayedGroup.website}}" target="_blank">{{groupController.displayedGroup.website}}</a>
            </div>

            <div class="wrapLongLine" ng-bind-html="groupController.displayedGroup.description"></div>

            <span class="btn-group btn-group-vertical buttonWithMarginBottom"
                 ng-show='groupController.isAdmin || groupController.isMember'>
                <hr>
                <h5><strong>Actions:</strong></h5>

                 <span ng-show='groupController.isAdmin'>

                    <edit-group-modal
                            ndex-data='groupController.displayedGroup'>
                    </edit-group-modal>


                    <a class="btn btn-primary customButtonWidth"
                        ng-href="{{'#/access/group/'+groupController.displayedGroup.externalId}}">
                        Manage Members
                    </a>
                 </span>

                 <leave-group ndex-data='groupController'></leave-group>

                 <span ng-show='groupController.isAdmin'>
                    <delete-group
                        group-id-to-del='groupController.displayedGroup.externalId'>
                    </delete-group>
                 </span>

            </span>

            <span class="btn-group btn-group-vertical buttonWithMarginBottom"
                ng-hide='groupController.isMember || groupController.isAdmin || !groupController.isLoggedInUser'>
                <hr>
                <h5><strong>Actions:</strong></h5>
                <create-request-group ndex-data='groupController.displayedGroup'></create-request-group>
            </span>
        </div>
    </div>

    <!-- tabs -->
    <div id="divgroupTabs" class="col-md-9" ng-show="groupController.displayedGroup">

        <tabset justified="true">
            <tab heading="Networks">
                <div id="divNetworks" ng-show='groupController.networkSearchResults.length > 0'>
                    <div ui-grid-selection
                         ui-grid="networkGridOptions"
                         ui-grid-resize-columns
                         ui-grid-auto-resize
                         class="networkGrid"></div>
                </div>
                <!--
                <div id="divNetworks" ng-show='groupController.networkSearchResults.length > 0'>
                    <table class="table table-hover" ng-show="groupController.networkSearchResults.length > 0">
                        <!--
                        <tbody ng-repeat="(index, network) in displayedGroup.networks">
                        <tr ng-click="setAndDisplayCurrentNetwork(network.resourceId)">
                            <td>{{network.resourceName}}</td>
                        </tr>
                        </tbody>
                        -->

                <!--
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th style="width: 10%;">Nodes</th>
                            <th style="width: 10%;">Edges</th>
                        </tr>
                        </thead>
                        <tbody  ng-repeat="network in groupController.networkSearchResults">
                        <tr ng-click="groupController.setAndDisplayCurrentNetwork(network.externalId)">
                            <td>{{network.name}}</td>
                            <td class="AlignRight">{{network.nodeCount}}</td>
                            <td class="AlignRight">{{network.edgeCount}}</td>
                        </tr>
                        </tbody>

                    </table>
                </div>
                -->
                <div class='row' ng-hide='groupController.networkSearchResults.length > 0'>
                    <br>
                    <p class='text-center text-muted'>No networks to display</p>
                </div>
            </tab>
            <tab heading="Members">
                <div id="divGroups">
                    <div class='row center-block'>
                        <hr>
                        <form class='form-inline col-md-6' role="form" ng-submit="groupController.searchMembersFromUserInput()">
                            <div class='form-group'>
                                <div class="input-group input-group-sm" >
                                    <input type="text" class="form-control input-sm" placeholder="Search Members"
                                            ng-model='groupController.memberSearchString' >
                                    <div class="input-group-btn"><button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search"></span></button></div>
                                </div>
                            </div>
                        </form>
                        <div class='offset-col-md-2 col-md-2'>
                            <div class="checkbox"><label>
                                <input type="checkbox"
                                    ng-click='groupController.adminCheckBoxClicked()'
                                    ng-model="groupController.userSearchAdmin">Admin</label>
                            </div>
                        </div>
                        <div class='col-md-2'>
                            <div class="checkbox"><label>
                                <input type="checkbox"
                                    ng-click='groupController.memberCheckBoxClicked()'
                                    ng-model="groupController.userSearchMember">Member</label>
                            </div>
                        </div>

                    </div>

                    <div ng-show='groupController.userSearchResults.length > 0'> 
                        <ul ng-repeat="user in groupController.userSearchResults">
                            <div class='row'>
                            <ndex-navigation ndex-class="" ndex-url="'user/'+user.externalId">
                                <ndex-account-image 
                                  ndex-class="'col-xs-2 col-sm-2 col-md-2 col-lg-2'" 
                                  ndex-src="user.image">
                                </ndex-account-image>
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                    <h5><strong>{{user.firstName}} {{user.lastName}}
                                        </strong> </h5>
                                    <p class="text-muted">{{user.accountName}}</p>
                                </div>
                            </ndex-navigation>
                            </div>
                        </ul>
                    </div>

                    <div class='row' ng-hide='groupController.userSearchResults.length > 0'>
                        <br>
                        <p class='text-center text-muted'>No users to display</p>
                    </div>

                </div>
                
            </tab>
        </tabset>

    </div>

</div>