<div class="jumbotron text-center">
    <div>
        <img src='img/NDEx-horizontal-transparent.png' style="width:70%; max-height:300; align=center"></img>
    </div>
	<p ng-show="main.accountName">Welcome {{ main.accountName }}!</p>
    <p ng-show="!main.accountName">
        <a ng-href="#signIn">Please Sign In</a>
    </p>
</div>
<!--
<div>
	<h5> Test Stuff </h5>
	<a ng-click="main.createGroup()">create group</a>
	<p> {{main.group}} </p>
	<a ng-click="main.getGroup()">get group</a>
	<p> {{main.retrievedGroup}} </p>
	<a ng-click="main.deleteGroup()">delete group</a>
	<p></p>
	<a ng-click="main.searchGroups()">search groups</a>
	<p> {{main.searchResults}} </p>
	<hr>
	<p> {{main.errors}} </p>
</div>
-->