
<div class ='row'>
	<div class='col-sm-offset-2 col-sm-8'>
		<p class="alert alert-danger" ng-repeat='error in networkManager.errors'>
			{{error}}
			<span class="glyphicon glyphicon-remove pull-right"
				style='cursor:pointer'
				ng-click='networkManager.errors.splice($index,1)'>	
			</span>
		</p>
	</div>
</div>

<div class='row'>

	<div class='col-sm-offset-2 col-sm-8'>

		<div class='row'>
			<h5>Manage who has access for <strong>{{networkManager.network.name}}</strong></h5>
			<br>
			<p class='text-info'>Users and groups with admin access modify and delete the network as well as manage who has access. Users and groups who can edit the network can only modify the network. Users and groups with read access can view the network even if it is private. </p>
			<p class='text-info'>
			Please note that granting access to a group is equivalent to granting access to all the members for the specified access.
			</p>
		</div>

		<div class='row'>
			<h6>Who has access</h6>
			<hr>

			<div ng-repeat='member in networkManager.memberships'>
			<div class='row'>
				<div class='col-sm-offset-1 col-sm-3 text-muted'>
					{{member.memberAccountName}}
				</div>
				<div class='col-sm-3'>
					<span class="dropdown">
				        <a href class="dropdown-toggle">
				        	{{member.permissions | permissionToLabel}}<span class="caret"></span>
				        </a>
				        <ul class="dropdown-menu">
				      		<li>
				            	<a class="dropdown-toggle" 
				            		ng-click='networkManager.memberships[$index].permissions = "ADMIN"; networkManager.update.push(member)'>
				            		<small>Is Admin</small>
				            	</a>
				        	</li>
				        	<li>
				            	<a class="dropdown-toggle" 
				            		ng-click='networkManager.memberships[$index].permissions = "WRITE"; networkManager.update.push(member)'>
				            		<small>Can Edit</small>
				            	</a>
				        	</li>
				        	<li>
				            	<a class="dropdown-toggle" 
				            		ng-click='networkManager.memberships[$index].permissions = "READ"; networkManager.update.push(member)'>
				            		<small>Can Read</small>
				            	</a>
				        	</li>
				      </ul>
				    </span>
				</div>
				<div class='col-sm-1'>
					<span class="glyphicon glyphicon-remove text-muted"
						style='cursor:pointer'
						ng-click='networkManager.memberships.splice($index,1); networkManager.remove.push(member)'>	
					</span>
				</div>

			</div>
			<hr>
			</div>

			<div class='pull-right'>
				<button type="button" class="btn btn-sm btn-danger" ng-click='networkManager.loadMemberships()'>
					Discard Changes
				</button>
			    <button type="button" class="btn btn-sm btn-success" ng-click='networkManager.save()'
						ng-disabled="isProcessing">
					Save Changes</button>
			</div>

		</div>

		<br><br>
		<div class='row'>

			<div class='col-sm-4'>
				<h6>Grant access to users</h6>
				<div class='row'>
					<form role='form' ng-submit='networkManager.findUsers()'>
					<input type="text" class="input-sm" placeholder="find a person"
						ng-model='networkManager.searchString'>
						<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
					</form>
				</div>
			
				<div class='row' ng-repeat='user in networkManager.newUsers'>
					<br>
					<div class='col-sm-8'>
						<div class='row'>
							<div class='col-sm-6'>
							<div class='row'>
							<ndex-account-image 
				                    ndex-class="'col-sm-10'"
				                    ndex-src="user.image">
				            </ndex-account-image>
				            </div>
				            </div>

					        <div class='col-sm-6'>
						        <br>
								{{user.accountName}}
							</div>

						</div>
					</div>
					<div class='col-sm-4'>
					<br>
						<button class='btn btn-xs btn-primary pull-right' 
							ng-disabled='user.member' 
							ng-click='networkManager.addMember(user)'>
							Add
						</button>
					</div>
				</div>

			</div>

			<div class='col-sm-offset-2 col-sm-4'>
				<h6>Grant access to groups</h6>
				<div class='row'>
					<form role='form' ng-submit='networkManager.findGroups()'>
					<input type="text" class="input-sm" placeholder="find a group"
						ng-model='networkManager.groupSearchString'>
						<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
					</form>
				</div>
			
				<div class='row' ng-repeat='group in networkManager.newGroups'>
					<br>
					<div class='col-sm-8'>
						<div class='row'>
							<div class='col-sm-6'>
							<div class='row'>
							<ndex-account-image 
				                    ndex-class="'col-sm-10'"
				                    ndex-src="group.image">
				            </ndex-account-image>
				            </div>
				            </div>

					        <div class='col-sm-6'>
						        <br>
								{{group.accountName}}
							</div>

						</div>
					</div>
					<div class='col-sm-4'>
					<br>
						<button class='btn btn-xs btn-primary pull-right' 
							ng-disabled='group.member' 
							ng-click='networkManager.addMember(group)'>
							Add
						</button>
					</div>
				</div>

			</div>

		</div>

	</div>

</div>

