
<div class="row" >

    <div class="col-md-2">
        <div class="row">
            <div class='row'>
                <ndex-account-image
                        ndex-class="'col-md-10'"
                        ndex-src="myAccountController.displayedUser.image">
                </ndex-account-image>
            </div>
            <h4>
                {{myAccountController.displayedUser.firstName}} {{myAccountController.displayedUser.lastName}}
            </h4>
            <div>
                <small>{{myAccountController.displayedUser.accountName}}</small>
            </div>
            <div class="wrapLongLine">
                <a href="{{myAccountController.displayedUser.website}}" target="_blank">
                    {{myAccountController.displayedUser.website}}
                </a>
            </div>

            <div class="wrapLongLine" ng-bind-html="myAccountController.displayedUser.description"></div>

            <div class="rowWithOneLineTopPad"><strong>Disk Space Used: </strong>
                <span ng-if="!diskSpaceInfo.diskQuotaUnlimited">{{diskSpaceInfo.diskPercentageUsed}}%</span>
                <span ng-if="diskSpaceInfo.diskUsed>0">
                    <br>
                    ( {{diskSpaceInfo.diskUsedString}} )
                </span>
            </div>

            <div class="progress progress-striped" ng-if="diskSpaceInfo.diskUsed > 0">
                <div ng-class="diskSpaceInfo.diskPercentageUsedClass" ng-style="diskSpaceInfo.diskPercentageUsedStyle"></div>
            </div>

            <hr>

            <span ng-show="myAccountController.isLoggedInUser && myAccountController.identifier == myAccountController.loggedInIdentifier">

                <div class="btn-group btn-group-vertical buttonWithMarginBottom"
                     ng-show="myAccountController.networkTableRowsSelected > 0">
                    <h5><strong>Bulk Actions:</strong></h5>

                    <span  ng-show="myAccountController.networkTableRowsSelected > 0">
                        <span>
                            <div class="btn-group dropdown">

                               <button id="editNetworksPropertiesButton" type="button" data-toggle="dropdown"
                                       class="btn btn-primary dropdown-toggle customButtonWidth"
                                       ng-class="enableEditAndExportBulkButtons ? 'btn btn-primary customButtonWidth' :
                                            'btn btn-primary customButtonWidth disabled'">
                                   {{myAccountController.editProfilesLabel}}
                                   <span class="caret"></span>
                               </button>

                               <ul class="dropdown-menu" role="menu" aria-labelledby="editNetworksPropertiesButton">
                                   <li ng-class="enableEditPropertiesBulkButton ? '' : 'disabled'">
                                       <a>
                                           <bulk-change-network-property
                                                   ndex-data='myAccountController'
                                                   directive-title="Change Description of Selected Networks"
                                                   directive-action="description"
                                                   directive-description="Change Descriptions of the selected networks to the one below:"
                                                   title="{{enableEditPropertiesBulkButton ?
                                                        'Change Description of the selected networks' :
                                                        '1 or more selected networks are Cytoscape collections with multiple subnetworks and cannot be edited in NDEx.'}}"
                                                   directive-label="Change Description">
                                                Change Description
                                            </bulk-change-network-property>
                                       </a>
                                   </li>
                                   <li ng-class="enableEditPropertiesBulkButton ? '' : 'disabled'">
                                       <a>
                                           <bulk-change-network-property
                                                   ndex-data='myAccountController'
                                                   directive-title="Change Reference of Selected Networks"
                                                   directive-action="reference"
                                                   directive-description="Change Reference of the selected networks to the one below:"
                                                   title="{{enableEditPropertiesBulkButton ?
                                                        'Change Reference of the selected networks' :
                                                        '1 or more selected networks are Cytoscape collections with multiple subnetworks and cannot be edited in NDEx.'}}"
                                                   directive-label="Change Reference">
                                               Change Reference
                                           </bulk-change-network-property>
                                       </a>
                                   </li>
                                   <li ng-class="enableEditPropertiesBulkButton ? '' : 'disabled'">
                                       <a>
                                           <bulk-change-network-property
                                                   ndex-data='myAccountController'
                                                   directive-title="Change Version of Selected Networks"
                                                   directive-action="version"
                                                   directive-description="Change Versions of the selected networks to the one below:"
                                                   title="{{enableEditPropertiesBulkButton ?
                                                        'Change Version of the selected networks' :
                                                        '1 or more selected networks are Cytoscape collections with multiple subnetworks and cannot be edited in NDEx.'}}"
                                                   directive-label="Change Version">
                                               Change Version
                                           </bulk-change-network-property>
                                       </a>
                                   </li>
                                   <li>
                                       <a>
                                           <bulk-change-network-system-property
                                                   ndex-data='myAccountController'
                                                   directive-title="Change Visibility of Selected Networks"
                                                   directive-action="visibility"
                                                   directive-description="Change Visibility of the selected networks to the one below:"
                                                   title="Change Visibility of the selected networks"
                                                   directive-label="Change Visibility">
                                               Change Visibility
                                           </bulk-change-network-system-property>

                                       </a>
                                   </li>
                                   <li>
                                       <a>
                                           <bulk-change-network-system-property
                                                   ndex-data='myAccountController'
                                                   directive-title="Change Read-Only Flag of Selected Networks"
                                                   directive-action="readOnly"
                                                   directive-description="Change Read-Only flag of the selected networks to the one below:"
                                                   title="Set/Unset Read-Only Flag of the selected networks"
                                                   directive-label="Change Read-Only Flag">
                                               Set/Unset Read-Only Flag
                                           </bulk-change-network-system-property>
                                       </a>
                                   </li>
                               </ul>

                            </div>

                        </span>

                        <span>
                            <a ng-class="enableEditAndExportBulkButtons ? 'btn btn-primary customButtonWidth' :
                                    'btn btn-primary customButtonWidth disabled'">
                                <bulk-export-network ndex-data='myAccountController' ng-model="selection">
                                    {{myAccountController.exportNetworksLabel}}
                                </bulk-export-network>
                            </a>
                        </span>

                        <span>
                            <a ng-class="enableShareBulkButton ? 'btn btn-primary customButtonWidth' :
                                    'btn btn-primary customButtonWidth disabled'"
                               ng-click="myAccountController.manageBulkAccess('/access/bulk/network', main.getCurrentUserId())">
                                Share
                            </a>
                        </span>

                        <span>
                            <a class="btn btn-primary customButtonWidth">
                                <show-network-sets-modal
                                        my-account-controller='myAccountController'>
                                     {{myAccountController.addToNetworkSetLabel}}
                                </show-network-sets-modal>
                            </a>
                        </span>

                        <span>
                            <a class="btn btn-primary customButtonWidth"
                               ng-click="myAccountController.checkAndDeleteSelectedNetworks()">
                                {{myAccountController.deleteNetworksLabel}}
                            </a>
                        </span>
                    </span>

                    <hr>
                </div>

                <div class="btn-group btn-group-vertical buttonWithMarginBottom">
                    <h5><strong>Actions:</strong></h5>

                    <span>
                       <div class="btn-group dropdown">
                           <button id="editAccountButton" type="button" data-toggle="dropdown"
                                   class="btn btn-primary dropdown-toggle customButtonWidth">
                               Edit Account
                               <span class="caret"></span>
                           </button>

                           <ul class="dropdown-menu" role="menu" aria-labelledby="editAccountButton">
                               <li><a><edit-user-modal ndex-data='myAccountController.displayedUser'>Edit Personal Info</edit-user-modal></a></li>
                               <li><a><change-password-modal>Change Password</change-password-modal></a></li>
                               <li class="disabled"><a href="#">Notification Settings</a></li>
                               <li><a><delete-user>Delete Account</delete-user></a></li>
                           </ul>
                       </div>
                    </span>

                    <span>
                        <a class="btn btn-primary customButtonWidth" trigger-create-group-modal="Create Group">Create Group</a>
                    </span>

                    <span>
                        <a class="btn btn-primary customButtonWidth"
                           my-account-controller='myAccountController'
                           signal-new-set-creation='false'
                           trigger-create-network-set-modal="Create Network Set">Create Network Set
                        </a>
                    </span>

                    <span>
                        <a class="btn btn-primary customButtonWidth" ng-href="#upload">Upload Networks</a>
                    </span>

                </div>

            </span>

        </div>
    </div>

    <!-- tabs -->
    <div class="col-md-10" ng-show="myAccountController.displayedUser">


        <div class="row">
            <div id="spinnerMyAccountPageId" style="position:relative; top:20em"></div>
        </div>

        <tabset justified="false">

            <!--
            <button ng-click="myAccountController.refreshMyNetworksTableAndDiskInfo();" ng-disabled="refreshNetworksButtonDisabled"
                    style="float: left;" type="button" class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
            </button>
            -->

            <!--<tab style="padding-left: 10px" heading="My Networks" ng-click="networkGridApi.core.handleWindowResize()">-->
            <tab ng-click="onTabSelect('networks'); networkGridApi.core.handleWindowResize()">
                <tab-heading>
                    My Networks &nbsp;

                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"
                          ng-click="myAccountController.checkAndRefreshMyNetworksTableAndDiskInfo();"
                          title="Refresh My Networks"
                          ng-disabled="refreshNetworksButtonDisabled"
                          ng-style="refreshNetworksButtonDisabled ? {color: 'red', cursor:'progress'} : {color: '#3576BE', cursor:'pointer'}">
                    </span>

                </tab-heading>

                <!-- adding ui-grid-auto-resize fixes the issue of distorted Networks Tab (NDEX-578).
                 Resolution is described here: http://ui-grid.info/docs/#/tutorial/108_hidden_grids
                 The use ng-if="tabShown" ... described on the page above introduces another issue:
                 the selected rows on the Networks page get unselected if you select a different tab (i.e., Groups)
                 and come back to Networks tab. -->
                <div ng-show='showNetworkTable()'>
                    <div ui-grid-selection
                         ui-grid="networkGridOptions"
                         ui-grid-resize-columns
                         ui-grid-auto-resize
                         class="networkGrid">
                    </div>
                </div>

                <div class='row' ng-hide='myAccountController.networkSearchResults.length > 0'>
                    <br>
                    <p class='text-center text-muted'>No Networks to display</p>
                </div>

            </tab>

            <tab heading="My Groups" ng-click="onTabSelect('groups')">
                <div id="divGroups">
                    <div class='row center-block'>
                        <hr>
                        <form class='form-inline col-md-6' role="form" ng-submit="myAccountController.searchGroupsFromUserInput()">
                            <div class='form-group'>
                                <div class="input-group input-group-sm" >
                                    <input type="text" class="form-control input-sm" placeholder="Search groups this account is in"
                                           ng-model='myAccountController.groupSearchString'>
                                    <div class="input-group-btn"><button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search"></span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class='offset-col-md-2 col-md-2'>
                            <div class="checkbox"><label>
                                <input type="checkbox"
                                       ng-click='myAccountController.adminCheckBoxClicked()'
                                       ng-model="myAccountController.groupSearchAdmin">Admin</label>
                            </div>
                        </div>
                        <div class='col-md-2'>
                            <div class="checkbox"><label>
                                <input type="checkbox"
                                       ng-click='myAccountController.memberCheckBoxClicked()'
                                       ng-model="myAccountController.groupSearchMember">Member</label>
                            </div>
                        </div>

                    </div>

                    <div ng-show='myAccountController.groupSearchResults.length > 0'>
                        <ul ng-repeat="group in myAccountController.groupSearchResults">
                            <div class='row'>
                                <ndex-navigation ndex-class="" ndex-url="'group/'+group.externalId">
                                    <ndex-account-image
                                            ndex-class="'col-xs-2 col-sm-2 col-md-2 col-lg-2'"
                                            ndex-src="group.image">
                                    </ndex-account-image>
                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                        <h5 style="color:#428BCA"><strong>{{group.groupName}}</strong></h5>

                                        <div class="wrapLongLine, text-muted">
                                            <p>{{group.website}}</p>
                                        </div>

                                        <div class="wrapLongLine, text-muted">
                                            <p>
                                                {{stripHTML(group.description) | limitTo:30}}
                                                {{stripHTML(group.description).length > 30 ? '...' : ''}}
                                            </p>
                                        </div>
                                    </div>
                                </ndex-navigation>
                            </div>
                        </ul>
                    </div>
                    <div class='row' ng-hide='myAccountController.groupSearchResults.length > 0'>
                        <br>
                        <p class='text-center text-muted'>No groups to display</p>
                    </div>
                </div>

            </tab>

            <tab ng-click="onTabSelect('tasks'); updateLastTimeVisitedMyTasksTimestamp(); taskGridApi.core.handleWindowResize()"
                 disabled="myAccountController.tasksNotificationsTabDisabled()"
                 ng-show="(myAccountController.isLoggedInUser) &&
                    (myAccountController.displayedUser.externalId===myAccountController.loggedInIdentifier)">
                <tab-heading>
                    My Tasks & Notifications &nbsp;

                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"
                          ng-click="myAccountController.checkAndRefreshMyTaskAndNotification();"
                          title="Refresh My Tasks & Notifications"
                          ng-disabled="refreshTasksButtonDisabled"
                          ng-style="refreshTasksButtonDisabled ? {color: 'red', cursor:'progress'} : {color: '#3576BE', cursor:'pointer'}">
                    </span>

                    <span class="badge text-right" ng-if="myAccountController.numberOfNewTasksAndRequests > 0"
                          style="background-color:#3576BE; font-weight:normal;">
                        New: {{myAccountController.numberOfNewTasksAndRequests}}
                    </span>
                </tab-heading>

                <div ng-show='showTasksAndRequestsTable()'>
                    <div ui-grid-selection
                         ui-grid="tasksAndRequestsGridOptions"
                         ui-grid-resize-columns
                         ui-grid-auto-resize
                         class="networkGrid">
                    </div>
                </div>

                <div class='row' ng-hide='showTasksAndRequestsTable()'>
                    <br>
                    <p class='text-center text-muted'>No Tasks or Notifications to display</p>
                </div>

            </tab>

         </tabset>
    </div>

</div>
