
<div class="row" >

    <div class="col-md-2">
        <div class="row">
            <div class='row'>
                <ndex-account-image 
                        ndex-class="'col-md-10'"
                        ndex-src="myAccountController.displayedUser.image">
                </ndex-account-image>
            </div>
            <h4>
                {{myAccountController.displayedUser.firstName}} {{myAccountController.displayedUser.lastName}}
            </h4>
            <div>
                <small>{{myAccountController.displayedUser.accountName}}</small>
            </div>
            <div class="wrapLongLine">
                <a href="{{myAccountController.displayedUser.website}}" target="_blank">{{myAccountController.displayedUser.website}}</a>
            </div>

            <div ng-bind-html="myAccountController.displayedUser.description"></div>

            <span ng-show="myAccountController.isLoggedInUser && myAccountController.identifier == myAccountController.loggedInIdentifier">
                <div class="btn-group btn-group-vertical buttonWithMarginBottom">
                    <hr>
                    <h5><strong>Actions:</strong></h5>

                    <span>
                       <div class="btn-group dropdown">
                           <button id="editAccountButton" type="button" data-toggle="dropdown"
                                   class="btn btn-primary dropdown-toggle customButtonWidth">
                               Edit Account
                               <span class="caret"></span>
                           </button>

                           <ul class="dropdown-menu" role="menu" aria-labelledby="editAccountButton">
                               <li><a><edit-user-modal ndex-data='myAccountController.displayedUser'>Edit Personal Info</edit-user-modal></a></li>
                               <li><a><change-password-modal>Change Password</change-password-modal></a></li>
                               <li class="disabled"><a href="#">Notification Settings</a></li>
                               <li><a><delete-user>Delete Account</delete-user></a></li>
                           </ul>
                       </div>
                    </span>

                    <span>
                        <a class="btn btn-primary customButtonWidth" trigger-create-group-modal="Create Group">Create Group</a>
                    </span>

                    <span>
                        <a class="btn btn-primary customButtonWidth"
                           my-account-controller='myAccountController'
                           signal-new-set-creation='false'
                           trigger-create-network-set-modal="Create Network Set">Create Network Set
                        </a>
                    </span>

                    <span>
                        <a class="btn btn-primary customButtonWidth" ng-href="#upload">Upload Networks</a>
                    </span>

                </div>

                <div class="btn-group btn-group-vertical buttonWithMarginBottom"
                     ng-show="myAccountController.networkTableRowsSelected > 0 || myAccountController.collectionTableRowsSelected > 0">
                    <hr>
                    <h5><strong>Bulk Actions:</strong></h5>

                    <span  ng-show="myAccountController.networkTableRowsSelected > 0">
                        <span>
                            <div class="btn-group dropdown">

                               <button id="editNetworksPropertiesButton" type="button" data-toggle="dropdown"
                                       class="btn btn-primary dropdown-toggle customButtonWidth"
                                       ng-class="enableEditAndExportBulkButtons ? 'btn btn-primary customButtonWidth' :
                                            'btn btn-primary customButtonWidth disabled'">
                                   {{myAccountController.editProfilesLabel}}
                                   <span class="caret"></span>
                               </button>

                               <ul class="dropdown-menu" role="menu" aria-labelledby="editNetworksPropertiesButton">
                                   <li ng-class="enableEditPropertiesBulkButton ? '' : 'disabled'">
                                       <a>
                                           <bulk-change-network-property
                                                   ndex-data='myAccountController'
                                                   directive-title="Change Description of Selected Networks"
                                                   directive-action="description"
                                                   directive-description="Change Descriptions of the selected networks to the one below:"
                                                   title="{{enableEditPropertiesBulkButton ?
                                                        'Change Description of the selected networks' :
                                                        '1 or more selected networks are Cytoscape collections with multiple subnetworks and cannot be edited in NDEx.'}}"
                                                   directive-label="Change Description">
                                                Change Description
                                            </bulk-change-network-property>
                                       </a>
                                   </li>
                                   <li ng-class="enableEditPropertiesBulkButton ? '' : 'disabled'">
                                       <a>
                                           <bulk-change-network-property
                                                   ndex-data='myAccountController'
                                                   directive-title="Change Reference of Selected Networks"
                                                   directive-action="reference"
                                                   directive-description="Change Reference of the selected networks to the one below:"
                                                   title="{{enableEditPropertiesBulkButton ?
                                                        'Change Reference of the selected networks' :
                                                        '1 or more selected networks are Cytoscape collections with multiple subnetworks and cannot be edited in NDEx.'}}"
                                                   directive-label="Change Reference">
                                               Change Reference
                                           </bulk-change-network-property>
                                       </a>
                                   </li>
                                   <li ng-class="enableEditPropertiesBulkButton ? '' : 'disabled'">
                                       <a>
                                           <bulk-change-network-property
                                                   ndex-data='myAccountController'
                                                   directive-title="Change Version of Selected Networks"
                                                   directive-action="version"
                                                   directive-description="Change Versions of the selected networks to the one below:"
                                                   title="{{enableEditPropertiesBulkButton ?
                                                        'Change Version of the selected networks' :
                                                        '1 or more selected networks are Cytoscape collections with multiple subnetworks and cannot be edited in NDEx.'}}"
                                                   directive-label="Change Version">
                                               Change Version
                                           </bulk-change-network-property>
                                       </a>
                                   </li>
                                   <li>
                                       <a>
                                           <bulk-change-network-system-property
                                                   ndex-data='myAccountController'
                                                   directive-title="Change Visibility of Selected Networks"
                                                   directive-action="visibility"
                                                   directive-description="Change Visibility of the selected networks to the one below:"
                                                   title="Change Visibility of the selected networks"
                                                   directive-label="Change Visibility">
                                               Change Visibility
                                           </bulk-change-network-system-property>

                                       </a>
                                   </li>
                                   <li>
                                       <a>
                                           <bulk-change-network-system-property
                                                   ndex-data='myAccountController'
                                                   directive-title="Change Read-Only Flag of Selected Networks"
                                                   directive-action="readOnly"
                                                   directive-description="Change Read-Only flag of the selected networks to the one below:"
                                                   title="Set/Unset Read-Only Flag of the selected networks"
                                                   directive-label="Change Read-Only Flag">
                                               Set/Unset Read-Only Flag
                                           </bulk-change-network-system-property>
                                       </a>
                                   </li>
                               </ul>

                            </div>


                        </span>

                        <span>
                            <a ng-class="enableEditAndExportBulkButtons ? 'btn btn-primary customButtonWidth' :
                                    'btn btn-primary customButtonWidth disabled'">
                                <bulk-export-network ndex-data='myAccountController' ng-model="selection">
                                    {{myAccountController.exportNetworksLabel}}
                                </bulk-export-network>
                            </a>
                        </span>

                        <span>
                            <a ng-class="enableShareBulkButton ? 'btn btn-primary customButtonWidth' :
                                    'btn btn-primary customButtonWidth disabled'"
                               ng-click="myAccountController.manageBulkAccess('/access/bulk/network', main.getCurrentUserId())">
                                Share
                            </a>
                        </span>

                        <span>
                            <a class="btn btn-primary customButtonWidth">
                                <show-network-sets-modal my-account-controller='myAccountController'>
                                     {{myAccountController.addToNetworkSetLabel}}
                                </show-network-sets-modal>
                            </a>
                        </span>

                        <span>
                            <a class="btn btn-primary customButtonWidth"
                               ng-click="myAccountController.checkAndDeleteSelectedNetworks()">
                                {{myAccountController.deleteNetworksLabel}}
                            </a>
                        </span>
                    </span>

                    <!--
                    <span ng-show="myAccountController.collectionTableRowsSelected > 0">
                        <span>
                            <a class="btn btn-primary customButtonWidth"
                               ng-click="myAccountController.confirmDeleteSelectedSets()">
                                {{myAccountController.deleteCollectionsLabel}}
                            </a>
                        </span>
                    </span>
                    -->

                </div>

            </span>

        </div>
    </div>

    <!-- tabs -->
    <div class="col-md-10" ng-show="myAccountController.displayedUser">

        <tabset justified="false">

            <tab ng-attr-active="tabs[0].active" heading="My Networks" select="tabShown = !tabShown" deselect="tabShown = !tabShown"
                 ng-click="selectPreviouslySelectedNetworks()">

            <!--<tab heading="My Networks"> -->
                <!-- adding ui-grid-auto-resize fixes the issue of distorted Networks Tab (NDEX-578).
                 Resolution is described here: http://ui-grid.info/docs/#/tutorial/108_hidden_grids
                 The use ng-if="tabShown" ... described on the page above introduces another issue:
                 the selected rows on the Networks page get unselected if you select a different tab (i.e., Groups)
                 and come back to Networks tab. -->
                <div ng-show='myAccountController.networkSearchResults.length > 0'>
                    <div ui-grid-selection
                         ui-grid="networkGridOptions"
                         ui-grid-resize-columns
                         ui-grid-auto-resize
                         ng-if="tabShown"
                         class="networkGrid">
                    </div>
                </div>

                <div class='row' ng-hide='myAccountController.networkSearchResults.length > 0'>
                    <br>
                    <p class='text-center text-muted'>No networks to display</p>
                </div>

            </tab>

            <tab ng-attr-active="tabs[1].active" heading="My Groups">
                <div id="divGroups">
                    <div class='row center-block'>
                        <hr>
                        <form class='form-inline col-md-6' role="form" ng-submit="myAccountController.searchGroupsFromUserInput()">
                            <div class='form-group'>
                                <div class="input-group input-group-sm" >
                                    <input type="text" class="form-control input-sm" placeholder="Search groups this account is in"
                                           ng-model='myAccountController.groupSearchString'>
                                    <div class="input-group-btn"><button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search"></span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class='offset-col-md-2 col-md-2'>
                            <div class="checkbox"><label>
                                <input type="checkbox"
                                       ng-click='myAccountController.adminCheckBoxClicked()'
                                       ng-model="myAccountController.groupSearchAdmin">Admin</label>
                            </div>
                        </div>
                        <div class='col-md-2'>
                            <div class="checkbox"><label>
                                <input type="checkbox"
                                       ng-click='myAccountController.memberCheckBoxClicked()'
                                       ng-model="myAccountController.groupSearchMember">Member</label>
                            </div>
                        </div>

                    </div>

                    <div ng-show='myAccountController.groupSearchResults.length > 0'>
                        <ul ng-repeat="group in myAccountController.groupSearchResults">
                            <div class='row'>
                                <ndex-navigation ndex-class="" ndex-url="'group/'+group.externalId">
                                    <ndex-account-image
                                            ndex-class="'col-xs-2 col-sm-2 col-md-2 col-lg-2'"
                                            ndex-src="group.image">
                                    </ndex-account-image>
                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                        <h5 style="color:#428BCA"><strong>{{group.groupName}}</strong></h5>

                                        <div class="wrapLongLine, text-muted">
                                            <p>{{group.website}}</p>
                                        </div>

                                        <div class="wrapLongLine, text-muted">
                                            <p>
                                                {{stripHTML(group.description) | limitTo:30}}
                                                {{stripHTML(group.description).length > 30 ? '...' : ''}}
                                            </p>
                                        </div>
                                    </div>
                                </ndex-navigation>
                            </div>
                        </ul>
                    </div>
                    <div class='row' ng-hide='myAccountController.groupSearchResults.length > 0'>
                        <br>
                        <p class='text-center text-muted'>No groups to display</p>
                    </div>
                </div>

            </tab>

            <!-- only show Tasks & Notifications tab if
                 1) user is logged in (it is not an anonymous search), and
                 2) selected user is the same as the one who logged in.  In other words, this tab will be hidden if
                 a user logged in as say "aaa" and gets networks for user "bbb" --->
            <tab ng-attr-active="tabs[2].active" heading="My Tasks & Notifications"
                 ng-show="(myAccountController.isLoggedInUser) && (myAccountController.displayedUser.externalId===myAccountController.loggedInIdentifier)"
                 disabled="myAccountController.tasksNotificationsTabDisabled()">

                <div class="row" ng-show="(myAccountController.tasks.length > 0) || (myAccountController.pendingRequests.length > 0 || myAccountController.sentRequests.length > 0)">

                    <div class="col-md-6"  ng-show='myAccountController.tasks.length > 0'>
                        <div class="row well well-sm classWithPad">
                            <ol class="list-inline">
                                <li><strong>Tasks</strong></li>
                                <a ng-click="myAccountController.refreshTasks(); myAccountController.submitNetworkSearch();">
                                    <span class='glyphicon glyphicon-refresh'></span>
                                </a>
                                <li class='pull-right' style='vertical-align: top'  ng-show="myAccountController.allTasksCompleted()">
                                    <button class="btn-link" ng-click="myAccountController.deleteAllTasks()">Delete All</button>
                                </li>
                            </ol>
                            <div class="panel panel-default">
                                <ul class="list-group" ng-repeat='task in myAccountController.tasks'>
                                    <!--ng-repeat='task in myAccountController.pendingTasks'> -->
                                    <!--ng-hide="task.status == 'COMPLETED' && task.taskType != 'EXPORT_NETWORK_TO_FILE'"-->
                                    <li class="list-group-item">
                                        <div class='row' data-toggle="tooltip" data-placement="left" tooltip="{{task.description}}">
                                            <div class='col-sm-10 user-tasks-panel'>
                                                <span class='text-info'>{{task.taskType}}</span>
                                                <span class='text-info' >{{task.description}}</span>
                                                <span class='text-muted'>{{task.status | taskStatusToLabel}}</span>
                                                <br />


                                                <a id="exportedNetworkDownoadLinkId"
                                                   ng-show="task.status == 'COMPLETED' && task.taskType == 'EXPORT_NETWORK_TO_FILE'"
                                                   ng-href="{{getExportedNetworkDownloadLink(task.externalId)}}"
                                                   download="{{myAccountController.getNetworkDownloadName(task)}}"
                                                   ng-click="getCredentialsForExportedNetworkDownload()">
                                                        Download {{myAccountController.getNetworkName(task)}}
                                                </a>

                                                <a>
                                                    <show-task-failure-info ng-show="task.status == 'FAILED'" ndex-data='task'>
                                                        Click for details
                                                    </show-task-failure-info>
                                                </a>

                                            </div>
                                            <a class='btn btn-xs btn-link' ng-click="myAccountController.deleteTask(task.externalId)" ng-show="task.status != 'PROCESSING'">
                                                <span class="text-danger glyphicon glyphicon-trash"></span>
                                            </a>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" ng-show='myAccountController.pendingRequests.length > 0 || myAccountController.sentRequests.length > 0'>
                        <div class="row well well-sm classWithPad">
                            <div class="">
                                <ol class="list-inline">
                                    <li><strong>Requests</strong></li>
                                    <li><a ng-click='sentTab = null'
                                            ng-class="{'text-primary': sentTab == null, 'text-muted': sentTab}"
                                            ng-show='myAccountController.pendingRequests.length > 0'>
                                            Received
                                        </a>
                                    </li>
                                    <li><a ng-click='sentTab = true'
                                            ng-class="{'text-muted': sentTab == null, 'text-primary': sentTab}"
                                            ng-show='myAccountController.sentRequests.length > 0'>
                                            Sent
                                        </a>
                                    </li>
                                    <li><a ng-click='myAccountController.refreshRequests()'>
                                            <span class='glyphicon glyphicon-refresh'></span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                            <div class="panel panel-default">
                                <ul class="list-group"
                                    ng-hide='sentTab'
                                    ng-repeat='request in myAccountController.pendingRequests'>
                                    <li class="list-group-item">
                                    <!-- destination names should be cut off -->
                                        <received-request ndex-data='request' class="wrapLongLine" user-controller="myAccountController">
                                            <span class='text-success'>{{request.sourceName}}</span> requests
                                            <span class='text-info'>{{request.permission | permissionToLabel}}</span> access to
                                            <span class='text-success'>{{request.destinationName}}</span>
                                            <br>
                                            <em class='text-muted'>{{request.response | requestStatusToLabel}}</em>
                                        </received-request>
                                    </li>
                                </ul>
                                <ul class="list-group"
                                    ng-show='(sentTab && (myAccountController.sentRequests.length > 0))
                                            || (myAccountController.sentRequests.length > 0 && myAccountController.pendingRequests.length < 1)'
                                            ng-repeat='request in myAccountController.sentRequests'>
                                    <li class="list-group-item">
                                        <!-- destination names should be cut off -->
                                        <sent-request ndex-data='request' class="wrapLongLine" user-controller="myAccountController">
                                            <span class='text-info'>{{request.permission | permissionToLabel}}</span> access to
                                            <span class='text-success'>{{request.destinationName}}</span> for
                                            <span class='text-success'>{{request.sourceName}}</span>
                                            <br>
                                            <em class='text-muted'
                                                ng-class='{"text-danger":request.response=="DECLINED", "text-success":request.response=="ACCEPTED"}'>
                                                {{request.response | requestStatusToLabel}}
                                            </em>
                                        </sent-request>
                                    <!--<button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button
                                    -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>

        </tabset>
    </div>

</div>
