<div class="row">

    <!-- One column only that takes all screen  -->
    <div class="col-md-12">

        <div class="container-fluid">

            <div class="networkViewFrame">
                <div class="networkViewHeaderHeader networkViewPadding" id="networkViewHeaderHeaderId">
                    {{networkController.currentNetwork.name}}
                </div>

                <div class="networkViewHeaderBody networkViewPadding" id="networkViewHeaderBodyId">
                    <span class="networkPropertyName">Nodes: </span>{{networkController.currentNetwork.nodeCount}} &nbsp;&nbsp;
                    <span class="networkPropertyName">Edges: </span>{{networkController.currentNetwork.edgeCount}} &nbsp;&nbsp;

                    <span class="networkPropertyName" ng-show="networkController.isAdmin">
                        <input type="checkbox"
                               ng-model="networkController.readOnlyChecked"
                               ng-change="readOnlyChanged()"> Read Only &nbsp;&nbsp;
                    </span>

                    <span class="networkVisibilityValue">PUBLIC </span> &nbsp;&nbsp;

                </div>
            </div>

        </div>

    </div>
</div>

<div class="rowWithOneLineTopPad"></div>

<div class="row">
    <div class="col-md-6">

        <div class="container-fluid">

            <div class="cytoscapeCanvas" id="cytoscape-canvas"></div>

            <div class="rowWithOneLineTopPad"></div>

            <div class="networkViewFrame networkActionsSection">


                <div class="actionsLabel">Actions: </div>

                <div class="btn-group buttonWithMarginBottom">

                <!--<span ng-show='(networkController.isAdmin || networkController.canEdit) && !networkController.readOnlyChecked'>-->
                <span>
                    <a class="btn btn-primary customButtonWidth">
                        <edit-network-summary-modal
                                ndex-data='networkController.currentNetwork'>
                            Edit Network Profile
                        </edit-network-summary-modal>
                    </a>
                </span>
                    <!--
                <span ng-show='networkController.isLoggedIn
                    && ((networkController.currentNetwork.visibility == "PUBLIC")
                        || networkController.isAdmin
                        || networkController.canEdit
                        || networkController.canRead)'>
                    -->
                <span>
                        <a class="btn btn-primary customButtonWidth">
                            <create-export-network-task
                                    ndex-data='networkController.currentNetwork'>
                                Export Network
                            </create-export-network-task>
                        </a>
                </span>

                <span ng-hide='networkController.isAdmin || !networkController.canEdit && !networkController.canRead' >
                    <a class="btn btn-primary customButtonWidth">
                        <create-request-network
                                ndex-data='networkController.currentNetwork' privileges="networkController.privilegeLevel">
                            Ask for More Access!
                        </create-request-network>
                    </a>
                </span>

                <!--<span ng-hide='networkController.isAdmin || networkController.canEdit || networkController.canRead'>-->
                <span ng-hide='true'>
                    <a class="btn btn-primary customButtonWidth">
                        <create-request-network
                                ndex-data='networkController.currentNetwork' privileges="networkController.privilegeLevel">
                            Ask for Access Privileges!
                        </create-request-network>
                    </a>
                </span>


                <!-- <span ng-show='networkController.isAdmin'> -->
                <span>
                    <a class="btn btn-primary customButtonWidth"
                       ng-href="{{'#/access/network/'+networkController.currentNetwork.externalId}}">
                        Manage Access
                    </a>
                </span>

                <span ng-show='networkController.isAdmin && networkController.currentNetworkSourceFormat=="BEL"' >
                    <a class="btn btn-primary customButtonWidth">
                        <archive-bel-namespaces  ndex-data='networkController.currentNetwork.externalId'>
                            Archive BEL Namespaces
                        </archive-bel-namespaces>
                    </a>
                </span>

                <span ng-show='networkController.isAdmin && networkController.currentNetworkSourceFormat=="BEL" &&
                    networkController.numberOfBelNetworkNamespacesAsInt > 0' >
                    <a class="btn btn-primary customButtonWidth">
                        <download-bel-namespace  ndex-network-uuid='networkController.currentNetwork.externalId'
                                                 ndex-network-name='networkController.currentNetwork.name'>
                            Download Namespace
                        </download-bel-namespace>
                    </a>
                </span>

                <span ng-show='(networkController.currentNetwork.visibility == "PUBLIC" || networkController.isAdmin ||
                    networkController.canEdit || networkController.canRead) && networkController.successfullyQueried'>
                    <a class="btn btn-primary customButtonWidth">
                        <save-subnetwork>
                            Save Query Result
                        </save-subnetwork>
                    </a>
                </span>

                <span class="divider" ng-show='networkController.isAdmin && !networkController.readOnlyChecked || networkController.directIsAdmin
                            || networkController.directCanEdit
                            || networkController.directCanRead'>
                </span>
                <span ng-show='networkController.directIsAdmin
                            || networkController.directCanEdit
                            || networkController.directCanRead'>
                    <a class="btn btn-primary customButtonWidth">
                        <leave-network
                                ndex-data='networkController.currentNetwork.externalId'>
                            Disaffiliate this Network
                        </leave-network>
                    </a>
                </span>

                <!-- <span ng-show='networkController.isAdmin && !networkController.readOnlyChecked'> -->
                <span>
                    <a class="btn btn-primary customButtonWidth">
                        <delete-network ndex-data='networkController.currentNetwork.externalId'>
                            Delete Network
                        </delete-network>
                    </a>
                </span>

                <hr>


                <span>
                    <span class="pull-right"><a ng-click="networkController.queryMode = 'advanced'"><u>Advanced Query</u></a></span>
                    <form id="frmSearchNetwork" ng-submit="networkController.submitNetworkQuery(config.networkQueryLimit)"
                        class="form-inline pull-left">

                        <div class="form-group">
                            <input class="form-control" type="search" ng-model="networkController.searchString"
                                placeholder="Network Terms" required/>
                        </div>
                        <div class="form-group">
                            <label>Depth:</label>
                        </div>
                        <div class="form-group">
                            <span>
                                <select
                                        class="form-control"
                                        id="selectSearchDepth"
                                        ng-model="networkController.searchDepth.value"
                                        ng-selected="1"
                                        ng-options="searchDepth.value as searchDepth.name for searchDepth in networkController.searchDepths"
                                        required>
                                </select>
                            </span>
                        </div>

                        <button type="submit" class="btn btn-default btn-primary">Run Query</button><br>

                    </form>
                </span>

                </div>
            </div>

        </div>

        <div class="rowWithOneLineTopPad"></div>

    </div>

    <div class="col-md-6">

        <div class="container-fluid">

            <div id="divNetworkTabs" class="networkPropertiesTabset">
                <tabset>

                    <tab heading="Network Info">

                        <div class="rowWithOneLineTopPad"></div>
                        <div class="rowWithOneLineTopPad"></div>

                        <div class="networkPropertyValueInTabsetMargins">

                            <span class="networkPropertyName">Created: </span>
                            {{networkController.currentNetwork.creationTime | date}} <br />

                            <span ng-show="(networkController.currentNetwork.creationTime | date) != (networkController.currentNetwork.modificationTime | date)">
                                <span class="networkPropertyName">Last Modified: </span>
                                {{networkController.currentNetwork.modificationTime | date}} <br />
                            </span>

                            <span class="networkPropertyName">UUID: </span>
                            {{networkController.currentNetwork.externalId}}<br />

                            <span class="networkPropertyName">Format: </span>
                            {{networkController.currentNetwork.sourceFormat}}<br />

                            <span class="networkPropertyName">Your Privileges: </span>
                            <span class="networkPropertyValueInTabset">Admin </span>
                            <br />

                            <span class="networkPropertyName">Other Admins: </span>
                            <span class="networkPropertyValueInTabset">rudipillich </span>
                            <br />

                            <div class="rowWithOneLineTopPad"></div>

                            <span class="networkPropertyName">Description: </span>
                            <span class="networkPropertyValueInTabset">
                                Bayesian network representing the targeting interactions of 43 chromatin components.
                                This network was built using the previously described bootstrapping approach.
                                The frequencies at which each given edge occurs are taken as the confidence score
                                 of this edge and can be between 0 (0%) and 1,000 (100%).
                            </span>

                            <div class="rowWithOneLineTopPad"></div>

                            <span class="networkPropertyName">Reference: </span>
                            <span class="networkPropertyValueInTabset">
                                Bayesian network representing the targeting interactions of 43 chromatin components.
                                This network was built using the previously described bootstrapping approach.
                                The frequencies at which each given edge occurs are taken as the confidence score
                                of this edge and can be between 0 (0%) and 1,000 (100%).
                            </span>

                        </div>

                        <div class="rowWithOneLineTopPad"></div>
                        <div class="rowWithOneLineTopPad"></div>


                    </tab>


                    <tab heading="Nodes/Edges">

                        <div class="rowWithOneLineTopPad"></div>
                        <div class="rowWithOneLineTopPad"></div>

                    </tab>

                    <tab heading="Provenance">

                        <div class="rowWithOneLineTopPad"></div>
                        <div class="rowWithOneLineTopPad"></div>

                    </tab>

                </tabset>

            </div>

        </div>

        <div class="rowWithOneLineTopPad"></div>

        </div>
    </div>

</div>