<div class='modal-content'>

    <form class="form-horizontal" role="form">

        <div class="modal-header">
            <h4 class="modal-title" ng-bind-html="set.name"></h4>
        </div>

        <div class="modal-body">

            <div class="form-group">

                <div class="row rowWithHalfLineBottomPad rowWithOneLineTopPad">
                    <span class="col-sm-3" style="text-align: right"><strong>Network Set Name:</strong></span>
                    <span class="col-sm-8" ng-bind-html="set.name"></span>
                </div>

                <div class="row rowWithHalfLineBottomPad">
                    <span class="col-sm-3" style="text-align: right" ng-if="set.showcased"><strong>Showcased:</strong></span>
                    <span class="col-sm-8" ng-if="set.showcased" ng-bind-html="set.showcased"></span>
                </div>

                <div class="row rowWithHalfLineBottomPad" ng-if="set.description">
                    <span class="col-sm-3" style="text-align: right" ng-if="set.description"><strong>Description:</strong></span>
                    <span class="col-sm-8" ng-if="set.description" ng-bind-html="set.description"></span>
                </div>

                <div class="row rowWithHalfLineBottomPad" ng-if="set.reference">
                    <span class="col-sm-3" style="text-align: right" ng-if="set.reference"><strong>Reference:</strong></span>
                    <span class="col-sm-8" ng-if="set.reference" ng-bind-html="set.reference"></span>
                </div>

                <div class="row rowWithHalfLineBottomPad">
                    <span class="col-sm-3" style="text-align: right"><strong>Modified:</strong></span>
                    <span class="col-sm-8"
                          ng-bind-html="set.modificationTime | date: 'medium'">
                    </span>
                </div>

                <div class="row rowWithHalfLineBottomPad">
                    <span class="col-sm-3" style="text-align: right"><strong>Created:</strong></span>
                    <span class="col-sm-8"
                          ng-bind-html="set.creationTime | date: 'medium'">
                    </span>
                </div>

                <div class="row rowWithHalfLineBottomPad">
                    <span class="col-sm-3" style="text-align: right" ><strong>Networks:</strong></span>
                    <span class="col-sm-8" ng-bind-html="set.networkCount"></span>
                </div>

                <div class="row">
                    <span ng-if="set.shareLinkStatus">
                        <span class="col-sm-3" style="text-align: right" ><strong>Share URL Status:</strong></span>
                        <span class="col-sm-8">
                            <span
                               ng-style="set.shareLinkStatus == 'Enabled' ? {color: '#18AD31'} : {color: 'black'}"
                               ng-bind-html="set.shareLinkStatus">
                            </span>
                            &nbsp;
                            <button type="button" ng-hide="set.shareLinkStatus != 'Enabled'"
                                    class="actionsLabel btn btn-primary btn-xs copy-url-button"
                                    ng-click="showURLInClipboardMessage()"
                                    ngclipboard data-clipboard-text="{{set.networkSetShareableURL}}">Copy URL
                            </button>
                        </span>
                    </span>
                </div>
            </div>


            <div class='text-danger'>
                <strong>
                    {{errors}}
                </strong>
            </div>
        </div>


        <div class="modal-footer">

            <button class="btn btn-default" type='button' ng-click='close()'>Close</button>
        </div>

    </form>

</div>
