<!--   debugging
<pre ng-show="message">
    {{message}}
</pre>
-->

<div id="divNetwork" ng-show="networkController.errors.length == 0" class='row'>
    <div class='col-md-3'>

        <div id="divNetworkHeadline" class="row">
            <div class="wrapLongLine"><h4><strong>{{networkController.currentNetwork.name}}</strong></h4></div>
        </div>

        <div class="row">
                 <label>Nodes:</label>
                 <span>{{networkController.currentNetwork.nodeCount}}</span>

                 <label>Edges:</label>
                 <span>{{networkController.currentNetwork.edgeCount}}</span>
        </div>
        <div class='row' style="margin-bottom: 4px; margin-right: 1px">
            {{networkController.currentNetwork.description}}
        </div>
        <div class='row' ng-show='networkController.currentNetwork.version'>
            <strong>Version:</strong> {{networkController.currentNetwork.version}}
        </div>
        <div class='row text-success'>
            {{networkController.currentNetwork.visibility}}
        </div>
        <div class="row" ng-show="networkController.isAdmin">
            <input type="checkbox"
                   ng-model="networkController.readOnlyChecked"
                   ng-change="readOnlyChanged(networkController.readOnlyChecked)"> Read Only
        </div>

        <br>

        <div class="row">
            <strong>Created:</strong>
            {{networkController.currentNetwork.creationTime | date}}
        </div>

        <div class="row" ng-show="(networkController.currentNetwork.creationTime | date) != (networkController.currentNetwork.modificationTime | date)">
            <strong>Last Modified:</strong>
            {{networkController.currentNetwork.modificationTime | date}}
        </div>

        <div class="row">
            <strong>UUID:</strong>
            {{networkController.currentNetworkId}}
        </div>


        <br>


        <div class="row">
            <strong>Your Access Privileges:</strong> {{networkController.privilegeLevel}}
        </div>

        <div class="row" ng-show="networkController.networkAdmins">
            <span ng-show="networkController.isAdmin">
                <strong>Other Admins:</strong>
            </span>
            <span ng-show="!networkController.isAdmin">
                <strong>Admins:</strong>
            </span>
            <span ng-show="networkController.networkAdmins.length == 0">None</span>
            <ul style="list-style-type: circle; padding-left: 25px">
                <li ng-repeat="networkAdmin in networkController.networkAdmins"><a ng-href="#/user/{{networkAdmin.memberUUID}}">{{networkAdmin.memberAccountName}}</a></li>
            </ul>
        </div>
        <hr style="margin-right: 30px">

        <div class="btn-group row" dropdown is-open="status1.isopen" ng-show='networkController.isLoggedIn'>
            <button type="button" class="btn btn-primary dropdown-toggle">
                Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-show='networkController.isAdmin && !networkController.readOnlyChecked'><a>
                    <edit-network-summary-modal
                            ndex-data='networkController.currentNetwork'>
                        Edit Network Profile
                    </edit-network-summary-modal>
                </a></li>
                <li ng-show='networkController.isLoggedIn 
                    && ((networkController.currentNetwork.visibility == "PUBLIC") 
                        || networkController.isAdmin 
                        || networkController.canEdit
                        || networkController.canRead)'><a>
                    <create-export-network-task
                            ndex-data='networkController.currentNetwork'>
                        Export Network as File
                    </create-export-network-task>
                </a></li>
                <li ng-hide='networkController.isAdmin || networkController.canEdit || networkController.canRead'>
                    <a>
                        <create-request-network
                                ndex-data='networkController.currentNetwork' privileges="networkController.privilegeLevel">
                            Ask for Access Privileges!
                        </create-request-network>
                    </a>
                </li>
                <li ng-hide='networkController.isAdmin || !networkController.canEdit && !networkController.canRead' >
                    <a>
                        <create-request-network
                                ndex-data='networkController.currentNetwork' privileges="networkController.privilegeLevel">
                            Ask for More Access Privileges!
                        </create-request-network>
                    </a>
                </li>
                <li ng-show='networkController.isAdmin'>
                    <a ng-href="{{'#/access/network/'+networkController.currentNetwork.externalId}}">
                        Manage Access
                    </a>
                </li>
                <li ng-show='(networkController.currentNetwork.visibility == "PUBLIC" || networkController.isAdmin ||
                    networkController.canEdit || networkController.canRead) && networkController.successfullyQueried'>
                    <a>
                        <save-subnetwork>
                            Save Query Result
                        </save-subnetwork>
                    </a></li>
                <li class="divider" ng-show='networkController.isAdmin && !networkController.readOnlyChecked || networkController.directIsAdmin
                            || networkController.directCanEdit
                            || networkController.directCanRead'></li>
                <li ng-show='networkController.directIsAdmin 
                            || networkController.directCanEdit 
                            || networkController.directCanRead'><a>
                    <leave-network
                            ndex-data='networkController.currentNetwork.externalId'>
                        Disaffiliate this Network
                    </leave-network>
                </a></li>
                <li ng-show='networkController.isAdmin && !networkController.readOnlyChecked'><a>
                    <delete-network
                            ndex-data='networkController.currentNetwork.externalId'>
                        Delete this Network
                    </delete-network>
                </a></li>
            </ul>
        </div>

        <div class="btn-group row" dropdown is-open="status2.isopen" ng-hide='networkController.isLoggedIn'>
            <button type="button" class="btn btn-primary dropdown-toggle">
                Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href>You must be logged in to operate on network</a></li>
            </ul>
        </div>
        <hr style="margin-right: 30px">

        <div class="row">
            <h5>Network Properties</h5>
        </div>
        <span ng-show='(networkController.currentNetwork.properties.length == 0)
                && (networkController.isAdmin || networkController.canEdit)'>


        <div class='row'>
            <h5>More Info</h5>

            <p><a ng-href="{{'#/properties/network/'+networkController.currentNetwork.externalId}}">Add custom info!</a>
            </p>
        </div>
        </span>

        <div class='row network-property-preview'
             ng-show='networkController.currentNetwork.properties.length > 0'>


            <h5>
                <a class='btn btn-link'
                   ng-show='networkController.isAdmin || networkController.canEdit || networkController.canRead || networkController.currentNetwork.visibility == "PUBLIC"'
                   ng-href="{{'#/properties/network/'+networkController.currentNetwork.externalId}}">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
            </h5>
        
        <span class='' ng-repeat='property in networkController.currentNetwork.properties'>
             <label>{{property.predicateString}} </label>
             <span ng-hide='property.value.toString().length > 40'>{{property.value.toString()}}</span>
             <span ng-show='property.value.toString().length > 40'>
                {{ property.value.slice(0, 45 - property.predicateString.length) 
                    +'&shy'+ 
                    property.value.slice(45 - property.predicateString.length, property.value.length) }}     
            </span>
             <br>
        </span>
        </div>

    </div>

    <div class='col-md-9'
         ng-show='networkController.currentNetwork.visibility == "PUBLIC" || networkController.isAdmin || networkController.canEdit || networkController.canRead'>

        <!--<div ng-show="!networkController.successfullyQueried" class='row text-center'>-->
            <!--<br>-->
            <!--<br>-->
            <!--<br>-->
            <!--<br>-->
        <!--</div>-->
        <div ng-show="networkController.successfullyQueried" class='row text-center'>
            <h4>Query Result</h4>
            <span>
                 <label>nodes:</label>
                <span>{{networkController.currentSubnetwork.nodeCount}}</span>
            </span>
            <span>
                 <label>edges:</label>
                 <span>{{networkController.currentSubnetwork.edgeCount}}</span>
            </span>
        </div>
        <br/>

        <div ng-show="networkController.currentSubnetwork.edgeCount <= config.networkDisplayLimit || networkController.displayAnyway"
             class="row bordered" id="canvas">
        </div>
        <div class="bordered padded"
             ng-show="networkController.currentSubnetwork.edgeCount > config.networkDisplayLimit && !networkController.displayAnyway">
            <h4>
                This <span ng-show="!networkController.successfullyQueried"> network</span><span ng-show="networkController.successfullyQueried">query result</span> is too large to display.
                <span ng-show="!networkController.successfullyQueried">A sample of {{config.networkTableLimit}}</span><span ng-show="networkController.successfullyQueried">The complete list of</span> edges and associated nodes can be inspected in the table below.
                <span ng-show="!networkController.successfullyQueried">However, any queries will be executed on the full network.</span><span ng-show="networkController.successfullyQueried">You can also save this query result to your account for further analysis.</span>
            </h4>
        </div>
        <br/><br/>

        <div class="row">

            <span ng-show="networkController.queryMode == 'simple' && !networkController.successfullyQueried" class="com-sm-12">
                <span class="pull-right"><a ng-click="networkController.queryMode = 'advanced'"><u>Advanced Query</u></a></span>
                <form id="frmSearchNetwork" ng-submit="networkController.submitNetworkQuery(config.networkQueryLimit)"
                      class="form-inline pull-left">

                    <div class="form-group">
                        <input class="form-control" type="search" ng-model="networkController.searchString"
                               placeholder="Network Terms" required/>
                    </div>
                    <div class="form-group">
                        <label>Depth:</label>
                    </div>
                    <div class="form-group">
                    <span>
                        <select class="form-control" id="" ng-model="networkController.searchDepth.value" ng-selected="1"
                                ng-options="searchDepth.value as searchDepth.name for searchDepth in networkController.searchDepths"
                                required></select>
                    </span>
                    </div>

                    <button type="submit" class="btn btn-default btn-primary">Run Query</button><br>

                </form>
            </span>
            <span ng-show="networkController.queryMode == 'advanced' && !networkController.successfullyQueried">
                <form novalidate ng-submit="networkController.runAdvancedQuery(config.networkQueryLimit)">
                    <span class="pull-right"><a ng-click="networkController.queryMode = 'simple'"><u>Simple Query</u></a></span>
                    Find a subnetwork with edges that,<br>
                    (1) have one or more of these properties:<br>
                    <div ng-repeat="property in networkController.advancedQueryEdgeProperties">
                        <div class="row">
                            <div class="col-sm-5">
                                <input class="form-control input-sm" ng-model="property.name" ng-change="networkController.validateAdvancedQuery()" placeholder="Edge Property Name">
                            </div>
                            <div class="col-sm-5">
                                <input class="form-control input-sm" ng-model="property.value" ng-change="networkController.validateAdvancedQuery()" placeholder="Value">
                            </div>
                            <div class="col-sm-1">
                                <button type="button" ng-click="networkController.removeQueryEdgeProperty($index)" ng-disabled="networkController.advancedQueryEdgeProperties.length == 1" class="btn btn-default btn-sm vcenter" tabindex="-1">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <button type="button" ng-click="networkController.addQueryEdgeProperty()"  class="btn btn-default btn-sm" tabindex="-1">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <br>

                    (2) and which have
                    <span class="dropdown">
                        <a href class="dropdown-toggle">
                            {{networkController.advancedQueryNodeCriteria}} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href class="dropdown-toggle" ng-click="networkController.advancedQueryNodeCriteria='source'">source</a></li>
                            <li><a href class="dropdown-toggle" ng-click="networkController.advancedQueryNodeCriteria='target'">target</a></li>
                            <li><a href class="dropdown-toggle" ng-click="networkController.advancedQueryNodeCriteria='both source and target'">both source and target</a></li>
                            <li><a href class="dropdown-toggle" ng-click="networkController.advancedQueryNodeCriteria='either source or target'">either source or target</a></li>
                        </ul>
                    </span>
                     nodes<br>
                    (3) with one or more of these properties.
                    <div ng-repeat="property in networkController.advancedQueryNodeProperties">
                        <div class="row">
                            <div class="col-sm-5">
                                <input class="form-control input-sm" ng-model="property.name" ng-change="networkController.validateAdvancedQuery()" placeholder="Node Property Name">
                            </div>
                            <div class="col-sm-5">
                                <input class="form-control input-sm" ng-model="property.value" ng-change="networkController.validateAdvancedQuery()" placeholder="Value">
                            </div>
                            <div class="col-sm-1">
                                <button type="button" ng-click="networkController.removeQueryNodeProperty($index)" ng-disabled="networkController.advancedQueryNodeProperties.length == 1" class="btn btn-default btn-sm" tabindex="-1">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <button type="button" ng-click="networkController.addQueryNodeProperty()"  class="btn btn-default btn-sm" tabindex="-1">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button><br>
                    <button ng-disabled="!networkController.advancedQueryIsValid" type="submit" class="btn btn-primary btn-default pull-right">Run Query</button>
                </form>
            </span>
            <button type="button"
                    class="btn btn-primary"
                    ng-click="networkController.backToOriginalNetwork()"
                    ng-show="networkController.successfullyQueried">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                Back To Original Network {{networkController.networkSearch}}
            </button>

            <br><br><br>
        </div>

        <div ng-show="networkController.queryErrors.length > 0">
            <p class="alert alert-danger" ng-repeat='error in networkController.queryErrors'>
                {{error}}
              <span class="glyphicon glyphicon-remove pull-right"
                    style='cursor:pointer'
                    ng-click='networkController.queryErrors.splice($index,1)'>
              </span>
            </p>
        </div>
        <div ng-show="networkController.currentSubnetwork.edgeCount == 0">
            <strong>No results found that match your criteria.</strong>
        </div>

        <!-- begins tabbable section -->
        <div id="divNetworkTabs" class="row">
            <tabset ng-hide="networkController.currentSubnetwork.edgeCount == 0">
                <tab heading="Edges" ng-click="edgeGridApi.core.handleWindowResize()">
                    <div id="edgeGrid" ui-grid="edgeGridOptions" ui-grid-resize-columns></div>
                </tab>
                <tab heading="Nodes" ng-click="nodeGridApi.core.handleWindowResize()">
                    <div id="nodeGrid" ui-grid="nodeGridOptions" ui-grid-resize-columns></div>
                </tab>
                <tab heading="Provenance" ng-click="build_provenance_view()">

                    <div class="col-sm-6 bordered">
                        <div id="provenanceNetwork"></div>
                    </div>
                    <div class="col-sm-6">
                        <span ng-show="displayProvenance.webapp_url">
                           <a target="_blank" href="{{displayProvenance.webapp_url}}">
                               <span ng-bind="getProvenanceTitle(displayProvenance)"></span>
                           </a><br>
                        </span>
                        <span ng-show="!displayProvenance.webapp_url">
                            {{getProvenanceTitle(displayProvenance)}}<br>
                        </span>
                            <span ng-show="(displayProvenance.properties == null ? 0 : displayProvenance.properties.length) > 0">
                            <table style="width:100%">
                                <!--<caption>Entity Properties</caption>-->
                                <tr><th>Name</th><th>Value</th></tr>
                                <tr><td>uuid</td><td>{{displayProvenance.uuid}}</td></tr>
                                <tr><td>host</td><td>{{displayProvenance.host}}</td></tr>
                                <tr ng-repeat="property in displayProvenance.properties"><td>{{property.name}}</td><td>{{property.value}}</td></tr>

                            </table>
                            </span>
                        <br>

                        Generated By:
                        <b>{{displayProvenance.creationEvent.eventType}}</b>
                        <table style="width:100%">
                            <!--<caption>Event Properties</caption>-->
                            <tr><th>Name</th><th>Value</th></tr>
                            <tr ng-show="displayProvenance.creationEvent.startedAtTime == displayProvenance.creationEvent.endedAtTime"><td>event time</td><td>{{displayProvenance.creationEvent.startedAtTime | date:'medium' }}</td></tr>
                            <tr ng-show="displayProvenance.creationEvent.startedAtTime != displayProvenance.creationEvent.endedAtTime"><td>start time</td><td>{{displayProvenance.creationEvent.startedAtTime | date:'medium' }}</td></tr>
                            <tr ng-show="displayProvenance.creationEvent.startedAtTime != displayProvenance.creationEvent.endedAtTime"><td>end time</td><td>{{displayProvenance.creationEvent.endedAtTime | date:'medium' }}</td></tr>
                            <tr ng-repeat="property in displayProvenance.creationEvent.properties"><td>{{property.name}}</td><td>{{property.value}}</td></tr>
                        </table>


                    </div>
                </tab>
            </tabset>

        </div>

    </div>

    <div class='col-md-9'
         ng-hide='networkController.currentNetwork.visibility == "PUBLIC" || networkController.isAdmin || networkController.canEdit || networkController.canRead'>
        <br>
        <br>

        <p class='text-center'>You do not have access to this network</p>
    </div>

    <!-- end tab content -->
</div>

<div class="container-fluid" ng-hide="networkController.validRequest.length == 0">
    <div class="row">
        <div class="col-md-6 col-md-offset-2" ng-repeat="message in networkController.errors">
            <p><strong>{{message.label}}</strong> {{message.error}}</p>
        </div>
    </div>
</div>


<script type="text/ng-template" id="queryContent.html">
    <div class="modal-body text-center">
        <img src="img/horizontal-loader.gif">
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-default" ng-click="networkController.cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="citations.html">
    <form>
        <div>
            <div class="modal-header">
                <h3>Citations</h3>
            </div>
            <span class="modal-body">
                <span ng-repeat="citation in citations">
                    <dl class="dl-horizontal">
                        <dt>Citation ID</dt>
                        <dd>{{citation.id}}</dd>
                        <dt>Type</dt>
                        <dd>{{citation.idType}}</dd>
                        <dt ng-show="citation.title && citation.title.length > 0">
                            Title
                        </dt>
                        <dd ng-show="citation.title && citation.title.length > 0">
                            {{citation.title}}
                        </dd>
                        <dt ng-show="citation.contributors && citation.contributors.length > 0">
                            Contributors
                        </dt>
                        <dd ng-show="citation.contributors && citation.contributors.length > 0  ">
                            {{citation.contributorsString}}
                        </dd>
                        <dt ng-show="citation.link">
                            Link
                        </dt>
                        <dd ng-show="citation.link">
                            <a ng-href="{{citation.link}}" target="_blank">{{citation.link}}</a>
                        </dd>
                    </dl>
                </span>
            </span>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-enter="ok()" ng-click="ok()">OK</button>
            </div>
        </div>
    </form>

</script>