<div class="row">

    <!-- One column only that takes all screen  -->
    <div class="col-md-12">

        <div class="container-fluid">

            <div class="networkViewHeader">
                <div class="networkViewHeaderHeader" id="networkViewHeaderHeaderId">
                    Aurora B Signaling in Rodents – NDEx Augmented Version, May 2016
                </div>

                <div class="networkViewHeaderBody" id="networkViewHeaderBodyId">
                    <span class="networkPropertyName">Nodes: </span>130 &nbsp;&nbsp;
                    <span class="networkPropertyName">Edges: </span>455 &nbsp;&nbsp;

                    <span class="networkPropertyName">
                        <input type="checkbox"
                               ng-model="aaa"
                               ng-change="readOnlyChanged(networkController.readOnlyChecked)"> Read Only
                    </span>&nbsp;&nbsp;

                    <span class="networkVisibilityValue">PUBLIC </span> &nbsp;&nbsp;

                </div>
            </div>

        </div>

    </div>
</div>

<div class="rowWithOneLineTopPad"></div>

<div class="row">
    <div class="col-md-9">

        <div class="container-fluid">

            <div class="cytoscape-canvas">
                <div ng-if="!visualizer.errorMessage" id="cytoscape-canvas"></div>
            </div>

        </div>
    </div>

    <div class="col-md-3">

        <div class="container-fluid">

            <div id="divNetworkTabs" class="networkPropertiesTabset">
                <tabset>

                    <tab heading="Network Info">

                        <div class="rowWithOneLineTopPad"></div>
                        <div class="rowWithOneLineTopPad"></div>

                        <div class="networkPropertyValueInTabsetMargins">

                        <span class="networkPropertyName">Created: </span>
                            <span class="networkPropertyValueInTabset">Oct.21, 2015</span> <br />

                        <span class="networkPropertyName">Format: </span>
                             <span class="networkPropertyValueInTabset">SIF </span><br />

                        <span class="networkPropertyName">UUID: </span>
                             <span class="networkPropertyValueInTabset">74be96a9-0b2d-11e6-b550-06603eb7f303</span> <br />

                        <span class="networkPropertyName">Last Mod.: </span>
                             <span class="networkPropertyValueInTabset">Oct.23, 2015 </span><br />

                        <span class="networkPropertyName">Your Privileges: </span>
                             <span class="networkPropertyValueInTabset">Admin </span><br />

                        <span class="networkPropertyName">Other Admins: </span>
                             <span class="networkPropertyValueInTabset">rudipillich </span><br />

                        <div class="rowWithOneLineTopPad"></div>

                        <span class="networkPropertyName">Description: </span>
                             <span class="networkPropertyValueInTabset">
                                 Bayesian network representing the targeting interactions of 43 chromatin components.
                                 This network was built using the previously described bootstrapping approach.
                                 The frequencies at which each given edge occurs are taken as the confidence score
                                  of this edge and can be between 0 (0%) and 1,000 (100%).
                             </span>
                        <br />

                        </div>
                        <div class="rowWithOneLineTopPad"></div>
                        <div class="rowWithOneLineTopPad"></div>


                    </tab>


                    <tab heading="Nodes/Edges">

                        <div class="rowWithOneLineTopPad"></div>
                        <div class="rowWithOneLineTopPad"></div>

                    </tab>

                    <tab heading="Provenance">

                        <div class="rowWithOneLineTopPad"></div>
                        <div class="rowWithOneLineTopPad"></div>

                    </tab>

                </tabset>

            </div>

        </div>


            <div class="rowWithOneLineTopPad"></div>

        </div>
    </div>

</div>


<!--
<div class="jumbotron">
    <h1>Template For New Network Viewer</h1>

    <br />

    <p>
        Network will be displayed here using techniques learned from implementing
        <a target='_blank' href='http://dev.ndexbio.org/demos/linked-network-viewer/#/'>Linked Network Viewer</a>,
        as was decided during NDEx team meeting on April 26, 2016.
    </p>
</div>
-->
