  <div id="divGroup" class="row" >

<!--
    <div style="margin-bottom: 1em" ng-show="groupController.errors.length > 0">
        <div class="alert alert-danger" style="margin-bottom: 1em; font-size: 1.2em; font-weight: bold" ng-repeat='error in groupController.errors'>
            {{error}}
            <span class="glyphicon glyphicon-remove pull-right"
                  style='cursor:pointer'
                  ng-click='groupController.errors.splice($index,1)'>
            </span>
        </div>
    </div>
-->

    <div class="col-md-2">
        <div class="row">

            <div class="wrapLongLine">
                <h4>
                    <strong>{{networkSetController.displayedSet.name}}</strong>
                </h4>
            </div>

            <div class="wrapLongLine" ng-if="networkSetController.displayedSet.description">
                <strong>Description: </strong>
                <span ng-bind-html="networkSetController.displayedSet.description"></span>
            </div>

            <div class="wrapLongLine" ng-if="networkSetController.displayedSet.properties.reference">
                <br>
                <strong>Reference: </strong>
                <span ng-bind-html="networkSetController.displayedSet.properties.reference"></span>
            </div>

            <div class="wrapLongLine">
                <br>
                <strong>Modified: </strong>
                <span ng-bind-html="networkSetController.displayedSet.modificationTime | date: 'medium'"></span>
            </div>
            <div class="wrapLongLine">
                <strong>Created: </strong>
                <span ng-bind-html="networkSetController.displayedSet.creationTime | date: 'medium'"></span>
            </div>
            <div class="wrapLongLine" ng-show="networkSetController.displayedSet.networks > 0">
                <strong>Networks: </strong><span ng-bind-html="networkSetController.displayedSet.networks"></span>
            </div>


            <div class="btn-group btn-group-vertical buttonWithMarginBottom">
                <hr>
                <h5><strong>Actions:</strong></h5>

                <span>
                    <a class="btn btn-primary customButtonWidth"
                       network-set-controller='networkSetController'
                       trigger-edit-network-set-modal="Edit Network Set">
                    </a>
                </span>

                <span>
                    <a class="btn btn-primary customButtonWidth"
                       ng-click="networkSetController.deleteNetworkSet(networkSetController.identifier)">
                       Delete Network Set
                    </a>
                </span>

                <hr>
                <h5><strong>Bulk Actions:</strong></h5>

                <span>
                    <a class="btn btn-primary customButtonWidth" ng-disabled="networkSetController.networkTableRowsSelected == 0"
                       ng-click="networkSetController.confirmRemoveSelectedNetworksFromSet()">
                        Remove From Set
                    </a>
                </span>

            </div>
        </div>
    </div>

    <!-- tabs -->
    <div id="divgroupTabs" class="col-md-9">

        <tabset justified="true">
            <tab heading="Networks in set {{networkSetController.displayedSet.name}}">
                <div id="divNetworks" ng-show='networkSetController.networkSearchResults.length > 0'>
                    <div ui-grid-selection
                         ui-grid="networkGridOptions"
                         ui-grid-resize-columns
                         ui-grid-auto-resize
                         class="networkGrid"></div>
                </div>
                <div class='row' ng-hide='networkSetController.networkSearchResults.length > 0'>
                    <br>
                    <p class='text-center text-muted'>No networks to display</p>
                </div>
            </tab>
        </tabset>

    </div>

</div>