<!--   debugging
<pre ng-show="message">
    {{message}}
</pre>
-->

<div id="divNetwork" ng-show="networkController.errors.length == 0" class='row'>
    <div class='col-md-3'>

        <div id="divNetworkHeadline" class="row">
            <h4><label>{{networkController.currentNetwork.name}}</label></h4>
        </div>

        <div class="row">
            <div id="divNetworkStats">
            <span>
                 <label>nodes:</label>
                <!--<span>{{networkController.currentSubnetwork.nodeCount}}</span> out of-->
                 <span>{{networkController.currentNetwork.nodeCount}}</span>
            </span>
            <span>
                 <label>edges:</label>
                <!--<span>{{networkController.currentSubnetwork.edgeCount}}</span> out of-->
                 <span>{{networkController.currentNetwork.edgeCount}}</span>
            </span>
            </div>
        </div>

        <div class='row' ng-show='networkController.currentNetwork.version'>
            <p> Version: {{networkController.currentNetwork.version}} </p>
        </div>

        <div class='row text-success'>
            <p>{{networkController.currentNetwork.visibility}}</p>
        </div>

        <div class='row'>
            <p>{{networkController.currentNetwork.description}}</p>
        </div>

        <div class="btn-group row" dropdown is-open="status1.isopen" ng-show='networkController.isLoggedIn'>
            <button type="button" class="btn btn-primary dropdown-toggle">
                Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-show='networkController.isAdmin'><a>
                    <edit-network-summary-modal
                            ndex-data='networkController.currentNetwork'>
                        Edit Network Profile
                    </edit-network-summary-modal>
                </a></li>
                <li ng-show='networkController.isLoggedIn 
                    && ((networkController.currentNetwork.visibility == "PUBLIC") 
                        || networkController.isAdmin 
                        || networkController.canEdit
                        || networkController.canRead)'><a>
                    <create-export-network-task
                            ndex-data='networkController.currentNetwork'>
                        Export Network as File
                    </create-export-network-task>
                </a></li>
                <li ng-hide='networkController.isAdmin'>
                    <a>
                        <create-request-network
                                ndex-data='networkController.currentNetwork'>
                            Ask for Access!
                        </create-request-network>
                    </a>
                </li>
                <li ng-show='networkController.isAdmin'>
                    <a ng-href="{{'#/access/network/'+networkController.currentNetwork.externalId}}">
                        Manage Access
                    </a>
                </li>
                <li ng-show='(networkController.currentNetwork.visibility == "PUBLIC" || networkController.isAdmin ||
                    networkController.canEdit || networkController.canRead) && networkController.successfullyQueried'>
                    <a>
                        <save-subnetwork ndex-network='networkController.currentNetwork'
                                         ndex-subnetwork='networkController.currentSubnetwork'>
                            Save Query Result
                        </save-subnetwork>
                    </a></li>
                <li class="divider" ng-show='networkController.isAdmin'></li>
                <li ng-show='networkController.directIsAdmin 
                            || networkController.directCanEdit 
                            || networkController.directCanRead'><a>
                    <leave-network
                            ndex-data='networkController.currentNetwork.externalId'>
                        Disaffiliate this Network
                    </leave-network>
                </a></li>
                <li ng-show='networkController.isAdmin'><a>
                    <delete-network
                            ndex-data='networkController.currentNetwork.externalId'>
                        Delete this Network
                    </delete-network>
                </a></li>
            </ul>
        </div>

        <div class="btn-group row" dropdown is-open="status2.isopen" ng-hide='networkController.isLoggedIn'>
            <button type="button" class="btn btn-primary dropdown-toggle">
                Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href>You must be logged in to operate on network</a></li>
            </ul>
        </div>
        <hr>
        <span ng-show='(networkController.currentNetwork.properties.length == 0)
                && (networkController.isAdmin || networkController.canEdit)'>

        <div class='row'>
            <h5>More Info</h5>

            <p><a ng-href="{{'#/properties/network/'+networkController.currentNetwork.externalId}}">Add custom info!</a>
            </p>
        </div>
        </span>

        <div class='row network-property-preview'
             ng-show='networkController.currentNetwork.properties.length > 0'>


            <h5>
                <a class='btn btn-link'
                   ng-show='networkController.isAdmin || networkController.canEdit || networkController.canRead || networkController.currentNetwork.visibility == "PUBLIC"'
                   ng-href="{{'#/properties/network/'+networkController.currentNetwork.externalId}}">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
            </h5>
        
        <span class='' ng-repeat='property in networkController.currentNetwork.properties'>
             <label>{{property.predicateString}} </label>
             <span ng-hide='property.value.toString().length > 40'>{{property.value.toString()}}</span>
             <span ng-show='property.value.toString().length > 40'>
                {{ property.value.slice(0, 45 - property.predicateString.length) 
                    +'&shy'+ 
                    property.value.slice(45 - property.predicateString.length, property.value.length) }}     
            </span>
             <br>
        </span>
        </div>

    </div>

    <div class='col-md-9'
         ng-show='networkController.currentNetwork.visibility == "PUBLIC" || networkController.isAdmin || networkController.canEdit || networkController.canRead'>

        <div ng-show="!networkController.successfullyQueried" class='row text-center'>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div ng-show="networkController.successfullyQueried" class='row text-center'>
            <h4>Query Result</h4>
            <span>
                 <label>nodes:</label>
                <span>{{networkController.currentSubnetwork.nodeCount}}</span>
            </span>
            <span>
                 <label>edges:</label>
                 <span>{{networkController.currentSubnetwork.edgeCount}}</span>
            </span>
        </div>
        <br/>

        <div ng-show="networkController.currentSubnetwork.edgeCount <= config.networkDisplayLimit || networkController.displayAnyway"
             class="row bordered" id="canvas">
        </div>
        <div class="bordered padded"
             ng-show="networkController.currentSubnetwork.edgeCount > config.networkDisplayLimit && !networkController.displayAnyway">
            <h4>
                This <span ng-show="!networkController.successfullyQueried"> network</span><span ng-show="networkController.successfullyQueried">query result</span> is too large to display.
                <span ng-show="!networkController.successfullyQueried">A sample of 300</span><span ng-show="networkController.successfullyQueried">The complete list of</span> edges and associated nodes can be inspected in the table below.
                <span ng-show="!networkController.successfullyQueried">However, any queries will be executed on the full network.</span><span ng-show="networkController.successfullyQueried">You can also save this query result to your account for further analysis.</span>
            </h4>
        </div>
        <br/><br/>

        <div class="row">

            <form ng-show="!networkController.successfullyQueried" id="frmSearchNetwork" ng-submit="networkController.submitNetworkQuery(config.networkQueryLimit)"
                  class="form-inline pull-left">

                <div class="form-group">
                    <input class="form-control" type="search" ng-model="networkController.searchString"
                           placeholder="Network Terms" required/>
                </div>
                <div class="form-group">
                    <label>Depth:</label>
                </div>
                <div class="form-group">
            <span>
                <select class="form-control" id="" ng-model="networkController.searchDepth.value" ng-selected="1"
                        ng-options="searchDepth.value as searchDepth.name for searchDepth in networkController.searchDepths"
                        required></select>
            </span>
                </div>

                <button type="submit" class="btn btn-default btn-primary">Run Query</button>

            </form>
            <button type="button"
                    class="btn btn-primary"
                    ng-click="networkController.backToOriginalNetwork()"
                    ng-show="networkController.successfullyQueried">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                Back To Original Network {{networkController.networkSearch}}
            </button>

            <br><br><br>
        </div>

        <!-- begins tabbable section -->
        <div id="divNetworkTabs" class="row">
            <div ng-show="networkController.queryErrors.length > 0">
                <p class="alert alert-danger" ng-repeat='error in networkController.queryErrors'>
                    {{error}}
              <span class="glyphicon glyphicon-remove pull-right"
                    style='cursor:pointer'
                    ng-click='networkController.queryErrors.splice($index,1)'>
              </span>
                </p>
            </div>
            <div ng-show="networkController.currentSubnetwork.edgeCount == 0">
                <strong>No results found that match your criteria.</strong>
            </div>
            <tabset ng-hide="networkController.currentSubnetwork.edgeCount == 0">
                <tab heading="Edges" select="foo()">
                    <div id="edgeGrid" ui-grid="edgeGridOptions" ui-grid-resize-columns></div>
                </tab>
                <tab heading="Nodes">
                    <div id="nodeGrid" ui-grid="nodeGridOptions" ui-grid-resize-columns></div>
                </tab>
                <tab heading="Provenance" ng-click="build_provenance_view()">

                    <div class="col-sm-6 bordered">
                        <div id="provenanceNetwork"></div>
                    </div>
                    <div class="col-sm-6">
                        <a target="_blank" href="{{displayProvenance.uri}}"><span ng-bind="getProvenanceTitle(displayProvenance)"></span></a><br>
                            <span ng-show="(displayProvenance.properties == null ? 0 : displayProvenance.properties.length) > 0">
                            <table style="width:100%">
                                <!--<caption>Entity Properties</caption>-->
                                <tr><th>Name</th><th>Value</th></tr>
                                <tr ng-repeat="property in displayProvenance.properties"><td>{{property.name}}</td><td>{{property.value}}</td></tr>
                            </table>
                            </span>
                        <br>

                        Generated By:
                        <b>{{displayProvenance.creationEvent.eventType}}</b>
                        <table style="width:100%">
                            <!--<caption>Event Properties</caption>-->
                            <tr><th>Name</th><th>Value</th></tr>
                            <tr ng-show="displayProvenance.creationEvent.startedAtTime == displayProvenance.creationEvent.endedAtTime"><td>event time</td><td>{{displayProvenance.creationEvent.startedAtTime | date:'medium' }}</td></tr>
                            <tr ng-show="displayProvenance.creationEvent.startedAtTime != displayProvenance.creationEvent.endedAtTime"><td>start time</td><td>{{displayProvenance.creationEvent.startedAtTime | date:'medium' }}</td></tr>
                            <tr ng-show="displayProvenance.creationEvent.startedAtTime != displayProvenance.creationEvent.endedAtTime"><td>end time</td><td>{{displayProvenance.creationEvent.endedAtTime | date:'medium' }}</td></tr>
                            <tr ng-repeat="property in displayProvenance.creationEvent.properties"><td>{{property.name}}</td><td>{{property.value}}</td></tr>
                        </table>


                    </div>
                </tab>
            </tabset>

        </div>

    </div>

    <div class='col-md-9'
         ng-hide='networkController.currentNetwork.visibility == "PUBLIC" || networkController.isAdmin || networkController.canEdit || networkController.canRead'>
        <br>
        <br>

        <p class='text-center'>You do not have access to this network</p>
    </div>

    <!-- end tab content -->
</div>

<div class="container-fluid" ng-hide="networkController.validRequest.length == 0">
    <div class="row">
        <div class="col-md-6 col-md-offset-2" ng-repeat="message in networkController.errors">
            <p><strong>{{message.label}}</strong> {{message.error}}</p>
        </div>
    </div>
</div>


<script type="text/ng-template" id="queryContent.html">
    <div class="modal-body text-center">
        <img src="img/horizontal-loader.gif">
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-default" ng-click="networkController.cancel()">Cancel</button>
    </div>
</script>