<!--   debugging
<pre ng-show="message">
    {{message}}
</pre>
-->

<div id="divNetwork" ng-show="networkController.errors.length == 0" class='row'>
    <div class='col-md-3'>

        <div id="divNetworkHeadline" class="row">
                <h4><label>{{networkController.currentNetwork.name}}</label></h4>
        </div>

        <div class="row">
            <div id="divNetworkStats">
            <span>
                 <label>nodes:</label>
                <!--<span>{{networkController.currentSubnetwork.nodeCount}}</span> out of-->
                 <span>{{networkController.currentNetwork.nodeCount}}</span>
            </span>
            <span>
                 <label>edges:</label>
                <!--<span>{{networkController.currentSubnetwork.edgeCount}}</span> out of-->
                 <span>{{networkController.currentNetwork.edgeCount}}</span>
            </span>
            </div>
        </div>

        <div class='row' ng-show='networkController.currentNetwork.version'>
            <p> Version: {{networkController.currentNetwork.version}} </p>
        </div>

        <div class='row text-success'>
            <p>{{networkController.currentNetwork.visibility}}</p>
        </div>
        
        <div class='row'>
            <p>{{networkController.currentNetwork.description}}</p>
        </div>

        <div class="btn-group row" dropdown is-open="status1.isopen" ng-show='networkController.isLoggedIn'>
            <button type="button" class="btn btn-primary dropdown-toggle">
                Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-show='networkController.isAdmin'><a>
                    <edit-network-summary-modal
                        ndex-data='networkController.currentNetwork'>
                        Edit Network Profile
                    </edit-network-summary-modal>
                </a></li>
                <li ng-show='networkController.isLoggedIn 
                    && ((networkController.currentNetwork.visibility == "PUBLIC") 
                        || networkController.isAdmin 
                        || networkController.canEdit
                        || networkController.canRead)'><a>
                    <create-export-network-task
                        ndex-data='networkController.currentNetwork'>
                        Export Network as File
                    </create-export-network-task>
                </a></li>
                <li ng-hide='networkController.isAdmin'>
                    <a>
                    <create-request-network 
                        ndex-data='networkController.currentNetwork'>
                        Ask for Access!
                    </create-request-network>
                    </a>
                </li>
                <li ng-show='networkController.isAdmin'>
                    <a ng-href="{{'#/access/network/'+networkController.currentNetwork.externalId}}">
                        Manage Access
                    </a>
                </li>
                <li ng-show='networkController.currentNetwork.visibility == "PUBLIC" || networkController.isAdmin || networkController.canEdit || networkController.canRead' ><a>
                    <save-subnetwork ndex-network='networkController.currentNetwork'
                            ndex-subnetwork='networkController.currentSubnetwork'>
                        Save Current Subnetwork
                    </save-subnetwork>
                </a></li>
                <li class="divider" ng-show='networkController.isAdmin'></li>
                <li ng-show='networkController.directIsAdmin 
                            || networkController.directCanEdit 
                            || networkController.directCanRead'><a>
                    <leave-network
                        ndex-data='networkController.currentNetwork.externalId'>
                        Disaffiliate this Network
                    </leave-network>
                </a></li>
                <li ng-show='networkController.isAdmin'><a>
                    <delete-network
                        ndex-data='networkController.currentNetwork.externalId'>
                        Delete this Network
                    </delete-network>
                </a></li>
            </ul>
        </div>

        <div class="btn-group row" dropdown is-open="status2.isopen" ng-hide='networkController.isLoggedIn'>
            <button type="button" class="btn btn-primary dropdown-toggle">
                Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href>You must be logged in to operate on network</a></li>
            </ul>
        </div>

        
        <div class='row' 
            ng-show='(networkController.currentNetwork.properties.length == 0) 
                && (networkController.isAdmin || networkController.canEdit)'>
        <hr>
            <h5>More Info</h5>
            <p><a ng-href="{{'#/properties/network/'+networkController.currentNetwork.externalId}}">Add custom info!</a></p>
        </div>

        <div class='row network-property-preview'
            ng-show='networkController.currentNetwork.properties.length > 0'>
        <hr>
            
        <h5>
            More Info
            <a class='btn btn-link' 
                ng-show='networkController.isAdmin || networkController.canEdit || networkController.canRead || networkController.currentNetwork.visibility == "PUBLIC"'
                ng-href="{{'#/properties/network/'+networkController.currentNetwork.externalId}}">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
        </h5>
        
        <span class='' ng-repeat='property in networkController.currentNetwork.properties'>
             <label>{{property.predicateString}} </label>
             <span ng-hide='property.value.toString().length > 40'>{{property.value.toString()}}</span>
             <span ng-show='property.value.toString().length > 40'>
                {{ property.value.slice(0, 45 - property.predicateString.length) 
                    +'&shy'+ 
                    property.value.slice(45 - property.predicateString.length, property.value.length) }}     
            </span>
             <br>
        </span>
        </div>

        <div class='row'>
        <hr>
            <h5>Provenance</h5>
        </div>
        <br/>
        <div class='row bordered' id='provenanceCanvas'>
        </div>
    </div>

    <div class='col-md-9' ng-show= 'networkController.currentNetwork.visibility == "PUBLIC" || networkController.isAdmin || networkController.canEdit || networkController.canRead'>

    <div class='row text-center'>
        <h4>Retrieved Subnetwork</h4>
            <span>
                 <label>nodes:</label>
                <span>{{networkController.currentSubnetwork.nodeCount}}</span>
            </span>
            <span>
                 <label>edges:</label>
                 <span>{{networkController.currentSubnetwork.edgeCount}}</span>
            </span>
    </div>
        <br/>
    <div ng-show="networkController.currentSubnetwork.edgeCount < 10 || networkController.displayAnyway" class="row bordered" id="canvas">
    </div>
    <div class="bordered padded" ng-show="networkController.currentSubnetwork.edgeCount > 10 && !networkController.displayAnyway">
        <h4><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
            The retrieved subnetwork is too large to display because it has more than 250 edges.
            However, retrieved edges and nodes can be inspected in the table below.
            You can also save this subnetwork to your account for further analysis.
            <br/>
            <br/>
            <button type="button" class="pull-right btn btn-danger btn-sm" ng-click="networkController.shouldDisplayAnyway()">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Display Anyway
            </button>
            <br/>
        </h4>
    </div>
    <br/><br/>
    <div class="row">

        <form id="frmSearchNetwork" ng-submit="networkController.submitNetworkQuery()" class="form-inline pull-left">

            <div class="form-group">
            <input class="form-control" type="search" ng-model="networkController.searchString" placeholder="Network Terms" required />
            </div>
            <div class="form-group">
            <label>Depth:</label>
                </div>
            <div class="form-group">
            <span>
                <select class="form-control" id="" ng-model="networkController.searchDepth.value" ng-selected="1"
                    ng-options="searchDepth.value as searchDepth.name for searchDepth in networkController.searchDepths"required></select>
            </span>
            </div>

            <button type="submit" class="btn btn-default btn-primary">Run Query</button>

        </form>
        <button type="button"
                class="btn btn-primary pull-right"
                ng-click="networkController.backToOriginalNetwork()"
                ng-show="networkController.successfullyQueried">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Back To Original Network {{networkController.networkSearch}}
        </button>

        <br><br><br>
    </div>

    <!-- begins tabbable section -->
    <div id="divNetworkTabs" class="row">
        <div ng-show="networkController.queryErrors.length > 0">
            <p class="alert alert-danger" ng-repeat='error in networkController.queryErrors'>
                {{error}}
              <span class="glyphicon glyphicon-remove pull-right"
                    style='cursor:pointer'
                    ng-click='networkController.queryErrors.splice($index,1)'>
              </span>
            </p>
        </div>
        <div ng-show="networkController.currentSubnetwork.edgeCount == 0">
            <strong>No results found that match your criteria.</strong>
        </div>
        <tabset ng-hide="networkController.currentSubnetwork.edgeCount == 0">
            <tab heading="Edges">
                <div id="divEdges">
                    <ul id="ulSubnetwork" ng-repeat="(id, edge) in networkController.currentSubnetwork.edges">

                        <li>
                            <strong>{{networkController.currentSubnetwork.nodeLabelMap[edge.subjectId]}}</strong>
                            <em>{{networkController.currentSubnetwork.terms[edge.predicateId].name}}</em>
                            <strong>{{networkController.currentSubnetwork.nodeLabelMap[edge.objectId]}}</strong>
                            <span ng-repeat='citation in edge.citationIds'>
                            <a ng-href="{{networkController.getCitation(citation)}}" target="_blank"><sup>
                            <span class='glyphicon glyphicon-book'></span>
                            </sup></a>
                            </span>

                            <!--<sup rel="tooltip">{{edgeFootnotes[edge]}}
                            </sup>-->

                        </li>
                        <!-- todo: aliases
                        <li class="TermAliases" ng-show="hasAliases">

                            <div>
                                Alias: <a target="_blank" data-bind="termAlias: $root.Network().terms()[$data]"></a>
                            </div>

                            <div>
                                Related: <a target="_blank" data-bind="termAlias: $root.Network().terms()[$data]"></a>
                            </div>

                        </li>-->

                    </ul>
                </div>
            </tab>
            <tab heading="Nodes">
                <div id="divNodes">
                    <ul id="ulSubnetwork" ng-repeat="node in networkController.currentSubnetwork.nodes">
                        <li style="cursor:pointer" ng-click="node.showAliases = !node.showAliases">
                            <strong>{{networkController.currentSubnetwork.nodeLabelMap[node.id]}}</strong>
                            <span ng-repeat='citation in node.citationIds'>
                            <a ng-href="{{networkController.getCitation(citation)}}" target="_blank"><sup>
                            <span class='glyphicon glyphicon-book'></span>
                            </sup></a>
                            </span>
                        </li>
                        <li style="background : white" ng-show="node.showAliases && (node.aliases.length > 0)">
                            <span>Aliases:</span>
                            <em ng-repeat='(key,alias) in node.aliases'>
                                {{networkController.currentSubnetwork.baseTerms[alias].name}}
                                <span ng-show='(node.aliases.length > 1) && (key < node.aliases.length-1)'>,</span>
                            </em>
                        </li>
                    </ul>
                </div>
            </tab>
            <!--<tab heading="Terms">
                <ul>
                    <li class="row">
                        <div class="col-md-3 col-md-offset-3">
                            <strong>Prefix</strong>
                        </div>
                        <div class="col-md-3"><strong>Base Terms</strong></div>
                    </li>
                </ul>
                <ul id="ulSubnetwork" ng-repeat="(index, term) in networkController.currentSubnetwork.termLabelMap">
                    <li class="row">
                        <div class="col-md-3 col-md-offset-3">
                        <strong>{{term.prefix}}</strong></div>
                        <div class="col-md-3">{{term.name}}</div>
                    </li>
                </ul>
            </tab>-->
        </tabset>

    </div>

    </div>

    <div class='col-md-9' ng-hide='networkController.currentNetwork.visibility == "PUBLIC" || networkController.isAdmin || networkController.canEdit || networkController.canRead'>
    <br>
    <br>
    <p class='text-center'>You do not have access to this network</p>
    </div>

<!-- end tab content -->
</div>

<div class="container-fluid" ng-hide="networkController.validRequest.length == 0">
    <div class="row">
        <div class="col-md-6 col-md-offset-2" ng-repeat="message in networkController.errors">
            <p><strong>{{message.label}}</strong> {{message.error}}</p>
        </div>
    </div>
</div>


<script type="text/ng-template" id="queryContent.html">
    <div class="modal-body text-center">
        <img src="img/horizontal-loader.gif">
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-default" ng-click="networkController.cancel()">Cancel</button>
    </div>
</script>