<div class="row">

    <div style="margin-bottom: 1em" ng-show="networkController.errors.length > 0">
        <div class="alert alert-danger" style="margin-bottom: 1em; font-size: 1.2em; font-weight: bold" ng-repeat='error in networkController.errors'>
            {{error}}
            <span class="glyphicon glyphicon-remove pull-right"
                  style='cursor:pointer'
                  ng-click='networkController.errors.splice($index,1)'>
            </span>
        </div>
    </div>

    <div class="col-md-7">

        <div class="row">

            <div class="cytoscapeCanvas" id="cytoscape-canvas" ng-style="{background: networkController.bgColor}" ng-show="currentView == 'Graphic'">
                <div id="spinnerGraphId"></div>
                <div id="messageOverlay"
                     style="float:left; vdisplay: inline-block; position: absolute; top: 20px; right: 20px;font-size: 1.2em; color: #FF0000"
                   ng-show="networkController.isSample">(Sample: {{networkController.displayLimit}} edges)</div>
            </div>
            <tabset ng-show="currentView == 'Table'">
                <div id="spinnerTableId"></div>
                <tab heading="Edges" ng-click="edgeGridApi.core.handleWindowResize()">
                    <div id="edgeGrid" ui-grid="edgeGridOptions" ui-grid-resize-columns class="table_view_grid_height"></div>
                </tab>
                <tab heading="Nodes" ng-click="nodeGridApi.core.handleWindowResize()">
                    <div id="nodeGrid" ui-grid="nodeGridOptions" ui-grid-resize-columns class="table_view_grid_height"></div>
                </tab>
            </tabset>

            <div class="rowWithOneLineTopPad"></div>

            <div ng-show="networkController.queryErrors.length > 0">
                <p class="alert alert-danger" ng-repeat='error in networkController.queryErrors'>
                    {{error}}
                    <span class="glyphicon glyphicon-remove pull-right"
                          style='cursor:pointer'
                          ng-click='networkController.queryErrors.splice($index,1)'>
                    </span>
                </p>
            </div>

            <div ng-show="networkController.queryWarnings.length > 0">
                <p class="alert alert-success" ng-repeat='warning in networkController.queryWarnings'>
                    {{warning}}
                    <span class="glyphicon glyphicon-remove pull-right"
                          style='cursor:pointer'
                          ng-click='networkController.queryWarnings.splice($index,1)'>
                    </span>
                </p>
            </div>

            <button type="button"
                    class="btn btn-primary"
                    ng-click="networkController.backToOriginalNetwork()"
                    ng-show="networkController.successfullyQueried">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                Back To Original Network
            </button>

            <div class="networkActionsSection"
                 ng-show="!networkController.successfullyQueried"
                 id="simpleQueryNetworkViewId">

                <form id="frmSearchNetwork"
                      ng-submit="networkController.queryNetworkAndDisplay()"
                      class="form-inline pull-left">

                    <div class="form-group">
                        <input class="form-control" type="search" ng-model="networkController.searchString"
                               placeholder="Network Terms" style="width:300px" required>
                    </div>
                    <div class="form-group">
                        <label>Depth:</label>
                    </div>
                    <div class="form-group">
                        <span>
                            <select
                                    class="form-control"
                                    id="selectSearchDepth"
                                    ng-model="networkController.searchDepth.value"
                                    ng-selected="1"
                                    ng-options="searchDepth.value as searchDepth.name for searchDepth in networkController.searchDepths"
                                    required>
                            </select>
                        </span>
                    </div>

                    <button type="submit" class="btn btn-default btn-primary"
                            style="margin-bottom:0">Run Query
                    </button>
                    &nbsp;
                </form>


                <span class="pull-left" style="margin-top:0.5em" ng-show="!hideAdvancedSearchLink">
                    <a ng-click="hideAdvancedSearchLink=!hideAdvancedSearchLink; activateAdvancedQueryTab()">
                        <u>Advanced Query</u>
                    </a>
                </span>
                <span class="pull-left" style="margin-top:0.5em; color:#999999;" ng-show="hideAdvancedSearchLink">
                    <u>Advanced Query</u>
                </span>
<!--
                <a class="pull-left" style="margin-top:0.5em; color:#999999; cursor: not-allowed">
                    Advanced Query
                    <img src="img/coming_soon.png">
                </a>
-->
            </div>
        </div>
    </div>


    <div class="col-md-5">

        <div id="divNetworkTabs" class="networkPropertiesTabset">
            <tabset>

                <tab active="networkController.tabs[0].active">
                    <tab-heading>{{ networkController.tabs[0].heading }}</tab-heading>

                    <div class="rowWithOneLineTopPad"></div>
                    <div class="rowWithOneLineTopPad"></div>

                    <div class="networkPropertyValueInTabsetMargins">

                        <div class="networkViewHeader rowWithOneLineBottomPad" id="networkViewHeaderId">
                            {{networkController.currentNetwork.name}}  <br/>
                        </div>

                        <span class="networkPropertyName">Nodes: </span>{{networkController.currentNetwork.nodeCount}}
                        &nbsp;&nbsp;
                        <span class="networkPropertyName">Edges: </span>{{networkController.currentNetwork.edgeCount}}
                        &nbsp;&nbsp;

                        <div ng-show = "networkController.successfullyQueried">
                            <span class="networkPropertyName" ng-show="networkController.currentNetwork.queryString">Query String: </span>{{networkController.currentNetwork.queryString}}
                            <br>
                            <span class="networkPropertyName" ng-show="networkController.currentNetwork.queryDepth">Search depth: </span>{{networkController.currentNetwork.queryDepth}}

                            <span class="networkPropertyName" ng-show="networkController.currentNetwork.edgeFilter">Edge filter:
                                <br>
                                <span ng-repeat='edgeFilter in networkController.currentNetwork.edgeFilter.propertySpecifications'>
                                    &nbsp;&nbsp;&nbsp;{{edgeFilter.name}} : <span style="font-weight: normal">{{edgeFilter.value}}</span>
                                     <br>
                                </span>
                            </span>

                            <span class="networkPropertyName" ng-show="networkController.currentNetwork.nodeFilter">
                                <br>
                                Mode : <span style="font-weight: normal">{{networkController.currentNetwork.nodeFilter.mode}}</span>
                                <br><br>
                                Node filter:
                                <br>

                                <span ng-repeat='nodeFilter in networkController.currentNetwork.nodeFilter.propertySpecifications'>
                                    &nbsp;&nbsp;&nbsp;{{nodeFilter.name}} : <span style="font-weight: normal">{{nodeFilter.value}}</span>
                                     <br>
                                </span>
                            </span>

                        </div>

                        <div ng-show = "!networkController.successfullyQueried">
                            <span class="networkVisibilityValue">{{networkController.currentNetwork.visibility}} </span>
                            &nbsp;&nbsp;

                            <span class="networkPropertyName" ng-show="networkController.isAdmin">
                                <input type="checkbox"
                                    ng-model="networkController.readOnlyChecked"
                                    ng-change="readOnlyChanged()"> Read Only
                            </span>
                            <span class="networkPropertyName" ng-show="!networkController.isAdmin">
                                <input type="checkbox"  disabled readonly
                                       ng-model="networkController.readOnlyChecked"
                                       title="Only network owners can set/unset Read Only flag"> Read Only
                            </span>
                            <br />
                            <br />

                            <span class="networkPropertyName">Created: </span>
                            {{networkController.currentNetwork.creationTime | date: 'medium'}} <br/>

                            <span ng-show="(networkController.currentNetwork.creationTime | date) !=
                                           (networkController.currentNetwork.modificationTime | date)">
                                <span class="networkPropertyName">Last Modified: </span>
                                {{networkController.currentNetwork.modificationTime | date: 'medium'}} <br/>
                            </span>

                            <span class="networkPropertyName">UUID: </span>
                            {{networkController.currentNetwork.externalId}}<br/>

                            <span class="networkPropertyName">Format: </span>
                            {{networkController.currentNetwork.sourceFormat}}<br/>

                            <span ng-show="networkController.isLoggedInUser">
                                <span class="networkPropertyName">Your Privileges: </span>
                                {{networkController.privilegeLevel}}<br/>
                            </span>

                            <div class='wrapLongLine rowWithOneLineTopPad'
                                 ng-show="networkController.currentNetwork.description"
                                 style="margin-right: 1px;">
                                <span class="networkPropertyName">Description: </span>
                                <span ng-bind-html="networkController.currentNetwork.description"></span>
                            </div>

                            <span ng-show="networkController.currentNetwork.rightsHolder">
                                <br/>
                                <span class="networkPropertyName">Rights Holder: </span>
                                <span ng-bind-html="networkController.currentNetwork.rightsHolder"></span>
                            </span>

                            <span ng-show="networkController.currentNetwork.rights">
                                <br/>
                                <span class="networkPropertyName">Rights: </span>
                                <span ng-bind-html="networkController.currentNetwork.rights"></span>
                            </span>


                            <div class='wrapLongLine rowWithOneLineTopPad'
                                 ng-show="networkController.currentNetwork.reference"
                                 style="margin-right: 1px;">
                                <span class="networkPropertyName">Reference: </span>
                                <span ng-bind-html="networkController.currentNetwork.reference"></span>
                            </div>

                            <div class='rowWithOneLineTopPad' ng-show='networkController.currentNetwork.version'>
                                <span class="networkPropertyName">Version: </span>
                                {{networkController.currentNetwork.version}}
                            </div>

                            <div class='rowWithOneLineTopPad' ng-show='networkController.currentNetwork.sourceFormat=="BEL"'>
                                <span class="networkPropertyName">BEL Namespaces:</span>
                                {{networkController.numberOfBelNetworkNamespaces}}
                            </div>

                            <div class='rowWithOneLineTopPad'>
                                <span class="networkPropertyName">Properties:</span>

                                <div class="networkPropertiesNameMargins">

                                        <span class='' ng-repeat='property in networkController.otherProperties'>
                                            <span>
                                               <span class="networkPropertiesNameFont">{{property.predicateString}}:
                                               </span>
                                               <span class="networkPropertiesValueFont"
                                                     ng-hide='property.value.toString().length > 40'
                                                     ng-bind-html="property.value.toString()">
                                               </span>
                                               <span class="networkPropertiesValueFont"
                                                     ng-show='property.value.toString().length > 40'
                                                     ng-bind-html="property.value.slice(0, 45 - property.predicateString.length)
                                                    +'&shy'+
                                                   property.value.slice(45 - property.predicateString.length, property.value.length)">
                                               </span>
                                               <br/>
                                            </span>
                                        </span>

                                </div>

                                <h5 ng-show='!networkController.readOnlyChecked && (networkController.isAdmin || networkController.canEdit)'>
                                    <a class='btn-link'
                                       ng-if="networkController.currentNetwork.subnetworkIds.length <= 1"
                                       ng-href="{{'#/properties/network/'+networkController.currentNetwork.externalId+'/'+networkController.subNetworkId}}"
                                       ng-click="setReturnView('newNetwork/')">
                                        Add / Edit Properties
                                    </a>
                                    <a class='btn-link'
                                       style="margin-top:0.5em; color:#999999; cursor: not-allowed"
                                       ng-if="networkController.currentNetwork.subnetworkIds.length > 1">
                                        Add / Edit Properties
                                        <img src="img/coming_soon.png">
                                    </a>

                                </h5>

                            </div>
                        </div>
                    </div>

                </tab>

                <!-- node/edge tab -->
                <tab disabled="networkController.tabs[1].disabled" active="networkController.tabs[1].active">
                    <tab-heading>{{ networkController.tabs[1].heading }}</tab-heading>

                    <div>

                        <table style="width:100%">
                            <tr ng-if="networkController.selectionContainer.nodes.length > 0">
                                <td>Selected Nodes: {{networkController.selectionContainer.nodes.length}}</td>
                            </tr>

                            <tr ng-repeat-start="node in networkController.selectionContainer.nodes">
                                <td class="wrappedCell">
                                    <button ng-if="node.$$expanded" ng-click="node.$$expanded = false"
                                        ng-disabled="getNodeAttributesNames(node).length == 0">-</button>
                                    <button ng-if="!node.$$expanded" ng-click="node.$$expanded = true"
                                        ng-disabled="getNodeAttributesNames(node).length == 0">+</button>

                                    &nbsp;{{getNodeName(node)}}
                                </td>
                            </tr>
                            <tr ng-if="node.$$expanded && getNodeAttributesNames(node).length > 0" ng-repeat-end="">
                                <td class="wrappedCell">
                                    <span ng-repeat="attributeName in getNodeAttributesNames(node)">
                                        <span ng-show="getAttributeValue(attributeName, node[attributeName])">

                                            <span ng-switch="attributeName">

                                                <span ng-switch-when="r">
                                                      &nbsp;&nbsp;&nbsp;<strong>ID:</strong>
                                                    <span ng-bind-html='getAttributeValue(attributeName, node[attributeName])'></span>
                                                    <br/>
                                                </span>

                                                <span ng-switch-when="n">
                                                      &nbsp;&nbsp;&nbsp;<strong>Name:</strong>
                                                    <span ng-bind-html='getAttributeValue(attributeName, node[attributeName])'></span>
                                                    <br/>
                                                </span>

                                                <span ng-switch-when="id">
                                                      &nbsp;&nbsp;&nbsp;<strong>Node Id:</strong>
                                                    <span ng-bind-html='getAttributeValue(attributeName, node[attributeName])'></span>
                                                    <br/>
                                                </span>

                                                <span ng-switch-when="citations">
                                                    <span ng-repeat="citation in node.citations">
                                                        &nbsp;&nbsp;
                                                        <span ng-bind-html='getCitation(citation)'></span>
                                                        <br />
                                                    </span>
                                                </span>

                                                <span ng-switch-default>
                                                   &nbsp;&nbsp;&nbsp;<strong>{{attributeName}}:</strong>
                                                    <span ng-bind-html='getAttributeValue(attributeName, node[attributeName])'></span>


                                                    <span ng-show="checkHowManyAttributes(attributeName, node[attributeName])">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <a ng-click="networkController.showMoreAttributes(attributeName, node[attributeName])">
                                                            more...
                                                        </a>
                                                        <br>
                                                    </span>
                                                    <br />
                                                </span>
                                            </span>

                                        </span>
                                    </span>
                                </td>
                            </tr>

                            <tr ng-if="networkController.selectionContainer.edges.length > 0">
                                <td>Selected Edges: {{ networkController.selectionContainer.edges.length}}</td>
                            </tr>
                            <tr ng-repeat-start="edge in networkController.selectionContainer.edges">
                                <td class="wrappedCell">
                                    <button ng-if="edge.$$expanded" ng-click="edge.$$expanded = false"
                                        ng-disabled="getEdgeAttributesNames(edge).length == 0">-</button>
                                    <button ng-if="!edge.$$expanded" ng-click="edge.$$expanded = true"
                                        ng-disabled="getEdgeAttributesNames(edge).length == 0">+</button>

                                    &nbsp;{{getEdgeLabel(edge)}}
                                </td>
                            </tr>
                            <tr ng-if="edge.$$expanded && getEdgeAttributesNames(edge).length > 0" ng-repeat-end="">
                                <td class="wrappedCell">

                                    <span ng-repeat="attributeName in getEdgeAttributesNames(edge)">
                                        <span ng-show="getAttributeValue(attributeName, edge[attributeName])">

                                            <span ng-switch="attributeName">

                                                <span ng-switch-when="citations">
                                                    <span ng-repeat="citation in edge.citations">
                                                        &nbsp;&nbsp;
                                                        <span ng-bind-html='getCitation(citation)'></span>
                                                        <br />
                                                    </span>
                                                </span>

                                                <span ng-switch-default>
                                                   &nbsp;&nbsp;&nbsp;<strong>{{attributeName}}:</strong>
                                                   <span ng-bind-html='getAttributeValue(attributeName, edge[attributeName])'></span>
                                                </span>

                                                <span ng-show="checkHowManyAttributes(attributeName, edge[attributeName])">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <a ng-click="networkController.showMoreAttributes(attributeName, edge[attributeName])">
                                                        more...
                                                    </a>
                                                    <br>
                                                </span>
                                                <br />
                                            </span>
                                        </span>
                                    </span>

                                </td>
                            </tr>
                        </table>
                    </div>

                </tab>


                <tab active="networkController.tabs[2].active" ng-click="build_provenance_view()" ng-show="!networkController.successfullyQueried">

                    <tab-heading>
                        {{ networkController.tabs[2].heading }}
                    </tab-heading>

                    <div class="row" style="font-size: 1.1em; margin-left: 0px; margin-right: 0px;">
                        <div class="col-xs-6">
                            <div id="provenanceNetwork"/>
                        </div>
                        <div class="col-xs-6">
                            <span ng-show="networkController.displayProvenance.webapp_url">
                                <a target="_blank" href="{{networkController.displayProvenance.webapp_url}}">
                                    <span ng-bind="getProvenanceTitle(networkController.displayProvenance)"></span>
                                </a><br>
                            </span>
                            <span ng-show="!networkController.displayProvenance.webapp_url">
                                {{getProvenanceTitle()}}<br/><br/>
                            </span>
                            <span ng-show="(networkController.displayProvenance.properties == null ? 0 : networkController.displayProvenance.properties.length) > 0">
                                <table style="width:100%">
                                    <!--<caption>Entity Properties</caption>-->
                                    <tr><th>Name</th><th>Value</th></tr>
                                    <tr><td>uuid</td><td>{{networkController.displayProvenance.uuid}}</td></tr>
                                    <tr><td>host</td><td>{{networkController.displayProvenance.host}}</td></tr>

                                    <tr ng-repeat="property in networkController.displayProvenance.properties">
                                        <td>
                                            {{property.name}}
                                        </td>
                                        <td class="wrappedCell">
                                            <span ng-bind-html="property.value"></span>
                                        </td>
                                    </tr>

                                </table>
                                <br>
                            </span>

                            Generated By:

                            <b>{{networkController.displayProvenance.creationEvent.eventType}}</b>

                            <table style="width:100%">
                                <!--<caption>Event Properties</caption>-->
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                                <tr ng-show="networkController.displayProvenance.creationEvent.startedAtTime == networkController.displayProvenance.creationEvent.endedAtTime">
                                    <td>event time</td>
                                    <td>{{networkController.displayProvenance.creationEvent.startedAtTime |
                                        date:'medium' }}
                                    </td>
                                </tr>
                                <tr ng-show="networkController.displayProvenance.creationEvent.startedAtTime != networkController.displayProvenance.creationEvent.endedAtTime">
                                    <td>start time</td>
                                    <td>{{networkController.displayProvenance.creationEvent.startedAtTime |
                                        date:'medium' }}
                                    </td>
                                </tr>
                                <tr ng-show="networkController.displayProvenance.creationEvent.startedAtTime != networkController.displayProvenance.creationEvent.endedAtTime">
                                    <td>end time</td>
                                    <td>{{networkController.displayProvenance.creationEvent.endedAtTime |
                                        date:'medium' }}
                                    </td>
                                </tr>
                                <tr ng-repeat="property in networkController.displayProvenance.creationEvent.properties">
                                    <td>
                                        {{property.name}}
                                    </td>
                                    <td class="wrappedCell">
                                        <span ng-bind-html="property.value"></span>
                                    </td>
                                </tr>
                            </table>
                            <!--</span> -->


                        </div>
                    </div>

                </tab>


                <tab active="networkController.tabs[3].active" ng-show="!networkController.tabs[3].hidden">

                    <tab-heading>
                        {{ networkController.tabs[3].heading }}

                        <a ng-click="backToSimpleQuery($event); networkController.resetForm();">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </tab-heading>

                    <div>

                        <form novalidate ng-submit="networkController.runAdvancedQuery()"
                          style="padding-left:15px">

                            <div class="row">
                                <div class="col-sm-8">
                                    <span class="row"><a ng-click="backToSimpleQuery($event); networkController.resetForm();">
                                        <u><strong>Back to Simple Query</strong></u></a>
                                    </span>
                                </div>
                            </div>

                            Find a subnetwork with edges that,<br>
                            (1) have one or more of these properties:<br>

                            <div class="row">
                                <div ng-repeat="property in networkController.advancedQueryEdgeProperties">
                                    <div class="col-sm-5" style="padding-right: 5px">
                                        <select class="form-control input-sm" ng-model="property.name" ng-change="networkController.validateAdvancedQuery()">
                                            <option value="">[Select Edge Property Name]</option>
                                            <option disabled role="separator">━━━━━━━━━━━━━━━</option>
                                            <option value="ndex:interaction">interaction</option>
                                            <option disabled role="separator">━━━━━━━━━━━━━━━</option>
                                            <option ng-repeat="edgeProperty in networkController.edgePropertyNamesForAdvancedQuery"
                                                    value="{{edgeProperty}}">{{edgeProperty}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-sm-5" style="padding-left: 5px; padding-right: 5px">
                                        <input class="form-control input-sm"
                                               ng-model="property.value"
                                               ng-change="networkController.validateAdvancedQuery()"
                                               placeholder="Value">
                                    </div>

                                    <div class="col-sm-1" style="padding-left: 5px">
                                        <button type="button" ng-click="networkController.removeQueryEdgeProperty($index)"
                                                ng-hide="networkController.advancedQueryEdgeProperties.length == 1"
                                                class="btn btn-default btn-sm vcenter"
                                                tabindex="-1">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <button type="button"
                                    ng-click="networkController.addQueryEdgeProperty()"
                                    class="btn btn-default btn-sm"
                                    ng-show="networkController.advancedEdgeQueryIsValid()"
                                    tabindex="-1">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <br />

                            (2) and which have
                            <span class="dropdown">
                                <a href class="dropdown-toggle" data-toggle="dropdown">
                                    {{networkController.advancedQueryNodeCriteria}} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href class="dropdown-toggle" ng-click="networkController.advancedQueryNodeCriteria='Source'">source</a></li>
                                    <li><a href class="dropdown-toggle" ng-click="networkController.advancedQueryNodeCriteria='Target'">target</a></li>
                                    <li><a href class="dropdown-toggle" ng-click="networkController.advancedQueryNodeCriteria='Both'">both source and target</a></li>
                                    <li><a href class="dropdown-toggle" ng-click="networkController.advancedQueryNodeCriteria='Either'">either source or target</a></li>
                                </ul>
                            </span>
                             nodes<br>
                            (3) with one or more of these properties.
                            <div ng-repeat="property in networkController.advancedQueryNodeProperties">
                                <div class="row">
                                    <div class="col-sm-5" style="padding-right: 5px">
                                        <select class="form-control input-sm" ng-model="property.name" ng-change="networkController.validateAdvancedQuery()">
                                            <option value="">[Select Node Property Name]</option>
                                            <option disabled role="separator">━━━━━━━━━━━━━━━</option>
                                            <option value="ndex:name">name</option>
                                            <!--
                                            <option value="ndex:nameOrTermName">nameOrTermName</option>
                                            <option value="ndex:functionTermType">functionTermType</option>
                                            -->
                                            <option disabled role="separator">━━━━━━━━━━━━━━━</option>
                                            <option ng-repeat="nodeProperty in networkController.nodePropertyNamesForAdvancedQuery"
                                                    value="{{nodeProperty}}">{{nodeProperty}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-sm-5" style="padding-left: 5px; padding-right: 5px">
                                        <input class="form-control input-sm"
                                               ng-model="property.value"
                                               ng-change="networkController.validateAdvancedQuery()"
                                               placeholder="Value">
                                    </div>

                                    <div class="col-sm-1" style="padding-left: 5px">
                                        <button type="button"
                                                ng-click="networkController.removeQueryNodeProperty($index)"
                                                ng-hide="networkController.advancedQueryNodeProperties.length == 1"
                                                class="btn btn-default btn-sm"
                                                tabindex="-1">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <button type="button"
                                    ng-click="networkController.addQueryNodeProperty()"
                                    class="btn btn-default btn-sm"
                                    ng-show="networkController.advancedNodeQueryIsValid()"
                                    tabindex="-1">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>

                            <div class="container; rowWithTwoLinesTopPad">

                                <button ng-disabled="!networkController.advancedQueryIsValid"
                                        type="submit"
                                        class="actionsLabel btn btn-primary btn-default">Run Query
                                </button>

                                <button type="button"
                                        class="actionsLabel btn btn-primary btn-default"
                                        ng-click="networkController.resetForm()">Reset Query
                                </button>
                            </div>

                        </form>
                    </div>


                </tab>

            </tabset>

        </div>

        <div class="rowWithOneLineTopPad"></div>

        <div class="networkActionsSection pull-left"
             ng-show="networkController.isLoggedInUser && networkController.successfullyQueried &&
                     ((networkController.currentNetwork.edgeCount > 0) || (networkController.currentNetwork.nodeCount > 0))">

            <button id="saveQueryButton" class="actionsLabel btn btn-primary customButtonWidth" ng-click="networkController.saveQueryResult()" >
                Save Query Result
            </button>

        </div>

        <div class="networkActionsSection pull-right" ng-show="!networkController.successfullyQueried">
            <span ng-show='((networkController.currentNetwork.visibility == "PUBLIC")
                    || networkController.isAdmin
                    || networkController.canEdit
                    || networkController.canRead)'>

                    <a id="downLoadLinkId1"
                       ng-href={{getNetworkDownloadLink()}}
                       class="actionsLabel btn btn-primary download-btn"
                       ng-click="getCredentialsForNetworkDownload()">
                        Download
                    </a>
            </span>

            <span>
                <button type="button" class="actionsLabel btn btn-primary" ng-click="switchView()" style="border: 5px double white;">{{buttonLabel}}</button>
            </span>

            <span ng-show='networkController.isLoggedInUser &&
                        ((networkController.isAdmin || networkController.canEdit) && !networkController.readOnlyChecked)'>
                <a class="actionsLabel btn btn-primary">
                    <edit-network-summary-modal
                            ndex-data='networkController.currentNetwork' sub-network-id="networkController.subNetworkId">
                    Edit Profile
                    </edit-network-summary-modal>
                </a>
            </span>

            <span ng-show='networkController.isLoggedInUser
                && ((networkController.currentNetwork.visibility == "PUBLIC")
                    || networkController.isAdmin
                    || networkController.canEdit
                    || networkController.canRead)'>

                    <a class="actionsLabel btn btn-primary">
                        <export-network
                                ndex-data='networkController.currentNetwork'>
                            Export
                        </export-network>
                    </a>
            </span>


            <span ng-show='networkController.isLoggedInUser && networkController.canRead'>
                <a class="actionsLabel btn btn-primary customButtonWidth">
                    <create-request-network
                            ndex-data='networkController.currentNetwork'
                            privileges='networkController.privilegeLevel'>
                        Upgrade Permission
                    </create-request-network>
                </a>
            </span>

            <span ng-show='networkController.isLoggedInUser && !networkController.isAdmin && !networkController.canEdit && !networkController.canRead'>
                <a class="actionsLabel btn btn-primary customButtonWidth" title="Request Read, Edit or Admin privilege">
                    <create-request-network
                            ndex-data='networkController.currentNetwork'
                            privileges='networkController.privilegeLevel'>
                        Upgrade Permission
                    </create-request-network>
                </a>
            </span>

            <span ng-show='networkController.isLoggedInUser && networkController.isAdmin' title="Request Read, Edit or Admin privilege">
                <a class="actionsLabel btn btn-primary"
                   ng-href="{{'#/access/network/'+networkController.currentNetwork.externalId}}">
                        Manage Access
                </a>
            </span>

            <!--
            <span ng-show='networkController.isAdmin && networkController.currentNetwork.sourceFormat=="BEL" &&
                           networkController.numberOfBelNetworkNamespacesAsInt == 0'>
                <a class="btn btn-primary customButtonWidth">
                    <archive-bel-namespaces ndex-data='networkController.currentNetwork.externalId'>
                        Archive BEL Namespaces
                    </archive-bel-namespaces>
                </a>
            </span>
            -->

            <span ng-show='networkController.isAdmin && networkController.currentNetwork.sourceFormat=="BEL" &&
                networkController.numberOfBelNetworkNamespacesAsInt > 0'>
                <a class="actionsLabel btn btn-primary customButtonWidth">
                    <download-bel-namespace ndex-network-uuid='networkController.currentNetwork.externalId'
                                            ndex-network-name='networkController.currentNetwork.name'>
                        Download Namespace
                    </download-bel-namespace>
                </a>
            </span>

            <span class="divider" ng-show='networkController.isAdmin &&
                      !networkController.readOnlyChecked
                    || networkController.directIsAdmin
                    || networkController.directCanEdit
                    || networkController.directCanRead'>
            </span>

            <!--
            <span ng-show='networkController.directIsAdmin
                    || networkController.directCanEdit
                    || networkController.directCanRead'>

                <a class="btn btn-primary customButtonWidth">
                    <leave-network
                            ndex-data='networkController.currentNetwork.externalId'>
                        Disaffiliate this Network
                    </leave-network>
                </a>
            </span>
            -->

            <span ng-show='networkController.isLoggedInUser && networkController.isAdmin &&
                          !networkController.readOnlyChecked'>
                <a class=" actionsLabel btn btn-primary">
                    <delete-network ndex-data='networkController.currentNetwork.externalId'>
                        Delete
                    </delete-network>
                </a>
            </span>

            <span ng-show='!networkController.isLoggedInUser'>
                <a class="actionsLabel btn btn-primary" ng-click="main.startSignIn()">
                    Log in to operate on this network
                </a>
            </span>
        </div>
    </div>
</div>


<script type="text/ng-template" id="citations.html">
    <form>
        <div>
            <div class="modal-header">
                <h3>Citations</h3>
            </div>
            <span class="modal-body">
                <span ng-repeat="citation in citations">
                    <dl class="dl-horizontal">
                        <!--
                        <dt>Citation ID</dt>
                        <dd>{{citation.id}}</dd>
                        -->
                        <dt ng-show="citation.title">
                            Title
                        </dt>
                        <dd ng-show="citation.title">
                            {{citation.title}}
                        </dd>

                        <dt ng-show="citation.description">
                            Description
                        </dt>
                        <dd ng-show="citation.description">
                            {{citation.description}}
                        </dd>

                        <dt ng-show="citation.type">
                            Type
                        </dt>
                        <dd ng-show="citation.type">
                            {{citation.type}}
                        </dd>

                        <dt ng-show="citation.identifier">
                            Identifier
                        </dt>
                        <dd ng-show="citation.identifier">
                            {{citation.identifier}}
                        </dd>

                        <dt ng-show="citation.contributor">
                            Contributor
                        </dt>
                        <dd ng-show="citation.contributor">
                            {{citation.contributors}}
                        </dd>

                        <dt ng-show="citation.attributes">
                            Attributes
                        </dt>
                        <dd ng-show="citation.attributes">
                            {{citation.attributes}}
                        </dd>

                        <dt ng-show="citation.link">
                            Link
                        </dt>
                        <dd ng-show="citation.link">
                            <a ng-href="{{citation.link}}" target="_blank">{{citation.link}}</a>
                        </dd>
                    </dl>
                </span>
            </span>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-enter="ok()" ng-click="ok()">OK</button>
            </div>
        </div>
    </form>

</script>