<div class="row" ng-show="networkSearch.errors.length > 0">
    <div class="col-md-12">
        <div>
            <p class="alert alert-danger" ng-repeat='error in networkSearch.errors'>
                {{error}}
              <span class="glyphicon glyphicon-remove pull-right"
                    style='cursor:pointer'
                    ng-click='networkSearch.errors.splice($index,1)'>
              </span>
            </p>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-2" ng-if="searcher.isLoggedInUser">
        <h5><strong>Bulk Actions:</strong></h5>

        <span style="float:left; margin-right:1%">
            <show-network-sets-modal
                    controller-name='searcher'
                    my-account-controller='searcher'
                    my-class="{{(searcher.networkTableRowsSelected == 0) ?
                            'btn btn-primary customButtonWidth disabled' : 'btn btn-primary customButtonWidth'}}">
            </show-network-sets-modal>
        </span>
    </div>

    <div id="searchResultTableId" class="col-md-10">

        <tabset>

            <tab
                    heading='{{networkTabHeading()}}'
                    ng-click="activateTab('Networks'); networkGridApi.core.handleWindowResize()"
                    active="activeTab.Networks">
                <div ng-show='searcher.networkSearchInProgress'><i>Finding Networks...</i></div>
                <div ng-show='searcher.networkSearchNoResults'><i>No Networks Found.</i></div>
                <div ng-show='searcher.showNetworkTable' ui-grid-selection ui-grid="networkSearchGridOptions"
                     ui-grid-resize-columns style="height:540px;"></div>

            </tab>
            <tab
                    heading='{{userTabHeading()}}'
                    ng-click="activateTab('Users'); userGridApi.core.handleWindowResize(); "
                    active="activeTab.Users">
                <div ng-show='searcher.userSearchInProgress'><i>Finding Users...</i></div>
                <div ng-show='searcher.userSearchNoResults'><i>No Users Found.</i></div>
                <div ng-show='searcher.userSearchResults' ui-grid-selection ui-grid="userSearchGridOptions"
                     ui-grid-resize-columns style="height:540px;"></div>
            </tab>
            <tab
                    heading='{{groupTabHeading()}}'
                    ng-click="activateTab('Groups'); groupGridApi.core.handleWindowResize()"
                    active="activeTab.Groups">
                <div ng-show='searcher.groupSearchInProgress'><i>Finding Groups...</i></div>
                <div ng-show='searcher.groupSearchNoResults'><i>No Groups Found.</i></div>
                <div ng-show='searcher.groupSearchResults' ui-grid-selection ui-grid="groupSearchGridOptions"
                     ui-grid-resize-columns style="height:540px;"></div>
            </tab>
        </tabset>
    </div>


</div>