<div class="row">

    <div class=" col-sm-7 col-md-10 col-lg-10">

        <div ng-show="networkSearch.errors.length > 0">
            <p class="alert alert-danger" ng-repeat='error in networkSearch.errors'>
                {{error}}
              <span class="glyphicon glyphicon-remove pull-right"
                    style='cursor:pointer'
                    ng-click='networkSearch.errors.splice($index,1)'>
              </span>
            </p>
        </div>

        <div id="divSearchTabs" class="row">
            <tabset>

                <tab heading='{{networkTabHeading()}}' ng-click="networkGridApi.core.handleWindowResize()" ng-show="showNetworkTab()">
                    <div ng-show='searcher.networkSearchInProgress'><i>Finding Networks...</i></div>
                    <div ng-show='searcher.networkSearchNoResults'><i>No Networks Found.</i></div>
                    <!--
                    <div ng-show='searcher.userSearchResults' class='row text-center'>
                        <ul class="pager">



                            <li>
                                <button class='btn btn-primary btn-sm' ng-disabled='networkSearch.skip == 0'
                                        ng-click='networkSearch.skip = networkSearch.skip - 1; networkSearch.submitNetworkSearch()'>
                                    Prev
                                </button>
                            </li>
                            &nbsp;

                            <li>
                                <button class='btn btn-primary btn-sm'
                                        ng-disabled='networkSearch.networkSearchResults.length < networkSearch.skipSize'
                                        ng-click='networkSearch.skip = networkSearch.skip + 1 ; networkSearch.submitNetworkSearch()'>
                                    Next
                                </button>
                            </li>
                        </ul>
                    </div>
                    -->
                    <div ng-show='searcher.networkSearchResults' ui-grid-selection ui-grid="networkSearchGridOptions" ui-grid-resize-columns class="networkGrid"></div>

                </tab>
                <tab heading='{{userTabHeading()}}' ng-click="userGridApi.core.handleWindowResize()" ng-show="showUserTab()">
                    <div ng-show='searcher.userSearchInProgress'><i>Finding Users...</i></div>
                    <div ng-show='searcher.userSearchNoResults'><i>No Users Found.</i></div>
                    <div ng-show='searcher.userSearchResults' ui-grid-selection ui-grid="userSearchGridOptions" ui-grid-resize-columns class="networkGrid"></div>
                </tab>
                <tab heading='{{groupTabHeading()}}' ng-click="groupGridApi.core.handleWindowResize()" ng-show="showGroupTab()">
                    <div ng-show='searcher.groupSearchInProgress'><i>Finding Groups...</i></div>
                    <div ng-sho='searcher.groupSearchNoResults'><i>No Groups Found.</i></div>
                    <div ng-show='searcher.groupSearchResults' ui-grid-selection ui-grid="groupSearchGridOptions" ui-grid-resize-columns class="networkGrid"></div>
                </tab>
            </tabset>
        </div>
    </div>

</div>

<script type="text/ng-template" id="searchContent.html">
    <div class="modal-body text-center">
        <img src="img/horizontal-loader.gif">
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-default" ng-click="networkSearch.cancel()">Cancel</button>
    </div>
</script>