<div class = "row">
    <div class="Clear"></div>

    <!-- errors div needs recoding -->
    <div class=" col-sm-2 col-md-2 col-lg-2">  
        <h5>Refine By</h5>
        
        <form role="form" ng-submit="userSearch.submitUserSearch()">
          <div class="form-group form-group-sm">
            <label>Search within Group</label>
            <input type="text" class="form-control input-sm" ng-model="userSearch.query.accountName" 
                placeholder="e.g. myGroup">
          </div>
          <div ng-show="userSearch.query.accountName">
                <label>Type of Members</label>
              <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" ng-model="userSearch.query.permission" value="GROUPADMIN">
                    Is Admin
                  </label>
               </div>
               <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" ng-model="userSearch.query.permission" value="MEMBER">
                    Is Member
                  </label>
               </div>
            </div>
          <button type="submit" class="btn btn-default btn-sm">Refine</button>
        </form>

    </div>
    <div class=" col-sm-7 col-md-7 col-lg-7">
    <div ng-show="userSearch.errors.length > 0">
          <p class="alert alert-danger" ng-repeat='error in userSearch.errors'>
            {{error}}
            <span class="glyphicon glyphicon-remove pull-right"
              style='cursor:pointer'
              ng-click='userSearch.errors.splice($index,1)'>  
            </span>
          </p>
      </div>
    <ul>
        <ul class ='row' ng-repeat="user in userSearch.userSearchResults">
            <ndex-navigation ndex-class="'row'" ndex-url="'user/'+user.externalId">
                <ndex-account-image 
                  ndex-class="'col-xs-3 col-sm-3 col-md-3 col-lg-3'" 
                  ndex-src="user.image">
                </ndex-account-image>
                <div class='col-xs-9 col-sm-9 col-md-9 col-lg-9'>
                <h5><strong>{{user.firstName}} {{user.lastName}}</strong></h5>
                <p class="text-muted">{{user.accountName}}</p>
                <p class="">{{user.description.substring(0,30)}}</p>
                <!--should add logic to split only when to big and add '...'-->
                </div>
            </ndex-navigation>
            
        </ul>
    </ul>

    <div class='row text-center' ng-hide='userSearch.userSearchResults.length == 0'>

        <ul class="pager">
          <li ng-class='{disabled : userSearch.skip == 0}' >
            <a ng-click='userSearch.skip = userSearch.skip - 1; userSearch.submitUserSearch()'>
              Previous
            </a>
          </li>
          <li ng-class='{disabled : userSearch.userSearchResults.length < userSearch.skipSize}'>
            <a ng-click='userSearch.skip = userSearch.skip + 1 ; userSearch.submitUserSearch()'>
              Next
            </a>
          </li>
        </ul>

    </div>

    </div>

</div>
