<div class = "row">
    <div class="Clear"></div>

    <!-- errors div needs recoding -->
    <div class=" col-sm-2 col-md-2 col-lg-2">  
        <h5>Refine By</h5>
        
        <form role="form" ng-submit="groupSearch.submitGroupSearch()">
          <div class="form-group form-group-sm">
            <label>Search by User</label>
            <input type="text" class="form-control input-sm" ng-model="groupSearch.query.accountName" 
                placeholder="e.g. calvin">
          </div>
          <div ng-show="groupSearch.query.accountName">
                <label>Type of Members</label>
              <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" ng-model="groupSearch.query.permission" value="GROUPADMIN">
                    Is Admin
                  </label>
               </div>
               <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" ng-model="groupSearch.query.permission" value="MEMBER">
                    Is Member
                  </label>
               </div>
            </div>
          <button type="submit" class="btn btn-default btn-sm">Refine</button>
        </form>

    </div>
    <div class=" col-sm-7 col-md-7 col-lg-7">
      <div ng-show="groupSearch.errors.length > 0">
          <p class="alert alert-danger" ng-repeat='error in groupSearch.errors'>
            {{error}}
            <span class="glyphicon glyphicon-remove pull-right"
              style='cursor:pointer'
              ng-click='groupSearch.errors.splice($index,1)'>  
            </span>
          </p>
      </div>
      <ul>
        <ul class ='row' ng-repeat="group in groupSearch.groupSearchResults">
            <ndex-navigation ndex-class="'row'" ndex-url="'group/'+group.externalId">
                <ndex-account-image 
                  ndex-class="'col-xs-2 col-sm-2 col-md-2 col-lg-2'" 
                  ndex-src="group.image">
                </ndex-account-image>
                <div class="'col-xs-9 col-sm-9 col-md-9 col-lg-9'">
                <h5 style="color:#428BCA"><strong>{{group.groupName}}</strong></h5>
                <p class="text-muted">{{group.description.substring(0,30)}}</p>
                <!--should add logic to split only when to big and add '...'-->
                </div>
            </ndex-navigation>
            
        </ul>
      </ul>
      <div class='row text-center' ng-hide='groupSearch.groupSearchResults.length == 0'>

          <ul class="pager">
            <li ng-class='{disabled : groupSearch.skip == 0}' >
              <a ng-click='groupSearch.skip = groupSearch.skip - 1; groupSearch.submitGroupSearch()'>
                Previous
              </a>
            </li>
            <li ng-class='{disabled : groupSearch.groupSearchResults.length < groupSearch.skipSize}'>
              <a ng-click='groupSearch.skip = groupSearch.skip + 1 ; groupSearch.submitGroupSearch()'>
                Next
              </a>
            </li>
          </ul>

      </div>
    </div>

</div>
