<div class = "row">

    <div class="Clear"></div>

    <!-- errors div needs recoding -->
    <div class=" col-sm-2 col-md-2 col-lg-2">  
        <h5>Refine By</h5>
        
        <form role="form" ng-submit="networkSearch.submitNetworkSearch()">
          <div class="form-group form-group-sm">
            <label>Filter by Account:</label>
            <input type="text" class="form-control input-sm" ng-model="networkSearch.accountName" placeholder="e.g. dexterpratt">
          </div>
          <div ng-show="networkSearch.accountName" class="checkbox">
            <label>
              <input type="checkbox" ng-model="networkSearch.includeGroups" value="true"> Include Account's Groups
            </label>
          </div>

          <div ng-show="networkSearch.accountName">
                <label>Account Permissions</label>
              <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" ng-model="networkSearch.permission" value="ADMIN">
                    Is Admin
                  </label>
               </div>
               <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" ng-model="networkSearch.permission" value="WRITE">
                    Can Edit
                  </label>
               </div>
               <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" ng-model="networkSearch.permission" value="READ">
                    Can Read
                  </label>
               </div>
            </div>

           <div class="form-group form-group-sm">
            <label>Larger Search</label>
            <textarea class="form-control" ng-model="networkSearch.searchString" rows="20"></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-sm">Refine</button>
        </form>

    </div>
    <div class=" col-sm-7 col-md-10 col-lg-10">

        <div ng-show="networkSearch.errors.length > 0">
            <p class="alert alert-danger" ng-repeat='error in networkSearch.errors'>
              {{error}}
              <span class="glyphicon glyphicon-remove pull-right"
                style='cursor:pointer'
                ng-click='networkSearch.errors.splice($index,1)'>  
              </span>
            </p>
        </div>

        <br>

        <div ui-grid-selection ui-grid="networkSearchGridOptions" ui-grid-resize-columns class="networkGrid"></div>

        <div class='row text-center' ng-hide='networkSearch.skip == 0 && networkSearch.networkSearchResults.length < networkSearch.skipSize'>

          <ul class="pager">
            <!--<li ng-class='{disabled : networkSearch.skip == 0}' >-->


            <li>
              <button class='btn btn-primary btn-sm' ng-disabled='networkSearch.skip == 0' ng-click='networkSearch.skip = networkSearch.skip - 1; networkSearch.submitNetworkSearch()'>
                Prev
              </button>
            </li>
              &nbsp;
            <!--<li ng-class='{disabled : networkSearch.networkSearchResults.length < networkSearch.skipSize}'>-->
            <li>
              <button class='btn btn-primary btn-sm' ng-disabled='networkSearch.networkSearchResults.length < networkSearch.skipSize' ng-click='networkSearch.skip = networkSearch.skip + 1 ; networkSearch.submitNetworkSearch()'>
                Next
              </button>
            </li>
          </ul>
        </div>
    </div>

</div>

<script type="text/ng-template" id="searchContent.html">
    <div class="modal-body text-center">
        <img src="img/horizontal-loader.gif">
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-default" ng-click="networkSearch.cancel()">Cancel</button>
    </div>
</script>