<div class="row" style="padding-top:100px">

    <div class='col-md-3'></div>

    <div class='col-md-6'>
        <div class="home-box home-margins">
            <form name="signInForm" class="form-signin" role="form" ng-submit="signIn.submitSignIn()">
                <div class="AlignCenter" style="font-size: 14px">
                    <span>{{config.signIn.header}}</span>
                    <hr>
                </div>
                <div class="form-group">
                    <input name="accountName" type="accountName" class="form-control" placeholder="Account Name"
                           required autofocus ng-model="signIn.userName">
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="Password" required
                           ng-model="signIn.password">
                </div>
                <div class="AlignCenter">
                    <button class="btn btn-lg btn-danger" type="button" ng-click="signIn.cancel()">Cancel</button>
                    <button class="btn btn-lg btn-primary" type="submit"
                            ng-disabled="!signInForm.accountName.$valid || !signInForm.password.$valid">
                        Sign in
                    </button>
                    <button class="btn btn-lg btn-primary" type="button" ng-click="signIn.SignInWithGoogle()">
                        Sign in with Google
                    </button>
                    <br><br>
                    <a ng-show="config.signIn.showForgotPassword" ng-click="forgotPassword()">Forgot Password?</a>
                </div>
                <hr>
                <div class="AlignCenter" style="font-size: 14px">
                    {{config.signIn.footer}}
                    <a ng-show="config.signIn.showSignup" ng-click="signIn.openSignUp()">Click here to sign up!</a>
                </div>
            </form>
            <span class="text-danger">{{signIn.message}}</span>
        </div>
    </div>

</div>

<script type="text/ng-template" id="signUp.html">
    <div class="modal-content">
        <form name="signUpForm" role="form" ng-submit="signIn.signUp()">
            <div class="modal-header">
                <h4>Sign Up for NDEx</h4>
            </div>
            <span style="position: relative; left: 20px;"> All fields are required.</span>

            <div class="modal-body text-center">

                <div class="row">
                    <div class="form-group col-md-6">
                        <input name="firstName" type="text" class="form-control" ng-model="signIn.newUser.firstName"
                               placeholder="First Name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <input name="lastName" type="text" class="form-control" ng-model="signIn.newUser.lastName"
                               placeholder="Last Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <input name="accountName" type="text" class="form-control" ng-model="signIn.newUser.userName"
                           placeholder="User Name (e.g. dexterpratt)" required>
                </div>
                <div class="form-group">
                    <input name="email" type="email" class="form-control" ng-model="signIn.newUser.emailAddress"
                           placeholder="Valid Email Address (required for account verification / password recovery)" required>
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" ng-model="signIn.newUser.password"
                           placeholder="Password" required>
                </div>
                <div class="form-group">
                    <input name="confirmPassword" type="password" class="form-control"
                           ng-model="signIn.newUser.passwordConfirm"
                           placeholder="Confirm Password" required>
                </div>

                <div class="rowWithTwoLinesTopPadAnd11EmFont">
                    <input required ng-model="termsAndConditionsChecked" type="checkbox"> &nbsp;
                    <label>I have read and accept the
                        <a ng-href="http://home.ndexbio.org/disclaimer-license/" target="_blank">Terms & Conditions</a>
                    </label>
                </div>

                <div class='text-danger text-left'>
                    <strong>
                        <br>
                        {{signIn.signUpErrors}}
                    </strong>
                </div>
            </div>

            <div class="modal-footer">
                <a class="btn btn-sm btn-danger" ng-click="signIn.cancelSignUp()">Cancel</a>
                <button class="btn btn-sm btn-default" type="submit"
                        ng-disabled="!signUpForm.firstName.$valid || !signUpForm.lastName.$valid
                        || !signUpForm.accountName.$valid  || !signUpForm.email.$valid
                        || !signUpForm.password.$valid || !signUpForm.confirmPassword.$valid
                        || !termsAndConditionsChecked  || !termsAndConditionsChecked || isProcessing">
                    Sign Up
                </button>
            </div>

        </form>
    </div>
</script>


<script type="text/ng-template" id="signUpSuccess.html">
    <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title">Check Your Email</h4>
        </div>

        <div class="modal-body">
            <div>
                ALMOST DONE!
                <br>
                We sent a verification link to the e-mail address you provided.
                Please check your email and follow the instructions to complete your registration.
                You must complete your registration within 24 hours.
                Can't find the email? Make sure to check your
                SPAM folder and add "support@ndexbio.org" to your safe-senders list.
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-default" ng-click="signIn.cancelSignUp()">Close</button>
        </div>

    </div>
</script>

<script type="text/ng-template" id="forgotPassword.html">
    <div class="modal-header">
        <h3 class="modal-title">Forgot Password?</h3>
    </div>
    <div class="modal-body">
        <form ng-show="!forgot.done" ng-submit="resetPassword()" role="form">
            <div class="form-group">
                <input class="form-control" placeholder="Account Name" required ng-model="forgot.accountName"/>
            </div>
            <div class="AlignRight">
                <button class="btn btn-primary" type="submit">Reset Password</button>
            </div>
        </form>
        <div class='text-danger'>
            <strong> {{forgot.errorMsg}} </strong>
        </div>
        <div class='text-success'>
            <strong> {{forgot.successMsg}} </strong>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-show="!forgot.done" class="btn btn-danger" ng-click="cancel()">Cancel</button>
        <button id="forgotPasswordDoneButton" ng-show="forgot.done" class="btn btn-primary" ng-click="cancel()">Done
        </button>
    </div>
</script>

<script type="text/ng-template" id="generic-info-modal.html">
    <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title">{{title}}</h4>
        </div>

        <div class="modal-body">
            {{message}}
        </div>

        <div class="modal-footer">
            <button class="btn btn-default" ng-click="close()">Close</button>
        </div>

    </div>
</script>