<div id="triptychContainer"></div>
<div id="controls">
    <span id="fly"
          ng-click="NdexTriptych.toggleFlyMode()">
        <img src="img/fly_icon.png" height=40>
    </span>

    <span id="zoom_in"
            ng-mousedown="NdexTriptych.setZoomMode(-1)"
            ng-mouseleave="NdexTriptych.setZoomMode(0)"
            ng-mouseup="NdexTriptych.setZoomMode(0)">
        <img src="img/zoom_in_icon.png" height=40></span>

    <span id="zoom_out"
          ng-mousedown="NdexTriptych.setZoomMode(1)"
          ng-mouseleave="NdexTriptych.setZoomMode(0)"
          ng-mouseup="NdexTriptych.setZoomMode(0)">
        <img src="img/zoom_out_icon.png" height=40>
    </span>

    <span id="toggle_planar_mode"
            ng-click="handleTogglePlanarMode()">
        <img id="planar_mode_icon" src="img/2d_icon.png" height=40>
    </span>

    <span id="toggle_visualizer"
          ng-show="webGlEnabled"
            ng-click="handleToggleVisualizer()">
        <img id="visualizer_mode_icon" src="img/no_gl_icon.png" height=40>
    </span>
</div>

<div id="details" ng-hide="showDetails">
    <div id="hide_details" ng-click="showDetails=false"><img src="img/close_icon.png" height=40></div>
    <div id="detailsContent">
        <ul id="ulSubnetwork" ng-repeat="(id, edge) in selectedEdges">

            <li>
                <strong>{{NdexClient.getNodeLabel(getEdgeSubject(edge))}}</strong>
                <em>{{NdexClient.getPredicate(edge).name}}</em>
                <strong>{{NdexClient.getNodeLabel(getEdgeSubject(edge))}}</strong>
            </li>
            <!-- todo: aliases  , footnotes

                            <i class="icon-expand Hand" ng-show="hasAliases(edge)"
                   ng-click="toggleTermAliases"></i>


                            <sup rel="tooltip">{{edgeFootnotes[edge]}}
                </sup>


            <li class="TermAliases" ng-show="hasAliases">

                <div>
                    Alias: <a target="_blank" data-bind="termAlias: $root.Network().terms()[$data]"></a>
                </div>

                <div>
                    Related: <a target="_blank" data-bind="termAlias: $root.Network().terms()[$data]"></a>
                </div>

            </li>
         -->

        </ul>
    </div>
</div>



        <!--

function displayDetails(node) {
    if (!detailsDisplayed) {

        $("#details").fadeIn(400);
        detailsDisplayed = true;
    }
    detail_node = node;

    $("#detailsContent").html("");

    var nodeSpan = document.createElement('span'),
            edgeTable = document.createElement('table');

    $(nodeSpan).addClass("detailsNode").html(node.label);
    $(edgeTable).addClass("edgeTable");
    $("#detailsContent").append(nodeSpan);

    /*
     $.each(node.literals, function (predicate, value){
     var listItem = document.createElement('li');
     $(listItem).html(predicate + " : " + value );
     $(detailList).append(listItem);
     });
     */
    $.each(node.getEdges(), function (i, edge) {
        var tableRow = document.createElement('tr'),
                fromItem = document.createElement('td'),
                relItem = document.createElement('td'),
                toItem = document.createElement('td');

        $(fromItem).html(edge.from.label);
        $(relItem).html(edge.relationship.type);
        $(toItem).html(edge.to.label);


        $(tableRow).append(fromItem).append(relItem).append(toItem);

        if (edge.planes) {
            if (edge.planes.length == 1) {
                if (edge.planes[0] == "one")$(tableRow).addClass("network1Edge");
                if (edge.planes[0] == "two")$(tableRow).addClass("network2Edge");
            } else {
                $(tableRow).addClass("commonEdge");
            }
        }

        $(edgeTable).append(tableRow);
    });

    $("#detailsContent").append(edgeTable);

}
-->