<div id="divUser" class="row" >

    <div class="col-md-2">
            <!--
            <img id="imgProfile" ng-show="displayedUser.username" ng-src="http://test.ndexbio.org/profile/foreground/{{displayedUser.username}}.jpg"/>
            -->
        <img id="imgProfile" ng-show="displayedUser.username" ng-src="http://i.imgur.com/09oVvZg.jpg"/>
    </div>
    <div class="col-md-10">
        <h3 >
            {{displayedUser.firstName}} {{displayedUser.lastName}}
        </h3>

        <div>
            {{displayedUser.emailAddress}}
        </div>

        <div>
            <a href="{{displayedUser.website}}">{{displayedUser.website}}</a>
        </div>

        <div>
            {{displayedUser.description}}
        </div>
    </div>
</div>

<!- tabs -->
<div id="divUserTabs" class="row" ng-show="displayedUser">
    <!-- tabbar -->
    <div class="tabbable">
        <ul class="nav nav-tabs tab-title">
            <li ng-class="{ active:user.isTabSet('networks') }">
                <a href ng-click="user.setTab('networks')">
                    <i class="icon-exchange"></i>
                    Networks
                </a>
            </li>
            <li ng-class="{ active:user.isTabSet('groups') }">
                <a href ng-click="user.setTab('groups')">
                    <i class="icon-group"></i>
                    Groups
                </a>
            </li>

            <li ng-class="{ active:user.isTabSet('tasks') }">
                <a href ng-click="user.setTab('tasks')">
                    <i class="icon-tasks"></i>
                    Tasks
                </a>
            </li>
            <li ng-class="{ active:user.isTabSet('requests') }">
                <a href ng-click="user.setTab('requests')">
                    <i class="icon-envelope-alt"></i>
                    Requests
                </a>
            </li>

        </ul>
    </div>

        <div class="tab-content">
            <div id="divNetworks"  ng-show="user.isTabSet('networks')">
                <table ng-show="networkSearchResults.length > 0">
                    <!--
                    <tbody ng-repeat="(index, network) in displayedUser.networks">
                    <tr ng-click="setAndDisplayCurrentNetwork(network.resourceId)">
                        <td>{{network.resourceName}}</td>
                    </tr>
                    </tbody>
                    -->
                    <thead>
                    <tr>
                        <th>Source</th>
                        <th>Title</th>
                        <th style="width: 10%;">Nodes</th>
                        <th style="width: 10%;">Edges</th>
                    </tr>
                    </thead>
                    <tbody  ng-repeat="network in networkSearchResults">
                    <tr ng-click="setAndDisplayCurrentNetwork(network.id)">
                        <td>{{network.metadata["Source"]}}</td>
                        <td>{{network.name}}</td>
                        </td>
                        <td class="AlignRight">{{network.nodeCount}}</td>
                        <td class="AlignRight">{{network.edgeCount}}</td>
                    </tr>
                    </tbody>

                </table>
            </div>

            <div id="divGroups" ng-show="user.isTabSet('groups')">
                <table>
                    <tbody ng-repeat="(index, group) in displayedUser.groups">
                    <tr ng-click="setAndDisplayCurrentGroup(group.resourceId)">
                        <td>{{group.resourceName}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="divTasks" ng-show="user.isTabSet('tasks')">
                <table>
                    <tbody ng-repeat="(index, task) in displayedUser.tasks">

                    <tr>
                        <td><i class="icon-remove icon-white" ng-click="markTaskForDeletion(task.id)"></i></td>
                        <td>{{task.description}}</td>
                        <td>{{task.status}}</td>
                        <td><span ng-show="false">download</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="divRequests" ng-show="user.isTabSet('requests')">
                <table>
                    <tbody ng-repeat="(index, request) in displayedUser.requests">

                    <tr>
                        <td>From: {{request.from}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


</div>

<!--

        TODO: Menu of actions

<div class="span4 pull-right" style="position: relative;">
<div class="dropdown">
<a class="ndex-options dropdown-toggle Hand" data-toggle="dropdown">
    <i class="icon-cog icon-large"></i>
</a>

<ul class="dropdown-menu">

<li>
<a href="javascript:void()" class="accountMiniMenu" data-bind="click: User.createGroup">Create Group</a>
</li>
<li>
<a href="javascript:void()" class="accountMiniMenu" data-bind="click: User.createNetwork">Create Network</a>
</li>
<li>
<a href="javascript:void()" class="accountMiniMenu" data-bind="click: User.changeProfileImage">Change Profile Image</a>
</li>
<li>
<a href="javascript:void()" class="accountMiniMenu" data-bind="click: User.changeProfileImage">Change Background Image</a>
</li>
<li>
<a href="javascript:void()" class="accountMiniMenu" data-bind="click: User.changePassword">Change Password</a>
</li>

<li>
<a href="javascript:void()" class="accountMiniMenu" data-bind="click: User.inviteToGroup">Invite to Join...</a>
</li>

</ul>
</div>

-->