
<div id="divUser" class="row" >

    <div class="col-md-2">
        <div class="row">
            <div class='row'>
                <ndex-account-image 
                        ndex-class="'col-md-10'"
                        ndex-src="userController.displayedUser.image">
                </ndex-account-image>
            </div>
            <h4>
                {{userController.displayedUser.firstName}} {{userController.displayedUser.lastName}}
            </h4>
            <div>
                <small>{{userController.displayedUser.accountName}}</small>
            </div>
            <div class="wrapLongLine">
                <a href="{{userController.displayedUser.website}}" target="_blank">{{userController.displayedUser.website}}</a>
            </div>

            <div ng-bind-html="userController.displayedUser.description"></div>

            <span ng-show="userController.isLoggedInUser && userController.identifier == userController.loggedInIdentifier">
                <div class="btn-group btn-group-vertical buttonWithMarginBottom">
                    <hr>
                    <h5><strong>Actions:</strong></h5>

                    <span>
                        <a class="btn btn-primary customButtonWidth" href="#upload">Upload Networks</a>
                    </span>

                    <span>
                        <a class="btn btn-primary customButtonWidth" trigger-create-group-modal="Create Group">Create Group</a>
                    </span>

                    <span>
                       <div class="btn-group dropdown">
                           <button id="editAccountButton" type="button" data-toggle="dropdown"
                                   class="btn btn-primary dropdown-toggle customButtonWidth">
                               Edit Account
                               <span class="caret"></span>
                           </button>

                           <ul class="dropdown-menu" role="menu" aria-labelledby="editAccountButton">
                               <li><a><edit-user-modal ndex-data='userController.displayedUser'>Edit Personal Info</edit-user-modal></a></li>
                               <li><a><change-password-modal>Change Password</change-password-modal></a></li>
                               <li class="disabled"><a href="#">Notification Settings</a></li>
                               <li><a><delete-user>Delete Account</delete-user></a></li>
                           </ul>
                       </div>
                    </span>
                </div>

                <div class="btn-group btn-group-vertical buttonWithMarginBottom"  ng-show="userController.atLeastOneSelected">
                    <hr>
                    <h5><strong>Bulk Actions:</strong></h5>

                    <span>
                       <div class="btn-group dropdown">
                           <button id="editNetworksPropertiesButton" type="button" data-toggle="dropdown"
                                   class="btn btn-primary dropdown-toggle customButtonWidth">
                               Edit Properties
                               <span class="caret"></span>
                           </button>

                           <ul class="dropdown-menu" role="menu" aria-labelledby="editNetworksPropertiesButton">
                               <li>
                                   <a>
                                       <bulk-edit-network-property
                                               ndex-data='userController'
                                               directive-title="Change Description of Selected Networks"
                                               directive-action="description"
                                               directive-description="Change Descriptions of the selected networks to the one below:">
                                            Change Description
                                        </bulk-edit-network-property>
                                   </a>
                               </li>
                               <li>
                                   <a>
                                       <bulk-edit-network-property
                                               ndex-data='userController'
                                               directive-title="Change Version of Selected Networks"
                                               directive-action="version"
                                               directive-description="Change Versions of the selected networks to the one below:">
                                           Change Version
                                       </bulk-edit-network-property>
                                   </a>
                               </li>
                               <li>
                                   <a>
                                       <bulk-edit-network-property
                                               ndex-data='userController'
                                               directive-title="Change Visibility of Selected Networks"
                                               directive-action="visibility"
                                               directive-description="Change Visibility of the selected networks to the one below:">
                                           Change Visibility
                                       </bulk-edit-network-property>
                                   </a>
                               </li>
                               <li>
                                   <a>
                                       <bulk-change-readonly-property
                                               ndex-data='userController'
                                               directive-title="Change Read-Only Flag of Selected Networks"
                                               directive-action="readOnly"
                                               directive-description="Change Read-Only flag of the selected networks to the one below:">
                                           Set/Unset Read-Only Flag
                                       </bulk-change-readonly-property>
                                   </a>
                               </li>
                           </ul>
                       </div>
                    </span>

                    <span>
                        <!---&& ((networkController.currentNetwork.visibility == "PUBLIC")
                                || networkController.isAdmin
                                || networkController.canEdit
                                || networkController.canRead)'>--->

                        <a class="btn btn-primary customButtonWidth">
                            <create-bulk-export-network-tasks ndex-data='userController' ng-model="selection">
                                Export Networks
                            </create-bulk-export-network-tasks>
                        </a>
                    </span>

                    <span>
                        <a class="btn btn-primary customButtonWidth"
                           ng-click="userController.manageBulkAccess('/access/bulk/network', main.getCurrentUserId())">
                            Manage Access
                        </a>
                    </span>

                    <span>
                        <a class="btn btn-primary customButtonWidth"
                           ng-click="userController.checkAndDeleteSelectedNetworks()">Delete Networks
                        </a>
                    </span>

                </div>

            </span>

        </div>
    </div>

    <!-- tabs -->
    <div id="divUserTabs" class="col-md-10" ng-show="userController.displayedUser">

        <tabset justified="false">
            <tab heading="Networks">
                <!-- adding ui-grid-auto-resize fixes the issue of distorted Networks Tab (NDEX-578).
                 Resolution is described here: http://ui-grid.info/docs/#/tutorial/108_hidden_grids
                 The use ng-if="tabShown" ... described on the page above introduces another issue:
                 the selected rows on the Networks page get unselected if you select a different tab (i.e., Groups)
                 and come back to Networks tab. -->
                <div id="divNetworks" ng-show='userController.networkSearchResults.length > 0'>
                    <div ui-grid-selection
                         ui-grid="networkGridOptions"
                         ui-grid-resize-columns
                         ui-grid-auto-resize
                         class="networkGrid"></div>
                </div>
                <div class='row' ng-hide='userController.networkSearchResults.length > 0'>
                    <br>
                    <p class='text-center text-muted'>No networks to display</p>
                </div>
            </tab>

            <tab heading="Groups">
                <div id="divGroups">
                    <div class='row center-block'>
                        <hr>
                        <form class='form-inline col-md-6' role="form" ng-submit="userController.submitGroupSearch()">
                            <div class='form-group'>
                                <div class="input-group input-group-sm" >
                                    <input type="text" class="form-control input-sm" placeholder="Search groups this account is in"
                                           ng-model='userController.groupSearchString'>
                                    <div class="input-group-btn"><button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search"></span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class='offset-col-md-2 col-md-2'>
                            <div class="checkbox"><label>
                                <input type="checkbox"
                                       ng-click='userController.adminCheckBoxClicked()'
                                       ng-model="userController.groupSearchAdmin">Admin</label>
                            </div>
                        </div>
                        <div class='col-md-2'>
                            <div class="checkbox"><label>
                                <input type="checkbox"
                                       ng-click='userController.memberCheckBoxClicked()'
                                       ng-model="userController.groupSearchMember">Member</label>
                            </div>
                        </div>

                    </div>

                    <div ng-show='userController.groupSearchResults.length > 0'>
                        <ul ng-repeat="group in userController.groupSearchResults">
                            <div class='row'>
                                <ndex-navigation ndex-class="" ndex-url="'group/'+group.externalId">
                                    <ndex-account-image
                                            ndex-class="'col-xs-2 col-sm-2 col-md-2 col-lg-2'"
                                            ndex-src="group.image">
                                    </ndex-account-image>
                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                        <h5 style="color:#428BCA"><strong>{{group.groupName}}</strong></h5>

                                        <div class="wrapLongLine, text-muted">
                                            <p>{{group.website}}</p>
                                        </div>

                                        <div class="wrapLongLine, text-muted">
                                            <p>{{(stripHTML(group.description)).substring(0,30)}}</p>
                                        </div>
                                    </div>
                                </ndex-navigation>
                            </div>
                        </ul>
                    </div>
                    <div class='row' ng-hide='userController.groupSearchResults.length > 0'>
                        <br>
                        <p class='text-center text-muted'>No groups to display</p>
                    </div>
                </div>

            </tab>


            <!-- only show Tasks & Notifications tab if
                 1) user is logged in (it is not an anonymous search), and
                 2) selected user is the same as the one who logged in.  In other words, this tab will be hidden if
                 a user logged in as say "aaa" and gets networks for user "bbb" --->
            <tab heading="Tasks & Notifications"
                 ng-show="(userController.isLoggedInUser) && (userController.displayedUser.externalId===userController.loggedInIdentifier)"
                 disabled="userController.tasksNotificationsTabDisabled()">

                <div class="row" ng-show="(userController.tasks.length > 0) || (userController.pendingRequests.length > 0 || userController.sentRequests.length > 0)">

                    <div class="col-md-6"  ng-show='userController.tasks.length > 0'>
                        <div class="row well well-sm classWithPad">
                            <ol class="list-inline">
                                <li><strong>Tasks</strong></li>
                                <a ng-click="userController.refreshTasks(); userController.submitNetworkSearch();">
                                    <span class='glyphicon glyphicon-refresh'></span>
                                </a>
                                <li class='pull-right' style='vertical-align: top'  ng-show="userController.allTasksCompleted()">
                                    <button class="btn-link" ng-click="userController.deleteAllTasks()">Delete All</button>
                                </li>
                            </ol>
                            <div class="panel panel-default">
                                <ul class="list-group" ng-repeat='task in userController.tasks'>
                                    <!--ng-repeat='task in userController.pendingTasks'> -->
                                    <!--ng-hide="task.status == 'COMPLETED' && task.taskType != 'EXPORT_NETWORK_TO_FILE'"-->
                                    <li class="list-group-item">
                                        <div class='row' data-toggle="tooltip" data-placement="left" tooltip="{{task.description}}">
                                            <div class='col-sm-10 user-tasks-panel'>
                                                <span class='text-info'>{{task.taskType}}</span>
                                                <span class='text-info' >{{task.description}}</span>
                                                <span class='text-muted'>{{task.status | taskStatusToLabel}}</span>
                                                <br />


                                                <a ng-show="task.status == 'COMPLETED' && task.taskType == 'EXPORT_NETWORK_TO_FILE'"
                                                   ng-href="/exported-networks/{{task.externalId}}.{{userController.getTaskFileExt(task)}}"
                                                   download="{{userController.getNetworkDownloadName(task)}}">Download {{userController.getNetworkName(task)}}
                                                </a>

                                                <a>
                                                    <show-task-failure-info ng-show="task.status == 'FAILED'" ndex-data='task'>
                                                        Click for details
                                                    </show-task-failure-info>
                                                </a>

                                            </div>
                                            <a class='btn btn-xs btn-link' ng-click="userController.deleteTask(task.externalId)" ng-show="task.status != 'PROCESSING'">
                                                <span class="text-danger glyphicon glyphicon-trash"></span>
                                            </a>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" ng-show='userController.pendingRequests.length > 0 || userController.sentRequests.length > 0'>
                        <div class="row well well-sm classWithPad">
                            <div class="">
                                <ol class="list-inline">
                                    <li><strong>Requests</strong></li>
                                    <li><a ng-click='sentTab = null'
                                            ng-class="{'text-primary': sentTab == null, 'text-muted': sentTab}"
                                            ng-show='userController.pendingRequests.length > 0'>
                                            Received
                                        </a>
                                    </li>
                                    <li><a ng-click='sentTab = true'
                                            ng-class="{'text-muted': sentTab == null, 'text-primary': sentTab}"
                                            ng-show='userController.sentRequests.length > 0'>
                                            Sent
                                        </a>
                                    </li>
                                    <li><a ng-click='userController.refreshRequests()'>
                                            <span class='glyphicon glyphicon-refresh'></span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                            <div class="panel panel-default">
                                <ul class="list-group"
                                    ng-hide='sentTab'
                                    ng-repeat='request in userController.pendingRequests'>
                                    <li class="list-group-item">
                                    <!-- destination names should be cut off -->
                                        <received-request ndex-data='request' class="wrapLongLine" user-controller="userController">
                                            <span class='text-success'>{{request.sourceName}}</span> requests
                                            <span class='text-info'>{{request.permission | permissionToLabel}}</span> access to
                                            <span class='text-success'>{{request.destinationName}}</span>
                                            <br>
                                            <em class='text-muted'>{{request.response | requestStatusToLabel}}</em>
                                        </received-request>
                                    </li>
                                </ul>
                                <ul class="list-group"
                                    ng-show='(sentTab && (userController.sentRequests.length > 0))
                                            || (userController.sentRequests.length > 0 && userController.pendingRequests.length < 1)'
                                            ng-repeat='request in userController.sentRequests'>
                                    <li class="list-group-item">
                                        <!-- destination names should be cut off -->
                                        <sent-request ndex-data='request' class="wrapLongLine" user-controller="userController">
                                            <span class='text-info'>{{request.permission | permissionToLabel}}</span> access to
                                            <span class='text-success'>{{request.destinationName}}</span> for
                                            <span class='text-success'>{{request.sourceName}}</span>
                                            <br>
                                            <em class='text-muted'
                                                ng-class='{"text-danger":request.response=="DECLINED", "text-success":request.response=="ACCEPTED"}'>
                                                {{request.response | requestStatusToLabel}}
                                            </em>
                                        </sent-request>
                                    <!--<button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button
                                    -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>

        </tabset>
    </div>

</div>
