<div id="downloadNetworkTemplate" class="ui-grid-cell-contents">
    <span ng-if="(row.entity.Status != 'processing') && (row.entity.Status != 'Set')"
          ng-click="grid.appScope.downloadNetwork(row.entity)" style="cursor:pointer;"
          title="Download CX file for this network">
        <!--
            <img src="img/download.png" width="20px" height="20px" align="center">
        -->
        <i class="fa fa-download fa-lg" style="color:#92B136;" aria-hidden="true"></i>
    </span>
</div>
