<div ng-if="row.entity.Status == 'success'"
     class="ui-grid-cell-contents" title="{{row.entity.name}} &#x0D;&#x0D; {{row.entity.description}}">
    <a href="#/network/{{row.entity.externalId}}">{{COL_FIELD}} </a>
</div>

<div ng-if="row.entity.Status == 'warning'"
     class="ui-grid-cell-contents" title="{{row.entity.name}} &#x0D;&#x0D; {{row.entity.description}}">
    <a href="#/network/{{row.entity.externalId}}">{{COL_FIELD}} </a>
</div>

<div ng-if="row.entity.Status == 'failed'"
     class="ui-grid-cell-contents" title="{{row.entity.errorMessage}}">
    <span ng-if="grid.appScope.isOwnerOfNetwork(row.entity.ownerUUID)">
        <a ng-click="grid.appScope.failedNetworkWarning(row.entity)">{{COL_FIELD}}</a>
    </span>
    <span ng-if="!grid.appScope.isOwnerOfNetwork(row.entity.ownerUUID)">
        <span style="cursor: not-allowed">{{COL_FIELD}}</span>
    </span>
</div>

<div ng-if="row.entity.Status == 'processing'"
     class="ui-grid-cell-contents" title="{{row.entity.name}} &#x0D;&#x0D; {{row.entity.description}}">
    <span style="cursor: not-allowed">{{COL_FIELD}}</span>
</div>

<div ng-if="row.entity.Status == 'collection'"
     class="ui-grid-cell-contents" title="{{row.entity.name}} &#x0D;&#x0D; {{row.entity.description}}">
    <a href="#/network/{{row.entity.externalId}}">{{COL_FIELD}} </a>
</div>

<div ng-if="row.entity.Status == 'Set'"
     class="ui-grid-cell-contents"
     title="{{row.entity.name}} &#x0D;&#x0D; {{row.entity.description}}">
    <a ng-href="#/networkset/{{row.entity.externalId}}"><strong style="font-size: 1.1em">{{COL_FIELD}}</strong></a>
</div>