<div class="modal-content">

    <div class="modal-header">
        <h5 class="modal-title"><strong><span ng-bind-html="title"></span></strong></h5>
    </div>

    <div class="modal-body">
        <div class="wrapLongLine">
            <br>
            <span ng-bind-html='message'></span>
        </div>

        <div ng-if="progress">
            <br>
            <strong><span style="color: green; font-size: 1.1em" ng-bind-html="progress"></span></strong>
        </div>

        <div ng-if="progress2">
            <strong><span style="color: green; font-size: 1.1em" ng-bind-html="progress2"></span></strong>
        </div>

        <div ng-if="errors" class='text-danger' style='word-wrap:break-word'>
            <br>
            <strong><span style="font-size: 1.1em" ng-bind-html="errors"></span></strong>
        </div>

        <div id="confirmationSpinnerId"></div>

    </div>

    <div class="modal-footer">
        <button ng-class="cancelButtonEnabled ? 'btn btn-default' : 'btn btn-default disabled'" ng-click="cancel()">
            {{cancelLabel}}
        </button>
        <button ng-class="confirmButtonEnabled ? 'btn btn-primary' : 'btn btn-primary disabled'"
                ng-click="confirm()">
            {{confirmLabel}}
        </button>
    </div>

</div>




<!--
<div class="modal-content">

    <div class="modal-header">
        <h5 class="modal-title"><strong><span ng-bind-html="title"></span></strong></h5>
    </div>

    <div class="modal-body wrapLongLine" style="max-height:520px; overflow:auto">
        <span ng-bind-html='message'></span>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">{{cancelLabel}}</button>
        <button class="btn btn-primary" ng-click="confirm()">{{confirmLabel}}</button>
    </div>

</div>
-->