

<div class='modal-content'>

    <form class="form-horizontal" role="form"  ng-submit='save()'>

        <div class="modal-header">
            <h4 class="modal-title">@context</h4>
        </div>

        <div class="modal-body" style="max-height:520px; overflow:auto">
            <div class="form-group">
                <div class="container">


                    <!------------- USER LOGGED IN AND HAS EDIT PERMISSIONS ---------------->
                    <div class="row" style="margin-bottom: 5px;" ng-if="isEdit && !contextIsEmpty">
                        <div class="col-sm-3">
                            <span style="font-size: medium; font-weight: bold;">Namespace</span>
                        </div>
                        <div class="col-sm-8">
                            <span style="font-size: medium; font-weight: bold;">URL</span>
                        </div>
                        <div class="col-sm-1">

                        </div>
                    </div>


                    <div class="row" ng-if="isEdit">
                        <div class="col-sm-12" ng-show="contextIsEmpty">
                            <div class="alert alert-warning" role="alert">No namespaces defined for this network. Click the Add button below to define a namespace</div>
                        </div>
                        <div class="col-sm-12" ng-show="!contextIsEmpty">
                            <div class="row" style="margin-bottom: 5px;" ng-repeat="(key, value) in context">
                                <div class="col-sm-3">
                                    <input name="{{key}}_tb" type="text" class="form-control" placeholder="Key" ng-model="key">
                                </div>
                                <div class="col-sm-8">
                                    <input name="{{key}}value_tb" type="text" class="form-control" placeholder="Key" ng-model="value">
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-link" style="padding-top:0px; padding-bottom: 0px;" ng-click="removeContext(key);"><i class="fa fa-times" style="color: #D9534F; margin-top: 10px;" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;" ng-if="isEdit">
                        <div class="col-sm-12">
                            <div class="row" style="margin-bottom: 5px;" ng-repeat="atc in addTheseContexts">
                                <div class="col-sm-3">
                                    <input name="{{atc.namespace}}_tb" type="text" class="form-control" placeholder="Namespace" ng-model="atc.namespace">
                                </div>
                                <div class="col-sm-8">
                                    <!--<input name="{{atc.url}}value_tb" type="url" class="form-control" placeholder="Url" ng-model="atc.url"
                                           pattern="^(https?://)?([a-zA-Z0-9]([a-zA-ZäöüÄÖÜ0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$" required>-->
                                    <input name="{{atc.url}}value_tb" type="text" class="form-control" placeholder="Url" ng-model="atc.url" required>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-link" style="padding-top:0px; padding-bottom: 0px;" ng-click="removeCustomContext($index);"><i class="fa fa-times" style="color: #D9534F; margin-top: 10px;" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="isEdit">
                        <div class="col-sm-2">

                            <button class="actionsLabel btn btn-primary ng-scope" ng-click="addContext()">
                                <i class="fa fa-plus" aria-hidden="true"></i> Add
                            </button>
                        </div>
                    </div>

                    <!------------- USER NOT LOGGED IN AND/OR DOES NOT HAVE EDIT PERMISSIONS ---------------->
                    <div class="row" ng-if="!isEdit">
                        <div class="col-sm-12">
                            <div class="row" style="margin-bottom: 5px;" ng-show="!contextIsEmpty">
                                <div class="col-sm-3">
                                    <span style="font-size: medium; font-weight: bold;">Namespace</span>
                                </div>
                                <div class="col-sm-9">
                                    <span style="font-size: medium; font-weight: bold;">URL</span>
                                </div>
                            </div>
                            <div class="row" ng-repeat="(key, value) in context">
                                <div class="col-sm-3">
                                    <div class="well well-sm"><span style="font-size: medium;">{{key}}</span></div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="well well-sm"><span style="font-size: medium;">{{value}}</span></div>
                                </div>
                            </div>
                            <div class="row" ng-show="contextIsEmpty">
                                <div class="col-sm-12">
                            <div class="alert alert-warning" role="alert">No namespaces defined for this network. </div><!--To learn more about @context click here-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class='text-danger' style='word-wrap:break-word'>
                <strong>
                    {{errors}}
                </strong>
            </div>

        </div>

        <div class="modal-footer">
            <button class="btn btn-default" type='button' ng-if="isEdit" ng-click='close()'>Cancel</button>
            <button class="btn btn-default" type='button' ng-if="!isEdit" ng-click='close()'>Close</button>
            <button class="btn btn-success" type='submit' ng-if="isEdit">Save</button>
        </div>

    </form>

</div>

</script>
