<div class ='row'>
	<div class='col-sm-offset-2 col-sm-8'>
		<p class="alert alert-danger" ng-repeat='error in editor.errors'>
			{{error}}
			<span class="glyphicon glyphicon-remove pull-right"
				style='cursor:pointer'
				ng-click='editor.errors.splice($index,1)'>	
			</span>
		</p>
	</div>
</div>

<div class='row'>
	<h4 ng-show='editor.isAdmin || editor.canEdit'>Custom Network Properties Editor</h4>
	<h4 ng-hide='editor.isAdmin || editor.canEdit'>Custom Network Properties</h4>
	<p ng-show='editor.isAdmin || editor.canEdit'>
		Borrow from the Open Biomedical Ontologies or any ontology. 
	</p>
	<hr>
</div>



<div class='row'>
	<div class='col-sm-9'>

		<h5><em ng-show='editor.isAdmin || editor.canEdit'>Editing </em>{{editor.networkName}}</h5>
		<p class='text-info' ng-show='editor.isAdmin || editor.canEdit'>Selected ontologies must be defined. However, they are not required. Select none if you do not wish to use an ontology.</p>
		<br>

		<div class='row'>
			<div class='col-sm-offset-1 col-sm-5'>
				<label>Predicate</label>
			</div>
			<div class='col-sm-5'>
				<label>Value</label>
			</div>
		</div>
		<form class="form-horizontal" role="form" ng-submit='editor.save()'>

		  <div class="form-group" ng-repeat='property in editor.propertyValuePairs'>
		    <div class="col-sm-offset-1 col-sm-5">
		    	<div class='input-group'>

					<input class="form-control input-sm"
						   ng-if="property.isReadOnlyLabel"
						   type="text"
						   placeholder="Label"
						   disabled
						   ng-model='property.predicateString'>


					<select ng-if="!property.isReadOnlyLabel" class="form-control input-sm"
							ng-options="item as item for item in namesForSolrIndexing"
							ng-model="property.predicateString"
							ng-change='editor.changed($index, property.predicateString, property)'
							ng-readonly='!(editor.isAdmin || editor.canEdit)'>
						<option style="display:none" value="">select a type</option>
					</select>

					<span class="input-group-addon" style="color: white; background-color: white; border: 1px solid white;" ng-show="property.predicateString != 'custom...'"> </span>

					<input class="form-control input-sm" ng-show="property.predicateString == 'custom...'"
					   type="text"
					   placeholder="Enter Custom Type..."
					   ng-model='property.predicateStringCustom'
					   ng-model="selected"
					   ng-change='editor.changed($index, property.predicateStringCustom, property)'
					   ng-readonly='!(editor.isAdmin || editor.canEdit)'>
					<span class="input-group-addon" style="color: white; background-color: white; border: 1px solid white;" ng-show="property.predicateString == 'custom...'"> </span>

				</div>

				<span class='text-danger'>
					<strong>{{property.labelError}}</strong>
				</span>

		    </div>

		    <div class="col-sm-5">
				<input class="form-control input-sm" placeholder="Value"
				  ng-model='property.value'
				  ng-readonly='!(editor.isAdmin || editor.canEdit) || !(property.predicateString)'>

				<!--
				<span class='text-danger'>
					<strong>{{property.valueError}}</strong>
				</span>
				-->

		    </div>
		    <div class='' ng-hide='$last || !(editor.isAdmin || editor.canEdit)'>
		    	<button type='button' class='btn btn-link'
						ng-click='editor.propertyValuePairs.splice($index,1); editor.changed($index, property.predicateString, property, "del")'>
		    		<span class="glyphicon glyphicon-remove text-muted"></span>
		    	</button>
		    </div>
		  </div>

		  <hr>
		  <div class="row" ng-show='editor.isAdmin || editor.canEdit'>
		  	<div class="pull-right">
		      <button type="button" class="btn btn-sm btn-danger" ng-click='editor.refresh()'>Discard Changes</button>
		      <button type="submit" class="btn btn-sm btn-success" ng-disabled='editor.disableSaveChangesButton'>Save Changes</button>
		    </div>
		  </div>

		</form>

	</div>
</div>



