<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });



</script>

<style>
    .center {
        padding-top: 2em;
        text-align: center;
    }
    .centerFeaturedCollection {
        text-align: center;
    }



    .slideImage {
        width: auto;
        max-height: 100%;
        float: left;
        margin-right: 20px;
    }

    .carousel-inner {
        background-color: white; //#C1E0FF;
        width: 90%;
        margin: auto;
    }

    .carousel-caption {
        font-size: 2em;
        right: 10%;
        left: 60%;
        top: 30%;
        bottom: 30%;
        text-align: left;
        text-shadow: none;
    }
    .carousel-indicators {
        font-size: 2em;
        bottom: -0.75em;
        text-align: center;
        text-shadow: none;
    }

    /* coor of carousel indicators/dots */
    .carousel-indicators li {
        background: #C1E0FF;
    }
    .carousel-indicators .active {
        background: #3576BE;
    }


    a.right.carousel-control {
        position: absolute !important;
        right: 1px;
        z-index: 2;
        margin-right: -2.5em;
    }
    a.left.carousel-control {
        position: absolute !important;
        left: 1px;
        z-index: 2;
        margin-left: -2em;
    }

    .carousel-control.left {
        opacity:1 !important;
        color: #3576BE;
        /*background-image: none;*/
    }
    .carousel-control.right {
        opacity:1 !important;
        color: #3576BE;
        /*background-image: none;*/
    }

    /* remove gradient grey from left and right of carousel */
    .carousel-control.left, .carousel-control.right {
        background-image: none
    }

    div.featuredCollectionDescriptionArea {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        /*border: 1px solid white;*/
        height: 80%;
    }
    p.mainArea {
        overflow-y: hidden;
        text-overflow: ellipsis;
        text-align: left;
        /*border: 1px solid white;*/
    }

    .logosStyle {
        width: auto;
        height: 100%;
        max-height: 75%;
        /*float: left;*/

        margin-right: 20px;
        margin-left: 20px;

        margin-top: 3em;
    }

    #logoContainer {
        /*background-color: #aaa;*/
        height: 8em;

        margin-left: 2em;
        margin-right: 2em;
        text-align: center;

        overflow: hidden;
    }

</style>

<div class="container" style="width:100%; max-width: 1800px; min-width: 1100px; margin-bottom: 2em">
    <div class="row" ng-show="!main.serverIsDown">

        <div ng-show="main.isSupportedBrowserUsed()">

            <div class='row' ng-show="!featuredContentDefined">
                <div class='login-page-shadow col-md-12' style="border: 1px solid #3576BE; border-radius: 20px; height: 150px" >

                    <div class='AlignLeft' style="width: 100%; margin: auto; padding-top: 1em;" ng-include="'home_search_bar.html'"></div>

                </div>
            </div>

            <div class='row' ng-show="featuredContentDefined">
                <div class='login-page-shadow col-7 col-xs-7 col-sm-7 col-md-7'
                     style="width: 55%; border: 1px solid #3576BE; border-radius: 20px; height: 150px;" >

                    <div class='AlignLeft' style="width: 100%; margin: auto; padding-top: 1em;" ng-include="'home_search_bar.html'"></div>

                </div>

                <div class='login-page-shadow col-5 col-xs-5 col-sm-5 col-md-5 pull-right'
                     style="width: 43%; border: 1px solid #3576BE; border-radius: 20px; margin: auto; padding-bottom: 2em; height: 150px;">

                    <div class='centerFeaturedCollection' style="color: #3576BE">
                        <h4>Featured Content</h4>
                    </div>

                    <!-- the code below is taken from https://angular-ui.github.io/bootstrap/ -->
                    <!-- https://www.jquery-az.com/bootstrap-carousel-5-single-multiple-horizontal-and-vertical-sliding-demos/ -->
                    <!-- https://www.jquery-az.com/boots/demo.php?ex=8.0_3 -->

                    <div uib-carousel active="active" interval="carouselInterval" nowrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" style='height: 90px;'>
                            <a ng-href="{{slide.link}}" ng-click="saveSlideId(slide.id)">
                                <img ng-src="{{slide.image}}" class="slideImage">
                                <div ng-bind-html="slide.text" class='featuredCollectionDescriptionArea'></div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class='row' style="margin-top: 2em">
                <div class='col-10 col-xs-10 col-sm-10 col-md-10' style="width: 73%; height:49em;" >

                    <div class='login-page-shadow row' style="border: 1px solid #3576BE; border-radius: 20px; height:35em;">

                        <div ng-repeat="item in mainContent">

                            <div class='{{mainContentClass}}'>
                                <!--<a ng-href="{{item.href}}" target="_blank"> -->
                                    <h3 style='color:#428bca;' ng-bind-html="item.title"></h3>
                                    <p ng-bind-html="item.content" style="height:23em;" class="mainArea"></p>
                                    <a ng-href="{{item.href}}" target="_blank"> more ...</a>
                                <!--</a>-->
                            </div>
                        </div>
                    </div>



                    <div class='login-page-shadow row' style="border: 1px solid #3576BE; border-radius: 20px; height:12em; margin-top:2em">

                        <div class="row" ng-show="!config.requireAuthentication && !main.serverIsDown">

                            <div id='logoContainer'>
                                <span ng-repeat="logo in logos">
                                    <a ng-href="{{logo.href}}" target="_blank">
                                        <img class="logosStyle"
                                             src="{{logo.image}}"
                                             data-toggle="tooltip"
                                             title="{{logo.title}}">
                                    </a>
                                </span>

                            </div>
                        </div>

                    </div>

                </div>


                <!-- Tweets -->
                <div class='login-page-shadow col-2 col-xs-2 col-sm-2 col-md-2 pull-right'
                     style="width: 25%; border: 1px solid #3576BE; border-radius: 20px; height: 49em">

                    <br>

                    <twitter-widget>
                        <a class="twitter-timeline" data-height="540" href="https://twitter.com/NDExProject"
                           data-widget-id="639213859547521024" data-twitter-extracted-i1478884078554431236="true"
                           data-chrome="noscrollbar nofooter">
                        </a>
                    </twitter-widget>

                </div>

            </div>

        </div>

    </div>
</div>


<script type="text/ng-template" id="quoteNDEx.html">
    <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title">NDEx Citation Information Ready for Pasting</h4>
        </div>

        <div class="modal-body">
            <div>
                <strong>The following citation information is available for pasting from clipboard:</strong>
                <br><br>
                <span ng-bind-html="NDEx.citation" id="ndexCitationId"/>
                <br><br>
                <strong>To paste it using keyboard use Ctrl-V, or using mouse Right-Click and select Paste</strong>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-default" ng-click="NDEx.closeModal()">Close</button>
        </div>

    </div>
</script>

<script type="text/ng-template" id="generic-info-modal.html">
    <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title">{{title}}</h4>
        </div>

        <div class="modal-body">
            {{message}}
        </div>

        <div class="modal-footer">
            <button class="btn btn-default" ng-click="close()">Close</button>
        </div>

    </div>
</script>

<script type="text/ng-template" id="home_search_bar.html">
    <div class="" style="background-color:white; color:black;">
        <form ng-show="!main.serverIsDown && (!config.requireAuthentication||main.loggedIn)"
              ng-submit="main.search()">

            <table class="table">

                <div class="input-group">

                    <tr>

                        <!-- #adff2f -->
                        <td bgcolor="white" width="15%;" style="border:hidden;">

                            <div class="row">
                                <button type="button" class="btn btn-sm btn-primary search-examples-button"
                                        ng-click="main.browse(); closeModal()">
                                    Browse
                                </button>
                            </div>

                            <div class="row">
                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle search-examples-button"
                                        data-toggle="dropdown">
                                    Featured Content
                                </button>
                            </div>

                            <div class="row">
                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle search-examples-button"
                                        data-toggle="dropdown">
                                    Examples <span class="caret"></span>
                                </button>


                                <ul class="dropdown-menu" role="menu">

                                    <li class="AlignLeft" style="padding-left: 5px;"
                                        ng-repeat="item in main.searchNetworksExamples">
                                        <a ng-click="main.runSearchExample(item); closeModal()">
                                            {{item.description}}
                                        </a>
                                    </li>

                                    <li class="AlignLeft" ng-show="config.searchDocLink">
                                        <a style="color:#428bca; background-color:white;"
                                           ng-click="redirectToExternalLink(config.searchDocLink); closeModal()">
                                            <u>{{config.searchDocLink.label}}</u>
                                        </a>
                                    </li>

                                </ul>
                            </div>

                        </td>

                        <!-- #87cefa -->
                        <td bgcolor="white" width="85%" style="border:hidden;">
                            <div class='row' style="margin-left: 1em; margin-right: 0">
                                <div class="input-group">

                                    <input type="text"
                                           class="form-control inputHeight"
                                           style="font-size:1.3em;"
                                           placeholder="{{main.getSearchPlaceholder()}}"
                                           ng-model="main.searchString"
                                           maxlength="{{maxSearchInputLength}}"
                                           ng-change="checkLengthOfSearchString()">

                                    <span class="input-group-btn">
                                        <button ng-disabled="!main.searchString" type="submit" ng-click="closeModal();"
                                                ng-class="main.searchString ? 'btn btn-primary inputHeight' : 'btn btn-default inputHeight'">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>

                            <div class='row' style="margin-left: 1em; margin-top: 1.5em">

                                <div ng-show='stringTooLongWarning' style="color:red; font-size:1.1em; font-weight:bold; margin-bottom: 1em"
                                     ng-bind-html="stringTooLongWarning">
                                </div>

                                <input type="checkbox"
                                       ng-hide="checkSearchTypeAndTermExpansion()"
                                       title="{{main.searchTitle}}"
                                       ng-model="main.searchTermExpansionSelected">

                                <span ng-style="searchTermExpansionEnabled ?
                                    {'color':'black', 'font-size':'1.1em'} : {'color':'red', 'font-size':'1.1em'}"

                                      title="Only applied when searching networks"
                                      ng-init="setToolTips()">&nbsp;
                                        <strong>{{main.searchTitle}}</strong>
                                     &nbsp;
                                    <i data-toggle="tooltip" data-placement="bottom"
                                       title="Only applied when searching networks"  ng-init="setToolTips()"
                                       class="fa fa-info-circle" style="color: #3576BE; cursor: pointer;"
                                              ng-if="searchTermExpansionEnabled">

                                    </i>
                                </span>


                            </div>
                        </td>
                    </tr>
                </div>

            </table>

        </form>
    </div>
</script>