<div class="container" style="width:100%; max-width: 1800px; min-width: 1100px; margin-bottom: 1em; margin-top: 5px">
    <div class="row" ng-show="!main.serverIsDown">

        <div ng-show="main.isSupportedBrowserUsed()">

            <div class='row' ng-show="!featuredContentDefined">
                <div class='login-page-shadow col-md-12' style="border: 1px solid #3576BE; border-radius: 20px; height: 150px" >

                    <div class='AlignLeft' style="width: 100%; margin: auto; padding-top: 8px" ng-include="'search_bar.html'"></div>

                </div>
            </div>

            <div class='row' ng-show="featuredContentDefined">
                <div class='login-page-shadow col-7 col-xs-7 col-sm-7 col-md-7'
                     style="width: 56%; border: 1px solid #3576BE; border-radius: 20px; height: 150px;" >

                    <div class='AlignLeft' style="width: 100%; margin: auto; padding-top: 8px" ng-include="'search_bar.html'"></div>

                </div>

                <div class='login-page-shadow col-5 col-xs-5 col-sm-5 col-md-5 pull-right'
                     style="width: 43%; border: 1px solid #3576BE; border-radius: 20px; padding-left: 2px; padding-right: 2px; height: 150px;">

                    <legend class='centerFeaturedCollection' style="color: #3576BE; border: none; margin-bottom: 7px; padding-top: 5px">Featured Content</legend>

                    <!-- the code below is taken from https://angular-ui.github.io/bootstrap/ -->
                    <!-- https://www.jquery-az.com/bootstrap-carousel-5-single-multiple-horizontal-and-vertical-sliding-demos/ -->
                    <!-- https://www.jquery-az.com/boots/demo.php?ex=8.0_3 -->

                    <div uib-carousel active="active" interval="carouselInterval" nowrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" style='height: 100px;'>
                            <a ng-href="{{slide.link}}" ng-click="saveSlideId(slide.id)">
                                <img ng-src="{{slide.image}}" class="slideImage">
                                <div ng-bind-html="slide.text" class='featuredCollectionDescriptionArea'></div>
                            </a>
                        </div>
                    </div>


                </div>
            </div>

            <div class='row' style="margin-top: 1em">
                <div class='col-10 col-xs-10 col-sm-10 col-md-10' style="width: 74%;" >

                    <div class='login-page-shadow row' style="border: 1px solid #3576BE; border-radius: 20px; height:432px;">

                        <div ng-repeat="item in mainContent">

                             <div class='{{mainContentClass}}' style="word-wrap: break-word">

                                 <div class="mainAreaLandingPage" style="height:32em;">
                                     <ng-include src="item.content"></ng-include>
                                 </div>
                                 <a ng-href="{{item.href}}" target="_blank"> more ...</a>

                            </div>

                        </div>

                    </div>

                    <div ng-show="logosDefined()"
                         class='login-page-shadow row' style="border: 1px solid #3576BE; border-radius: 20px; height:110px; margin-top:1em">

                        <div id='logoContainer'>
                            <slick ng-if="logosLoaded" init-onload="true"
                                   data="logosLoaded"
                                   settings="slickConfig"
                                   slides-to-show="8"
                                   slides-to-scroll="1"
                                   dots="false"
                                   variable-width="true"
                                   autoplay="true">

                                <div ng-repeat='logo in logos'>
                                    <a ng-href="{{logo.href}}" target="_blank">
                                        <img class="logosStyle"
                                             src="{{logo.image}}"
                                             data-toggle="tooltip"
                                             data-placement="right"
                                             title="{{logo.title}}">
                                    </a>
                                </div>
                            </slick>
                        </div>
                    </div>

                </div>


                <!-- Tweets -->
                <div class='login-page-shadow col-2 col-xs-2 col-sm-2 col-md-2 pull-right'
                     style="width: 25%; border: 1px solid #3576BE; border-radius: 20px; height: 556px">

                    <br>

                    <twitter-widget>
                        <a class="twitter-timeline" data-height="520" href="https://twitter.com/NDExProject"
                           data-widget-id="639213859547521024" data-twitter-extracted-i1478884078554431236="true"
                           data-chrome="noscrollbar nofooter">
                        </a>
                    </twitter-widget>

                </div>

            </div>

        </div>
    </div>
</div>

<script type="text/ng-template" id="generic-info-modal.html">
    <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title">{{title}}</h4>
        </div>

        <div class="modal-body">
            {{message}}
        </div>

        <div class="modal-footer">
            <button class="btn btn-default" ng-click="close()">Close</button>
        </div>

    </div>
</script>