<div class="row">

    <div style="margin-bottom: 1em" ng-show="networkController.errors.length > 0">
        <div class="alert alert-danger" style="margin-bottom: 1em; font-size: 1.2em; font-weight: bold" ng-repeat='error in networkController.errors' style='word-wrap:break-word'>
            {{error}}
            <span class="glyphicon glyphicon-remove pull-right"
                  style='cursor:pointer'
                  ng-click='networkController.errors.splice($index,1)'>
            </span>
        </div>
    </div>

    <div class="col-md-7">

        <div class="row">

            <div id="spinnerId"></div>

            <div class="cytoscapeCanvas" id="cytoscape-canvas"
                 ng-show="currentView == 'Graphic'">
            </div>

            <div id="messageOverlay"
                 ng-show="showNetworkSample()"
                 style='
                    float:bottom;
                    display: inline-block;
                    border-radius: 5px;
                    position: absolute;
                    top:5px;
                    right:4px;
                    font-size: 1.1em;
                    background-color: #FCCB29;
                    padding:0.3em 1em;
                    border-style: ridge;
                    border-width: 4px'>
                <span>
                    <strong>Sample: {{networkController.sampleSize}} edges</strong>
                </span>
            </div>

<!--
            <div id="switchCanvasToFullScreenId"
                 style='
                    display: inline-block;
                    position: absolute;
                    bottom: 50px;
                    right: 10px;
                    font-size: 1.1em;'
                 ng-show="fullScreen && currentView == 'Graphic'">

                <button type="button" class="actionsLabel btn btn-primary" ng-click="openInFullScreenMode('canvas')">
                    Full Screen
                </button>
            </div>
-->
            <tabset ng-show="currentView == 'Table'">
                <tab heading="Edges" ng-click="activateTab('Edges'); edgeGridApi.core.handleWindowResize()">
                    <div id="edgeGridId"
                         ui-grid="edgeGridOptions"
                         ui-grid-resize-columns
                         ui-grid-auto-resize>
                    </div>
                </tab>
                <tab heading="Nodes" ng-click="activateTab('Nodes'); nodeGridApi.core.handleWindowResize()">
                    <div id="nodeGridId"
                         ui-grid="nodeGridOptions"
                         ui-grid-resize-columns
                         ui-grid-auto-resize>
                    </div>
                </tab>
            </tabset>

            <div class="rowWithOneLineTopPad"></div>

            <div id="queryWarningsOrErrorsId" ng-show="networkController.queryWarnings.length > 0 || networkController.queryErrors.length"
                 style="position: absolute; bottom: 36px; word-wrap:break-word" class="rowWithOneLineBottomPad">
                <p class="alert alert-success" style="margin-bottom: 0; margin-right: -3px" ng-repeat='warning in networkController.queryWarnings'>
                    {{warning}}
                    <span class="glyphicon glyphicon-remove pull-right"
                          style='cursor:pointer;'
                          ng-click='networkController.queryWarnings.splice($index,1)'>
                            </span>
                </p>
                <p class="alert alert-danger" style="word-wrap:break-word; margin-bottom: 0; margin-right: -3px" ng-repeat='error in networkController.queryErrors'>
                    {{error}}
                    <span class="glyphicon glyphicon-remove pull-right"
                          style='cursor:pointer;'
                          ng-click='networkController.queryErrors.splice($index,1)'>
                    </span>
                </p>
            </div>
            <div ng-show="networkController.successfullyQueried" >
                <button type="button"
                        class="btn btn-primary"
                        ng-click="networkController.backToOriginalNetwork($event)">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Back To Original Network
                </button>

                <div  class="networkPropertyName pull-right">
                    Highlight Query Node:
                    <toggle size="btn-sm" ng-model="networkController.highlightNodes"
                       ng-change="networkController.toggleHighlight()"  on-class="btn-primary"></toggle>

                </div>
            </div>
            <div class="networkActionsSection"
                 ng-show="!networkController.successfullyQueried"
                 id="simpleQueryNetworkViewId">

                <form name="queryNetworkForm" id="frmSearchNetwork" class="form-inline pull-left">

                    <div class="form-group">

                        <span ng-show="networkController.hasMultipleSubNetworks() || disableQuery"
                             tooltip="{{disabledQueryTooltip}}" tooltip-placement="right">

                            <input class="form-control" type="search"
                                   placeholder="Query Terms" style="width:300px" disabled>
                        </span>


                        <input name="queryTermsInput" id="inputQueryStrId" class="form-control" type="search" ng-model="networkController.searchString"
                               placeholder="Query Terms (i.e., AKT1 or WNT*)" style="width:330px" required
                               title=""
                               ng-show="!networkController.hasMultipleSubNetworks() && !disableQuery">
                    </div>
                    <div class="form-group">
                        &nbsp;&nbsp;
                        <label>Type:</label>

                        <a data-toggle="tooltip"
                           ng-click="showQueriesExplanation()"
                           ng-init="setToolTips()"
                           tooltip="{{queryTypesTooltipText}}">
                                <i class="fa fa-info-circle"></i>
                        </a>
                        &nbsp;
                    </div>
                    <div class="form-group">
                        <select
                            class="form-control"
                            ng-model="selectedQuery"
                            ng-options="query.name for query in networkController.queryTypes"
                            ng-disabled="networkController.hasMultipleSubNetworks() || disableQuery"
                            required title="">
                        </select>
                    </div>

                    &nbsp;
                    <!-- If Run Query button is enabled, we show no tooltip.  If it is disabled, tooltip explains why. -->
                    <button ng-class="queryNetworkForm.queryTermsInput.$valid && !disableQuery && !networkController.hasMultipleSubNetworks()?
                                'btn btn-primary' : 'actionsLabelDisabledNoMargin-btn btn btn-primary'"
                            ng-click="networkController.checkQueryNetworkAndDisplay('neighborhood')"
                            tooltip="{{queryNetworkForm.queryTermsInput.$valid? '' : disabledQueryTooltip}}"
                            style="margin-bottom:0">Run Query
                    </button>
                    &nbsp;
                </form>

<!--
                <span class="pull-left" style="margin-top:0.5em"
                      ng-if="!networkController.hasMultipleSubNetworks() && !disableQuery">
                    <a ng-click="activateAdvancedQueryTab()">
                        <u><strong>Advanced Query</strong></u>
                    </a>
                </span>
-->
<!--
                <span id="disabledQueryId3"
                      class="pull-left" style="margin-top:0.5em"
                      ng-disable="true"
                      ng-mouseover="changeDisabledQueryTitle3()" title="">
                    <span  style="color:#999999; cursor:not-allowed">
                        <u><strong>Advanced Query</strong></u>
                    </span>
                </span>
-->
<!--
                <a class="pull-left" style="margin-top:0.5em; color:#999999; cursor: not-allowed">
                    Advanced Query
                    <img src="img/coming_soon.png">
                </a>
-->

            </div>
        </div>
    </div>


    <div class="col-md-5">

        <div id="divNetworkTabs" class="networkPropertiesTabset">
            <tabset>

                <tab active="networkController.tabs[0].active">
                    <tab-heading>{{ networkController.tabs[0].heading }}</tab-heading>

                    <div class="rowWithOneLineTopPad"></div>
                    <div class="rowWithOneLineTopPad"></div>

                    <div class="networkPropertyValueInTabsetMargins">

                        <div class="networkViewHeader rowWithOneLineBottomPad" id="networkViewHeaderId">
                            {{networkController.currentNetwork.name}}  <br/>
                        </div>

                        <div ng-if="networkController.currentNetwork.doi">
                            <span ng-if="isDOIPending()">
                                <button type="button"
                                    class="btn btn-primary btn-sm disabled"><strong>&nbsp;DOI:</strong> Pending &nbsp;
                                </button>

                                <span ng-if="showDeleteDOILink">
                                    <!-- if user is logged in and is owner of this network, then -->
                                    <!-- show the Delete DOI Request link  -->
                                    &nbsp;&nbsp;&nbsp;

                                    <a ng-click="networkController.deletePendingDOIRequest()"
                                       data-toggle="tooltip"
                                       data-placement="bottom"
                                       onmouseenter="$(this).tooltip('show')"
                                       style="text-decoration: underline; font-size: 0.9em;"
                                       title="Delete pending DOI Request for this network.">
                                        <i class="fa fa-times" aria-hidden="true"
                                           style="color: red; text-decoration: underline;"></i>
                                        Delete DOI Request
                                    </a>
                                </span>

                            </span>


                            <a ng-if="!isDOIPending()"
                               tooltip="{{copyNetworkDOITitle}}"
                               tooltip-placement="bottom"
                               ng-click="showCopiedDOITitle()"
                               ng-mouseover="showOriginalCopyDOITitle()"
                               ngclipboard
                               data-clipboard-text="http://doi.org/{{networkController.currentNetwork.doi}}"
                               class="actionsLabel btn btn-primary btn-sm">
                                    <strong>&nbsp;DOI:</strong> {{networkController.currentNetwork.doi}}&nbsp;
                            </a>

                            <br><br>
                        </div>

                        <span class="networkPropertyName">Nodes: </span>{{networkController.currentNetwork.nodeCount}}
                        &nbsp;&nbsp;
                        <span class="networkPropertyName">Edges: </span>{{networkController.currentNetwork.edgeCount}}
                        &nbsp;&nbsp;

                        <div ng-show = "networkController.successfullyQueried">
                            <span class="networkPropertyName" ng-show="networkController.currentNetwork.queryString">Query Terms: </span>{{networkController.currentNetwork.queryString}}
                            <br>
                            <span class="networkPropertyName">Query Depth: </span>
                            <span>{{networkController.currentNetwork.depth}}</span>

                            <span class="networkPropertyName" ng-show="networkController.currentNetwork.edgeFilter">Edge filter:
                                <br>
                                <span ng-repeat='edgeFilter in networkController.currentNetwork.edgeFilter.propertySpecifications'>
                                    &nbsp;&nbsp;&nbsp;{{edgeFilter.name}} : <span style="font-weight: normal">{{edgeFilter.value}}</span>
                                     <br>
                                </span>
                            </span>

                            <span class="networkPropertyName" ng-show="networkController.currentNetwork.nodeFilter">
                                <br>
                                Mode : <span style="font-weight: normal">{{networkController.currentNetwork.nodeFilter.mode}}</span>
                                <br><br>
                                Node filter:
                                <br>

                                <span ng-repeat='nodeFilter in networkController.currentNetwork.nodeFilter.propertySpecifications'>
                                    &nbsp;&nbsp;&nbsp;{{nodeFilter.name}} : <span style="font-weight: normal">{{nodeFilter.value}}</span>
                                     <br>
                                </span>
                            </span>

                        </div>

                        <div ng-show = "!networkController.successfullyQueried">
                            <span ng-show = "networkController.currentNetwork.externalId !== undefined">
                                <strong>{{networkController.currentNetwork.visibility}}</strong>
                                &nbsp;
                                <i class="fa fa-search" aria-hidden="true" ng-if="networkController.currentNetwork.indexLevel != 'NONE'"></i>
                            </span>
                            &nbsp;&nbsp;


                            <span class="networkPropertyName" ng-show="networkController.isAdmin">
                                <input type="checkbox"
                                    ng-model="networkController.readOnlyChecked"
                                    ng-change="readOnlyChanged()"
                                ng-disabled="networkController.currentNetwork.isReadOnly && networkController.currentNetwork.doi"> Read Only
                            </span>
                            <span class="networkPropertyName"
                                  ng-show="networkController.currentNetwork.externalId !== undefined && !networkController.isAdmin"
                                  tooltip="{{onlyNetworkOwnersCanUnsetReadOnlyTitle}}"
                                  tooltip-placement="bottom">
                                <input type="checkbox" disabled ng-model="networkController.readOnlyChecked"> Read Only
                            </span>
                            &nbsp;&nbsp;
                            <span ng-if="!networkController.currentNetwork.doi || networkController.currentNetwork.doi == 'Pending'">
                                <span ng-if="networkController.isNetworkOwner && (networkController.currentNetwork.visibility.toUpperCase() == 'PRIVATE')">
                                    <strong>Share URL: </strong>
                                    <span ng-style="networkController.networkShareURL ? {color:'#18AD31'} : {color:'black'}">
                                        {{networkController.networkShareURL ? 'Enabled' : 'Disabled'}}
                                    </span>

                                    <a ng-hide="!networkController.networkShareURL"
                                       tooltip="{{copyNetworkShareURLTitle}}"
                                       tooltip-placement="bottom"
                                       ng-click="showCopiedNetworkShareURLTitle()"
                                       ng-mouseover="showOriginalCopyNetworkShareURLTitle()"
                                       ngclipboard
                                       data-clipboard-text="{{networkController.networkShareURL}}"
                                       class="actionsLabel btn btn-primary btn-xs copy-url-button">Copy URL
                                    </a>

                                </span>

                                <span ng-if="networkController.currentNetwork.visibility.toUpperCase() == 'PUBLIC'">

                                    <a ng-hide="networkController.currentNetwork.doi && networkController.currentNetwork.doi != 'Pending'"
                                       tooltip="{{copyNetworkShareURLTitle}}"
                                       tooltip-placement="bottom"
                                       ng-click="showCopiedNetworkShareURLTitle()"
                                       ng-mouseover="showOriginalCopyNetworkShareURLTitle()"
                                       ngclipboard
                                       data-clipboard-text="{{networkController.networkURL}}"
                                       class="actionsLabel btn btn-primary btn-xs">Copy URL
                                    </a>


                                </span>
                            </span>


                            <br />
                            <!--======================================-->
                            <!--=============  CONTEXT  ==============-->
                            <!--======================================-->
                            <span ng-show="networkController.isLoggedInUser && networkController.isAdmin
                                && !networkController.currentNetwork.doi && !isNetworkCertified()
                                && !networkController.hasMultipleSubNetworks() && !networkController.readOnlyChecked">
                                <span style="font-weight: bold;">@context: </span>
                                <a ng-click="networkController.showContextModal(true);"
                                   tooltip-placement="bottom"
                                   tooltip="Click here to view/edit the namespaces associated with this network">
                                    view/edit namespaces
                                </a>
                            </span>
                            <span ng-show="!networkController.isLoggedInUser || !networkController.isAdmin
                                || networkController.currentNetwork.doi || isNetworkCertified() || networkController.hasMultipleSubNetworks()
                                || networkController.readOnlyChecked">
                                <span style="font-weight: bold;">@context: </span>
                                <a ng-click="networkController.showContextModal(false);"
                                   tooltip-placement="bottom"
                                   tooltip="Click here to view the namespaces associated with this network">
                                    view namespaces
                                </a>
                            </span>

                            <span ng-show="networkController.currentNetwork.externalId !== undefined">
                                <br /><br />

                                <span ng-hide="hideNetworkOwner()">
                                    <span class="networkPropertyName"  >Owner: </span>
                                    <a ng-href="#/user/{{networkController.networkOwner.ownerUUID}}">
                                        {{networkController.networkOwner.firstName}}
                                        {{networkController.networkOwner.lastName}}
                                    </a>
                                    <br/>
                                </span>

                                <span class="networkPropertyName" >Created: </span>
                                {{networkController.currentNetwork.creationTime | date: 'medium'}} <br/>

                                <span ng-show="(networkController.currentNetwork.creationTime) !=
                                               (networkController.currentNetwork.modificationTime)">
                                    <span class="networkPropertyName">Last Modified: </span>
                                    {{networkController.currentNetwork.modificationTime | date: 'medium'}} <br/>
                                </span>

                            </span>

                            <span class="networkPropertyName" ng-show="networkController.currentNetwork.externalId !== undefined">UUID: </span>
                            {{networkController.currentNetwork.externalId}}<br/>

                            <span class="networkPropertyName">Format: </span>
                            {{networkController.currentNetwork.sourceFormat}}<br/>

                            <span ng-show="networkController.isLoggedInUser && networkController.currentNetwork.externalId !== undefined">
                                <span class="networkPropertyName">Your Privileges: </span>
                                {{networkController.privilegeLevel}}<br/>
                            </span>


                            <span ng-show="networkController.hasMultipleSubNetworks()" style="color:red">
                                <span class="networkPropertyName">Warning: </span>
                                This network is part of a Cytoscape collection and cannot be operated on or edited in NDEx<br/>
                            </span>

                            <div class='wrapLongLine rowWithOneLineTopPad'
                                 ng-show="networkController.currentNetwork.description"
                                 style="margin-right: 1px;">
                                <span class="networkPropertyName">Description: </span>
                                <span ng-bind-html="networkController.currentNetwork.description"></span>
                            </div>

                            <span ng-show="networkController.currentNetwork.rightsHolder">
                                <br/>
                                <span class="networkPropertyName">Rights Holder: </span>
                                <span ng-bind-html="networkController.currentNetwork.rightsHolder"></span>
                            </span>

                            <span ng-show="networkController.currentNetwork.rights">
                                <br/>
                                <span class="networkPropertyName">Rights: </span>
                                <span ng-bind-html="networkController.currentNetwork.rights"></span>
                            </span>


                            <div class='wrapLongLine rowWithOneLineTopPad'
                                 ng-show="networkController.currentNetwork.reference"
                                 style="margin-right: 1px;">
                                <div class="networkPropertyName">Reference: </div>
                                <div ng-bind-html="networkController.currentNetwork.reference"></div>
                            </div>

                            <div class='rowWithOneLineTopPad' ng-show='networkController.currentNetwork.version'>
                                <span class="networkPropertyName">Version: </span>
                                {{networkController.currentNetwork.version}}
                            </div>

                            <div class='rowWithOneLineTopPad' ng-if="networkController.otherProperties.length > 0">
                                <span class="networkPropertyName">Properties:</span>

                                <div class="networkPropertiesNameMargins">

                                        <span class='' ng-repeat='property in networkController.otherProperties'>
                                            <span>
                                               <span class="networkPropertiesNameFont"
                                                     ng-bind-html="property.predicateString">
                                               </span>
                                                <!--
                                               <span class="networkPropertiesValueFont"
                                                     ng-hide='property.value.toString().length > 40'
                                                     ng-bind-html="property.value.toString()">
                                               </span>
                                               -->
                                               <span class="networkPropertiesValueFont"
                                                     ng-show='property.value'
                                                     ng-bind-html="property.value">
                                               </span>
                                               <br/>
                                            </span>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </tab>

                <!-- node/edge tab -->
                <tab id='nodesEdgesTabId' class='{{isEdgesAndNodesTabDisabled()}}'
                     active="networkController.tabs[1].active"
                     tooltip="{{nodesAndEdgesTabTitle}}"
                     ng-click="handleNodesAndEdgesTabClick()"
                     ng-mouseenter="setToolTipOnNodesAndEdgesTab()"
                     ng-init="setToolTips()"
                     tooltip-placement="bottom">
                    <tab-heading>{{ networkController.tabs[1].heading }}</tab-heading>

                    <div>

                        <table style="width:100%">
                            <tr ng-if="networkController.selectionContainer.nodes.length > 0">
                                <td>Selected Nodes: {{networkController.selectionContainer.nodes.length}}</td>
                            </tr>

                            <tr ng-repeat-start="node in networkController.selectionContainer.nodes">
                                <td class="wrappedCell">
                                    <button ng-if="node.$$expanded" ng-click="node.$$expanded = false"
                                            ng-disabled="getNodeAttributesNames(node).length == 0">-</button>
                                    <button ng-if="!node.$$expanded" ng-click="node.$$expanded = true"
                                            ng-disabled="getNodeAttributesNames(node).length == 0">+</button>

                                    &nbsp;{{getNodeName(node)}}
                                </td>
                            </tr>
                            <tr ng-if="node.$$expanded && getNodeAttributesNames(node).length > 0" ng-repeat-end="">
                                <td class="wrappedCell">
                                    <table class="borderless"  style="width:100%;">
                                        <colgroup>
                                            <col span="1" style="width:23%;"/>
                                            <col span="1" style="width:77%;"/>
                                        </colgroup>
                                        <thead>
                                        <tr style="background-color: #D2F2FF;">
                                        <th >Attribute
                                            <button style="border: none; background: none;float: right" ng-switch="networkController.attrListSortingAsc"
                                                    ng-click="networkController.attrListSortingAsc=!networkController.attrListSortingAsc">
                                                <i ng-switch-when="true"  class="fa fa-arrow-circle-o-up" style="color:blue" aria-hidden="true"></i>
                                                <i ng-switch-when="false"  class="fa fa-arrow-circle-o-down" style="color:blue" aria-hidden="true"></i>
                                            </button>
                                        </th>
                                        <th sytle="vertical-align: center;">Value</th>
                                        </tr>
                                        </thead>
                                        <tbody class="propInspectorTBody">

                                   <tr ng-repeat="attributeName in getNodeAttributesNames(node)" ng-switch="attributeName">
                                            <td  ng-switch-when="id" class="inspectorReservedAttrName">
                                                Node Id
                                            </td>
                                            <td  ng-switch-when="n" class="inspectorReservedAttrName">
                                              Name
                                            </td>
                                       <td  ng-switch-when="r" class="inspectorReservedAttrName">
                                           Represents
                                       </td>

                                       <td style="font-weight:bold" ng-switch-default>
                                                {{attributeName}}
                                            </td>
                                            <td compile='getAttributeValue(attributeName, node[attributeName])'>
                                             <!--   <span ng-show="howManyAttributes(node[attributeName]) > 5">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <a ng-click="networkController.showMoreAttributes(attributeName, node[attributeName])">
                                                        more...
                                                    </a>
                                                    <br>
                                                </span> -->
                                            </td>
                                    </tr >
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr ng-if="networkController.selectionContainer.edges.length > 0">
                                <td>Selected Edges: {{ networkController.selectionContainer.edges.length}}</td>
                            </tr>
                            <tr ng-repeat-start="edge in networkController.selectionContainer.edges">
                                <td class="wrappedCell">
                                    <button ng-if="edge.$$expanded" ng-click="edge.$$expanded = false"
                                            ng-disabled="getEdgeAttributesNames(edge).length == 0">-</button>
                                    <button ng-if="!edge.$$expanded" ng-click="edge.$$expanded = true"
                                            ng-disabled="getEdgeAttributesNames(edge).length == 0">+</button>

                                    &nbsp;{{getEdgeLabel(edge)}}
                                </td>
                            </tr>
                            <tr ng-if="edge.$$expanded && getEdgeAttributesNames(edge).length > 0" ng-repeat-end="">
                                <td class="wrappedCell">

                                    <span ng-repeat="attributeName in getEdgeAttributesNames(edge)">
                                        &nbsp;&nbsp;&nbsp;  <strong>{{attributeName}}:</strong>
                                        <span ng-bind-html='getAttributeValue(attributeName, edge[attributeName])'></span>


                                        <span ng-show="howManyAttributes(edge[attributeName]) > 5">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a ng-click="networkController.showMoreAttributes(attributeName, edge[attributeName])">
                                                more...
                                            </a>
                                            <br>
                                        </span>
                                        <br />

                                    </span>

                                </td>
                            </tr>
                        </table>
                    </div>

                </tab>

                <!--
                <tab active="networkController.tabs[3].active" ng-hide="networkController.tabs[3].hidden">

                    <tab-heading>
                        {{ networkController.tabs[3].heading }}

                        <a ng-click="networkController.backToOriginalNetwork($event); networkController.resetForm();">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </tab-heading>

                    <div class="rowWithOneLineTopPad"></div>
                    <div class="rowWithOneLineTopPad"></div>

                    <div class="networkPropertyValueInTabsetMargins">

                        <div class="networkViewHeader rowWithOneLineBottomPad">
                            {{networkController.currentNetwork.name}}  <br/>
                        </div>

                        <span class="networkPropertyName">Nodes: </span>{{networkController.currentNetwork.nodeCount}}
                        &nbsp;&nbsp;
                        <span class="networkPropertyName">Edges: </span>{{networkController.currentNetwork.edgeCount}}
                        &nbsp;&nbsp;
                    </div>

                    <div class="rowWithOneLineTopPad"></div>
                    <div class="rowWithOneLineTopPad"></div>

                    <div>

                        <form novalidate style="padding-left:15px">
                            Find a subnetwork with edges that,<br>
                            (1) have one or more of these properties:<br>

                            <div class="row">
                                <div ng-repeat="property in networkController.advancedQueryEdgeProperties">
                                    <div class="col-sm-5" style="padding-right: 5px">
                                        <select class="form-control input-sm" ng-model="property.name" ng-change="networkController.validateAdvancedQuery()">
                                            <option value="">[Select Edge Property Name]</option>
                                            <option disabled role="separator">━━━━━━━━━━━━━━━</option>
                                            <option value="ndex:interaction">interaction</option>
                                            <option disabled role="separator">━━━━━━━━━━━━━━━</option>
                                            <option ng-repeat="edgeProperty in networkController.edgePropertyNamesForAdvancedQuery"
                                                    value="{{edgeProperty}}">{{edgeProperty}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-sm-5" style="padding-left: 5px; padding-right: 5px">
                                        <input class="form-control input-sm"
                                               ng-model="property.value"
                                               ng-change="networkController.validateAdvancedQuery()"
                                               placeholder="Value">
                                    </div>

                                    <div class="col-sm-1" style="padding-left: 5px">
                                        <button type="button" ng-click="networkController.removeQueryEdgeProperty($index)"
                                                ng-hide="networkController.advancedQueryEdgeProperties.length == 1"
                                                class="btn btn-default btn-sm vcenter"
                                                tabindex="-1">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <button type="button"
                                    ng-click="networkController.addQueryEdgeProperty()"
                                    class="btn btn-default btn-sm"
                                    ng-show="networkController.advancedEdgeQueryIsValid()"
                                    tabindex="-1">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <br />

                            (2) and which have
                            <span class="dropdown">
                                <a href class="dropdown-toggle" data-toggle="dropdown">
                                    {{networkController.advancedQueryNodeCriteria}} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href class="dropdown-toggle" ng-click="networkController.advancedQueryNodeCriteria='Source'">Source</a></li>
                                    <li><a href class="dropdown-toggle" ng-click="networkController.advancedQueryNodeCriteria='Target'">Target</a></li>
                                    <li><a href class="dropdown-toggle" ng-click="networkController.advancedQueryNodeCriteria='Both'">Both source and target</a></li>
                                    <li><a href class="dropdown-toggle" ng-click="networkController.advancedQueryNodeCriteria='Either'">Either source or target</a></li>
                                </ul>
                            </span>
                            nodes<br>
                            (3) with one or more of these properties.
                            <div ng-repeat="property in networkController.advancedQueryNodeProperties">
                                <div class="row">
                                    <div class="col-sm-5" style="padding-right: 5px">
                                        <select class="form-control input-sm" ng-model="property.name" ng-change="networkController.validateAdvancedQuery()">
                                            <option value="">[Select Node Property Name]</option>
                                            <option disabled role="separator">━━━━━━━━━━━━━━━</option>
                                            <option value="ndex:name">name</option>

                                            <option value="ndex:nameOrTermName">nameOrTermName</option>
                                            <option value="ndex:functionTermType">functionTermType</option>
                                            -->
<!--
                                            <option disabled role="separator">━━━━━━━━━━━━━━━</option>
                                            <option ng-repeat="nodeProperty in networkController.nodePropertyNamesForAdvancedQuery"
                                                    value="{{nodeProperty}}">{{nodeProperty}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-sm-5" style="padding-left: 5px; padding-right: 5px">
                                        <input class="form-control input-sm"
                                               ng-model="property.value"
                                               ng-change="networkController.validateAdvancedQuery()"
                                               placeholder="Value">
                                    </div>

                                    <div class="col-sm-1" style="padding-left: 5px">
                                        <button type="button"
                                                ng-click="networkController.removeQueryNodeProperty($index)"
                                                ng-hide="networkController.advancedQueryNodeProperties.length == 1"
                                                class="btn btn-default btn-sm"
                                                tabindex="-1">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <button type="button"
                                    ng-click="networkController.addQueryNodeProperty()"
                                    class="btn btn-default btn-sm"
                                    ng-show="networkController.advancedNodeQueryIsValid()"
                                    tabindex="-1">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>

                            <div class="container; rowWithTwoLinesTopPad">

                                <button ng-disabled="!networkController.advancedQueryIsValid"
                                        ng-click="networkController.checkQueryNetworkAndDisplay('advanced')"
                                        class="actionsLabel btn btn-primary btn-default">Run Query
                                </button>

                                <button type="button"
                                        class="actionsLabel btn btn-primary btn-default"
                                        ng-click="networkController.resetForm(); networkController.resetAdvancedQuery()">Reset Query
                                </button>

                            </div>

                        </form>
                    </div>


                </tab>
-->

            </tabset>

        </div>

        <div class="rowWithOneLineTopPad"></div>

        <div class="networkActionsSection pull-right"
             ng-show="networkController.successfullyQueried &&
                     ((networkController.currentNetwork.edgeCount > 0) || (networkController.currentNetwork.nodeCount > 0))">

<!--
            <button ng-show="fullScreen"
                    type="button" class="actionsLabel btn btn-primary"
                    ng-click="openInFullScreenMode('page')">
                Full Screen
            </button>
-->
            <span>
                <img class="{{getCytoscapeButtonClass()}}"
                     tooltip="{{openInCytoscapeTitle}}"
                     ng-click="networkToCytoscape()"
                     style="height: 32px;" src="images/cytoscape_logo.png">
            </span>

            <button id="converNiceCXtoTSVId" type="button" class="actionsLabel btn btn-primary"
                    data-toggle="tooltip" title="Download Result in tab-delimited text format (TSV)"
                    ng-click="saveAsTSV()"
                    style="margin-right: 5px;"> Download Result
            </button>

            <button type="button"
                    ng-class="switchViewButtonEnabled ? 'actionsLabel btn btn-primary' : 'actionsLabelDisabled-btn btn btn-primary'"
                    data-toggle="tooltip"
                    title="Switch to Table View"
                    ng-click="switchView()"
                    ng-show="!networkController.hasMultipleSubNetworks() && currentView=='Graphic'">
                {{buttonLabel}}
            </button>

            <button type="button"
                    ng-class="switchViewButtonEnabled ? 'actionsLabel btn btn-primary' : 'actionsLabelDisabled-btn btn btn-primary'"
                    tooltip="{{switchToGraphViewButtonTitle}}"
                    ng-click="switchView()"
                    ng-show="!networkController.hasMultipleSubNetworks() && currentView=='Table'">
                {{buttonLabel}}
            </button>

            <button ng-show="showSetSampleButton"
                    tooltip="{{setSampleButtonToolTip}}"
                    ng-init="setToolTips()"
                    ng-class="showSetSampleButtonEnabled ? 'actionsLabel btn btn-primary' : 'actionsLabelDisabled-btn btn btn-primary'"
                    ng-click="networkController.setSampleFromQuery()" >
                Set Sample
            </button>

            <button id="saveQueryButton"
                    ng-show="networkController.isLoggedInUser" class="actionsLabel btn btn-primary"
                    data-toggle="tooltip"
                    title="Save query result to your account"
                    ng-click="networkController.saveQueryResult()" >
                Save Result
            </button>

        </div>

        <div class="networkActionsSection pull-right" ng-show="!networkController.successfullyQueried || networkController.accesskey">
<!--
            <button ng-show="fullScreen"
                    type="button" class="actionsLabel btn btn-primary" ng-click="openInFullScreenMode('page')">
                Full Screen
            </button>
-->
            <span>
                <img class="{{getCytoscapeButtonClass()}}"
                     tooltip="{{openInCytoscapeTitle}}"
                     ng-click="networkToCytoscape()"
                     style="height: 32px;" src="images/cytoscape_logo.png">
            </span>

            <span ng-show='((networkController.currentNetwork.visibility == "PUBLIC")
                    || networkController.isAdmin
                    || networkController.canEdit
                    || networkController.canRead) || networkController.accesskey'
                  ng-click="downloadNetwork()"
                  style="cursor:pointer;">

                      <button type="button" class="btn btn-primary download-btn"
                              data-toggle="tooltip" title="Download this network in CX format">

                        <i class="fa fa-download fa-lg"
                           aria-hidden="true" style="vertical-align: middle; margin-bottom: -4px" >
                        </i>
                      </button>
            </span>


            <!--
            <span ng-show='showSetSampleButton'>
                <a class="actionsLabel btn btn-primary"
                   data-toggle="tooltip" title="Set Sample by uploading a CX File"
                   ng-click="networkController.setSample()">
                        Set Sample
                </a>
            </span>
            -->


            <span ng-show='networkController.isLoggedInUser && networkController.currentNetwork.externalId !== undefined'>
                <a class="actionsLabel btn btn-primary"
                   data-toggle="tooltip" title="Clone this network and save a copy to your account"
                   ng-click="networkController.cloneNetwork()">
                        <i class="fa fa-clone"></i>
                </a>
            </span>


            <span>
                <button type="button"
                        ng-class="switchViewButtonEnabled ? 'actionsLabel btn btn-primary' : 'actionsLabelDisabled-btn btn btn-primary'"
                        data-toggle="tooltip"
                        title="Switch to Table View"
                        ng-click="switchView()"
                        ng-show="!networkController.hasMultipleSubNetworks() && currentView=='Graphic'">
                    {{buttonLabel}}
                </button>

                <button type="button"
                        ng-class="switchViewButtonEnabled ? 'actionsLabel btn btn-primary' : 'actionsLabelDisabled-btn btn btn-primary'"
                        data-toggle="tooltip"
                        title="Switch to Graphic View"
                        ng-click="switchView()"
                        ng-show="!networkController.hasMultipleSubNetworks() && currentView=='Table'">
                    {{buttonLabel}}
                </button>

                <a class="actionsLabelDisabled-btn btn btn-primary"
                   ng-show="networkController.hasMultipleSubNetworks()"
                   data-toggle="tooltip"
                   title="This network is part of a Cytoscape collection and cannot be operated on or edited in NDEx.">
                        {{buttonLabel}}
                </a>
            </span>


            <span ng-show='networkController.isLoggedInUser && !networkController.isAdmin'
                class="actionsLabelDisabled-btn btn btn-primary" tooltip="{{shareTitle}}">
                Share
            </span>
            <span ng-show='networkController.isLoggedInUser && networkController.isAdmin'>
                <a class="actionsLabel btn btn-primary"
                   tooltip="{{shareTitle}}"
                   ng-href="{{'#/access/network/'+networkController.currentNetwork.externalId}}">
                    Share
                </a>
            </span>


            <span ng-show='networkController.isLoggedInUser'>
                <span ng-if="(networkController.currentNetwork.doi == null) || isNetworkCertified()">
                    <a class="actionsLabel btn btn-primary"
                       ng-if="(networkController.isAdmin || networkController.canEdit) && !networkController.readOnlyChecked
                                    && !networkController.hasMultipleSubNetworks()"
                       tooltip="{{editPropertiesButtonTitle}}"
                       ng-href="{{'#/properties/network/'+networkController.currentNetwork.externalId+'/'+networkController.subNetworkId}}">
                        Edit

                    </a>
                    <a class="actionsLabelDisabled-btn btn btn-primary"
                       ng-if="!(networkController.isAdmin || networkController.canEdit) ||
                       networkController.hasMultipleSubNetworks() || networkController.readOnlyChecked"
                       tooltip="{{editPropertiesButtonTitle}}">
                        Edit
                    </a>
                </span>


                <span ng-if="networkController.isAdmin && (isDOIPending() || isDOIAssigned()) && !isNetworkCertified() ">

                    <reference-for-certification
                        network-controller='networkController'
                        my-class="actionsLabel btn btn-primary" >
                    </reference-for-certification>

                </span>

            </span>


            <span ng-show='networkController.isLoggedInUser && networkController.currentNetwork.externalId !== undefined'>

                <div class="btn-group dropup">

                   <button id="moreNetworkButton" type="button" data-toggle="dropdown"
                           class="actionsLabel btn btn-primary dropdown-toggle">
                       More
                       <span class="caret"></span>
                   </button>

                    <ul class="dropdown-menu pull-right" role="menu"  aria-labelledby="moreNetworkButton" >


                        <li class="elementOfDropDownOnNetworkPage disabled"  ng-if="!isRequestingDOIEnabled()">
                            <a class="disabledElementOfDropDownOnNetworkPage"
                                tooltip="{{requestDOITitle}}">Request DOI</a>
                        </li>
                        <li class="elementOfDropDownOnNetworkPage" ng-if="isRequestingDOIEnabled()">
                            <request-doi network-controller='networkController'</request-doi>
                        </li>

                        <li class="elementOfDropDownOnNetworkPage disabled"
                            ng-if='networkController.hasMultipleSubNetworks()'>
                            <a class="disabledElementOfDropDownOnNetworkPage"
                                tooltip="{{exportTitle}}">Export
                            </a>
                        </li>
                        <li class="elementOfDropDownOnNetworkPage" ng-if='!networkController.hasMultipleSubNetworks()'>
                            <export-network ndex-data='networkController.currentNetwork'></export-network>
                        </li>

                        <li class="elementOfDropDownOnNetworkPage">
                            <show-network-sets-modal
                                my-account-controller='networkController'
                                my-class="dropdown-btn">
                            </show-network-sets-modal>
                        </li>

                        <li class="elementOfDropDownOnNetworkPage disabled"
                            ng-if="!enableSetSampleViaUUID">
                                <a class="disabledElementOfDropDownOnNetworkPage"
                                    tooltip="{{setNetworkSampleViaUUIDTitle}}">Set Network Sample
                                </a>
                         </li>
                        <li class="elementOfDropDownOnNetworkPage" ng-if="enableSetSampleViaUUID">
                            <set-network-sample-via-uuid
                                controller-name='networkController'
                                my-class="dropdown-btn">
                            </set-network-sample-via-uuid>
                        </li>

                        <li class="elementOfDropDownOnNetworkPage disabled"
                            ng-if='!isUpgradingPermissionsEnabled()'>
                                <a class="disabledElementOfDropDownOnNetworkPage"
                                    tooltip="{{upgradePermissionTitle}}">Upgrade Permission
                                </a>
                        </li>
                        <li class="elementOfDropDownOnNetworkPage" ng-if='isUpgradingPermissionsEnabled()'>
                            <create-request-network
                                privileges='networkController.privilegeLevel'
                                ndex-data='networkController.currentNetwork'
                                my-class="dropdown-btn">
                            </create-request-network>
                        </li>



                         <li class="elementOfDropDownOnNetworkPage disabled"
                             ng-if="!enableRemoveFromMyAccount">
                                <a class="disabledElementOfDropDownOnNetworkPage"
                                   tooltip="{{removeFromMyAccountTitle}}">Remove from My Networks
                                </a>
                        </li>
                        <li class="elementOfDropDownOnNetworkPage" ng-if="enableRemoveFromMyAccount">
                            <remove-from-my-networks
                                controller-name='networkController'
                                my-class="dropdown-btn">
                            </remove-from-my-networks>
                        </li>


                        <li class="elementOfDropDownOnNetworkPage disabled"
                            ng-if='!isDeleteNetworkEnabled()'>
                            <a class="disabledElementOfDropDownOnNetworkPage"
                                tooltip="{{deleteTitle}}">Delete
                            </a>
                        </li>
                        <li class="elementOfDropDownOnNetworkPage" ng-if='isDeleteNetworkEnabled()'>
                            <delete-network
                                ndex-data='networkController.currentNetwork.externalId'
                                my-class="dropdown-btn">
                            </delete-network>

                        </li>
                    </ul>

                </div>


            </span>

            <span ng-show='!networkController.isLoggedInUser'>
                <a class="actionsLabel btn btn-primary" ng-click="main.showSignInSignUpOptions()"
                   data-toggle="tooltip" title="Log in to operate on this network">
                    Log in
                </a>
            </span>

        </div>
    </div>
</div>


<script type="text/ng-template" id="citations.html">
    <form>
        <div>
            <div class="modal-header">
                <h3>Citations</h3>
            </div>
            <div class="modal-body" style="max-height:520px; overflow:auto">
                <span ng-repeat="citation in citations">
                    <dl class="dl-horizontal">
                        <!--
                        <dt>Citation ID</dt>
                        <dd>{{citation.id}}</dd>
                        -->
                        <dt ng-show="citation.title">
                            Title
                        </dt>
                        <dd ng-show="citation.title">
                            {{citation.title}}
                        </dd>

                        <dt ng-show="citation.description">
                            Description
                        </dt>
                        <dd ng-show="citation.description">
                            {{citation.description}}
                        </dd>

                        <dt ng-show="citation.type">
                            Type
                        </dt>
                        <dd ng-show="citation.type">
                            {{citation.type}}
                        </dd>

                        <dt ng-show="citation.identifier">
                            Identifier
                        </dt>
                        <dd ng-show="citation.identifier">
                            {{citation.identifier}}
                        </dd>

                        <dt ng-show="citation.contributor">
                            Contributor
                        </dt>
                        <dd ng-show="citation.contributor">
                            {{citation.contributor}}
                        </dd>

                        <dt ng-show="citation.attributes">
                            Attributes
                        </dt>
                        <dd ng-show="citation.attributes">
                            {{citation.attributes}}
                        </dd>

                        <dt ng-show="citation.link">
                            Link
                        </dt>
                        <dd ng-show="citation.link">
                            <a ng-href="{{citation.link}}" target="_blank">{{citation.link}}</a>
                        </dd>
                    </dl>
                </span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-enter="ok()" ng-click="ok()">OK</button>
            </div>
        </div>
    </form>

</script>