<div class="modal-content">

	<div class="modal-header">
		<h5 class="modal-title"><strong><span ng-bind-html="title"></span></strong></h5>
	</div>


	<div class="modal-body wrapLongLine">

		<div class="wrapLongLine" ng-if="message">
			<span ng-bind-html='message'></span>
			<br><br>
		</div>

		<div>
			<strong>Response Message</strong>
			<textarea class='form-control' rows='3' ng-model='responseMessage'></textarea>
		</div>

		<div ng-if="progress">
			<br>
			<strong><span style="color: green; font-size: 1.1em" ng-bind-html="progress"></span></strong>
		</div>

		<div ng-if="progress2">
			<strong><span style="color: green; font-size: 1.1em" ng-bind-html="progress2"></span></strong>
		</div>

		<div ng-if="error" class='text-danger'>
			<br>
			<strong>{{errors}}</strong>
		</div>
	</div>


	<div class='modal-footer'>
		<button class='btn btn-default' ng-click='cancel()'>Cancel</button>

		<button ng-class='isProcessing ? "btn btn-danger disabled" : "btn btn-danger"'
				ng-click='decline(); isProcessing=true'>
			Decline
		</button>

		<button ng-class='isProcessing ? "btn btn-primary disabled" : "btn btn-primary"'
				ng-click='accept(); isProcessing=true'>
			Accept
		</button>
	</div>

</div>