<span class="row" ng-show="searcher.networkErrors.length > 0">
    <span class="col-md-12">
        <p class="alert alert-success" style='word-wrap:break-word; margin-bottom: 0;' ng-repeat='error in searcher.networkErrors'>
            {{error}}
          <span class="glyphicon glyphicon-remove pull-right"
                style='cursor:pointer'
                ng-click='searcher.networkErrors.splice($index,1)'>
          </span>
        </p>
        <p class="alert alert-danger" style='margin-bottom: 0;' ng-repeat='error in searcher.userErrors'>
            {{error}}
            <span class="glyphicon glyphicon-remove pull-right"
                  style='cursor:pointer'
                  ng-click='searcher.userErrors.splice($index,1)'>
          </span>
        </p>
        <p class="alert alert-danger" style='margin-bottom: 0;' ng-repeat='error in searcher.groupErrors'>
            {{error}}
            <span class="glyphicon glyphicon-remove pull-right"
                  style='cursor:pointer'
                  ng-click='searcher.groupErrors.splice($index,1)'>
          </span>
        </p>
    </span>
</span>


<div class="row">

    <div class="col-2 col-xs-2 col-sm-2 col-md-2 col-lg-2 hideLongLine" ng-if="searcher.isLoggedInUser" style="min-width: 165px; margin-bottom: 10px">
        <h5><strong>Bulk Actions:</strong></h5>
            <show-network-sets-modal
                    controller-name='searcher'
                    my-account-controller='searcher'
                    my-class="{{(searcher.networkTableRowsSelected == 0) ?
                            'btn btn-primary customButtonWidthOnSearchPage disabled' : 'btn btn-primary customButtonWidthOnSearchPage'}}">
            </show-network-sets-modal>
    </div>

    <div id="searchResultTableId" class='{{searchViewClass}}'>

        <div class="row">
            <div id="spinnerSearchPageId" style="position:relative; top:16em"></div>
        </div>

        <tabset>

            <tab
                    heading='{{networkTabHeading()}}'
                    ng-click="activateTab('Networks')"
                    active="activeTab.Networks">
                <div ng-show='searcher.networkSearchInProgress'><i>Finding Networks...</i></div>
                <div ng-show='searcher.networkSearchNoResults'><i>No Networks Found.</i></div>
                <div id="foundNetworksTableId" ng-show='searcher.showNetworkTable' ui-grid-selection ui-grid="networkSearchGridOptions"
                     ui-grid-resize-columns style="height:540px;"></div>

            </tab>
            <tab
                    heading='{{userTabHeading()}}'
                    ng-click="activateTab('Users')"
                    active="activeTab.Users">
                <div ng-show='searcher.userSearchInProgress'><i>Finding Users...</i></div>
                <div ng-show='searcher.userSearchNoResults'><i>No Users Found.</i></div>
                <div id="foundUsersTableId" ng-show='searcher.userSearchResults' ui-grid-selection ui-grid="userSearchGridOptions"
                     ui-grid-resize-columns style="height:540px;"></div>
            </tab>
            <tab
                    heading='{{groupTabHeading()}}'
                    ng-click="activateTab('Groups')"
                    active="activeTab.Groups">
                <div ng-show='searcher.groupSearchInProgress'><i>Finding Groups...</i></div>
                <div ng-show='searcher.groupSearchNoResults'><i>No Groups Found.</i></div>
                <div id="foundGroupsTableId" ng-show='searcher.groupSearchResults' ui-grid-selection ui-grid="groupSearchGridOptions"
                     ui-grid-resize-columns style="height:540px;"></div>
            </tab>
        </tabset>
    </div>


</div>